﻿@model IEnumerable<Dulwa.v1.ViewModel.EventViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="body-wrapp destination clearfix">
    <section class="d-banner banner-package clearfix flex-box" style="background-image: url('../../images/111.jpg')">
        <div class="package-title ">
            <div class="caption stories-banner-text text-align-center pd-l-40 pd-r-40">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h1>
                                <span>Beautiful Stories</span>
                                <br> Covered by Dulwa
                            </h1>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" style="padding:9px;" placeholder="Eg: Pokhara Portrait">
                                    <a href="#" class="custom-btn primary-btn">Browse</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--Details contente-->
    <section class="details-content">
        <div class="jr-site-centralize ">
            <div class="container-story">
                @*<div class="flex-box">*@
                <div class="row">
                    <div class="col-md-4 sidebar pd-t-80 pd-b-80 pd-l-40 pd-r-40">
                        <div class="create-story">
                            <a asp-action="Create" asp-controller="Story" class="custom-btn primary-btn">Share your Story</a>

                        </div>
                        @*@await Component.InvokeAsync("SideBar")*@

                    </div>
                    <div class="col-md-8 content-wrap col-8-padding-left">

                        <div class="flex-box justify-right">
                            <!--no stretch class-->

                            <div class="left-cont-wrapp storieslist">
                                <!--Category Start-->
                              
                    <div class="category-wrap">
                        <div class="title">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <h4>From the </h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <a asp-action="StoryDetailList" asp-controller="Story" asp-route-id="" class="custom-btn light-grey-btn pull-right">View all</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="stories-list row common-posts">
                          

                        </div>

                    </div>

                </div>
            </div>
        </div>
                    </div>
                </div>
            </div>
    </section>





</div>


