﻿@{
    ViewData["Title"] = "Access denied";
}
<div class="body-wrapp destination clearfix bg-white" style="height:400px;">
    <section class="details-content">
        <div class="jr-site-centralize ">
            <div class="flex-box pd-t-100">
                <div class="container text-center">
                    <div class="col-md-6 offset-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <h5>@ViewData["Title"]</h5>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-danger">You do not have access to this resource.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
