﻿@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="body-wrapp destination clearfix">
    <section class="details-content">
        <div class="jr-site-centralize ">
            <div class="flex-box pd-t-100">
                <div class="container">
                    <div class="col-md-6 offset-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4 class="text-info">Associate your @ViewData["LoginProvider"] account.</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-material">
                                    <div class="card pd-a-10">
                                        You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
                                        Please enter an email address for this site below and click the Register button to finish
                                        logging in.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                    @*<div asp-validation-summary="All" class="text-danger"></div>*@

                                    <br />
                                    <div class="card-material">
                                        <div class="form-group">
                                            <div class="input-container">
                                                <div class="form-group">
                                                    <input asp-for="FullName" required="required" />
                                                    <label asp-for="FullName"></label>
                                                    <div class="bar"></div>
                                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-container">
                                                <input asp-for="UserName" required="required" />
                                                <label asp-for="UserName"></label>
                                                <div class="bar"></div>
                                                <span asp-validation-for="UserName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-container">
                                                <input asp-for="Email" required="required" />
                                                <label asp-for="Email"></label>
                                                <div class="bar"></div>
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <input asp-for="MobileNumber" type="hidden" />
                                        <button type="submit" class="btn custom-btn primary-btn">Register</button>
                                    </div>
                                    
                                    <br /><br /><br /><br />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
