﻿@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="body-wrapp destination clearfix">
    <section class="details-content">
        <div class="jr-site-centralize ">
            <div class="flex-box pd-t-100">
                <div class="container">
                    <div class="col-md-6 offset-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <h5>@ViewData["Title"]</h5>
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-action="ForgotPassword" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        @*<label asp-for="Email"></label>*@
                                        <input asp-for="Email" class="form-control modal-form-control" placeholder="Enter your email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <button type="submit" class="custom-btn product-button primary-btn">Submit</button>
                                    <br /><br /><br /><br />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
