﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "_accountlayout";
}

<div class="row">
    <div class="col-md-12">
        <br /><br />
              <div class="well">
                  <span class="text-center"> Enter your email address to sign in or create an account</span>
              </div>
        <br /><br />
    </div>
</div>
<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

    <div class="row">
        <div class="col-md-12">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group">
                <input asp-for="UserName" class="form-control modal-form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control modal-form-control margin-buttom-30" id="exampleInputPassword1" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">

                
                <label asp-for="RememberMe" class="checkbox-container">
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                    <span class="checkmark"></span>
                </label>
                
                
                @*<div class="checkbox">
                    
                </div>*@
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <center>
                <button type="submit" class="custom-btn product-button primary-btn"><span>Login</span></button>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group text-left font-small">
                <br />
                
                    <a asp-action="ForgotPassword">Forgot your password?</a><br /><br />
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
            </div>
        </div>
    </div>
   
</form>
<div class="row" style="padding:20px;">
    <div class="col-md-4">
        <hr />
    </div>
    <div class="col-md-4">
        Or Sign in with
    </div>
    <div class="col-md-4">
        <hr />
    </div>

</div>
    <div class="row" style="color: #1c1c1c; padding-bottom: 20px;">
        <div class="col-md-12">
            <div class="form-group text-center">
                @{
                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                    if (loginProviders.Count == 0)
                    {

                    }
                    else
                    {

                        <form asp-action="ExternalLogin" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            @foreach (var provider in loginProviders)
                            {
                                <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    @if (provider.Name == "Facebook")
                                    {
                                        <i class="fa fa-facebook-official"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-google"></i>
                                    }

                                    @provider.Name
                                </button>
                                @*<div class="col-md-4 padding-left-css">
                                        <div class="modal-social-login">
                                            <button value="@provider.Name" style="color: #808080">
                                                <span style="text-align: center;">
                                                    <i class="fa fa-facebook-official"></i> &nbsp;
                                                    @provider.Name
                                                </span>
                                            </button>
                                        </div>
                                    </div>*@
                            }
                        </form>
                    }
                }

            </div>
        </div>
    </div>















    @*<div class="row">
            <div class="col-md-4">
                <section>
                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <h4>Use a local account to log in.</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Log in</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a asp-action="ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <section>
                    <h4>Use another service to log in.</h4>
                    <hr />
                    @{
                        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                        if (loginProviders.Count == 0)
                        {

                        }
                        else
                        {
                            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in loginProviders)
                                        {
                                            <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
        </div>*@

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
