﻿@model LoginWith2faViewModel
@{
    ViewData["Title"] = "Two-factor authentication";
    Layout = "_accountlayout";
}

    <section class="details-content">
        <div class="jr-site-centralize ">
            <div class="flex-box pd-t-100">
                <div class="container">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <h4>@ViewData["Title"]</h4>
                                <hr />
                                <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                                    <input asp-for="RememberMe" type="hidden" />
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="TwoFactorCode"></label>
                                        <input asp-for="TwoFactorCode" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label asp-for="RememberMachine">
                                                <input asp-for="RememberMachine" />
                                                @Html.DisplayNameFor(m => m.RememberMachine)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default">Log in</button>
                                        <br /><br />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    Don't have access to your authenticator device? You can
                                    <a asp-action="LoginWithRecoveryCode" asp-route-returnUrl="@ViewData["ReturnUrl"]">log in with a recovery code</a>.
                                </p>
                                <br /><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}