﻿@model LoginWithRecoveryCodeViewModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<div class="body-wrapp destination clearfix">
    <section class="details-content">
        <div class="jr-site-centralize ">
            <div class="flex-box pd-t-100">
                <div class="container">
                    <div class="col-md-6 offset-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <h4>@ViewData["Title"]</h4>
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-info">
                                    You have requested to login with a recovery code. This login will not be remembered until you provide
                                    an authenticator app code at login or disable 2FA and login again.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="RecoveryCode"></label>
                                        <input asp-for="RecoveryCode" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="RecoveryCode" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-default">Log in</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}