﻿@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset your password";
}

<div class="body-wrapp destination clearfix">
    <section class="details-content">
        <div class="jr-site-centralize ">
            <div class="flex-box pd-t-100">
                <div class="container">
                    <div class="col-md-6 offset-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <h4>@ViewData["Title"]</h4>
                                <br />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <input asp-for="Code" type="hidden" />
                                    <div class="form-group">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="form-control modal-form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password"></label>
                                        <input asp-for="Password" class="form-control modal-form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword"></label>
                                        <input asp-for="ConfirmPassword" class="form-control modal-form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="custom-btn product-button primary-btn">Reset</button>
                                    <br /><br /><br /><br />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
