﻿@{
    Layout = "/Views/Shared/_userlayout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <div class="card pd-a-20">
            <div class="form-group">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card pd-t-20 pd-b-20 pd-l-10 pd-r-10">
            <div class="form-group">
                @await Html.PartialAsync("_ManageNav")
            </div>
        </div>

    </div>
</div>

     @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/Tether/dist/js/tether.js"></script>
<script src="~/lib/vendors/bootstrap/bootstrap.min.js"></script>
<script src="~/lib/vendors/bootstrap/bootstrap-dropdownhover.min.js"></script>*@

@section Scripts {
    @RenderSection("Scripts", required: false)
}

