﻿@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-xs-1">
                        @if (Model.Profile != null)
    {
                    <img src="~/Content/Uploaded/@Model.Profile" class="img-circle img-responsive" id="previewimage" height="90" width="90"/>
}
else
{
                    <img src="~/images/user_placeholder.png" class="img-circle img-responsive" id="previewimage" height="90" width="90"/>
}
                    </div>
                    <div class="col-md-1 col-xs-4">
                        @User.FindFirst("FullName").Value
                    </div>
                </div>
                <input asp-for="File" onchange="$('#previewimage')[0].src = window.URL.createObjectURL(this.files[0])"/>
            </div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
        {
            <div class="input-group">
                <input asp-for="Email" class="form-control" />
                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
            </div>
}
else
{
        <input asp-for="Email" class="form-control" />
        <button asp-action="SendVerificationEmail" class="btn btn-link">Send verification email</button>
}
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
