@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "Two-factor authentication";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="breadcrumb">@ViewData["Title"]</div>
        </div>
        <div class="form-group">

            @if (Model.Is2faEnabled)
            {
                if (Model.RecoveryCodesLeft == 0)
                {
                    <div class="alert alert-danger">
                        <strong>You have no recovery codes left.</strong>
                        <p>You must <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
                    </div>
                }
                else if (Model.RecoveryCodesLeft == 1)
                {
                    <div class="alert alert-danger">
                        <strong>You have 1 recovery code left.</strong>
                        <p>You can <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                    </div>
                }
                else if (Model.RecoveryCodesLeft <= 3)
                {
                    <div class="alert alert-warning">
                        <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
                        <p>You should <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                    </div>
                }

                <a asp-action="Disable2faWarning" class="btn btn-default">Disable 2FA</a>
                <a asp-action="GenerateRecoveryCodes" class="btn btn-default">Reset recovery codes</a>
            }
        </div>

        <div class="form-group">
            <div class="breadcrumb">
                Authenticator app
            </div>
        </div>
        <div class="form-group">
            @if (!Model.HasAuthenticator)
            {
                <a asp-action="EnableAuthenticator" class="btn btn-info">Add authenticator app</a>
            }
            else
            {
                <a asp-action="EnableAuthenticator" class="btn btn-success">Configure authenticator app</a>
                <a asp-action="ResetAuthenticatorWarning" class="btn btn-danger">Reset authenticator key</a>
            }
        </div>
    </div>
</div>





@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
