﻿@model IEnumerable<Dulwa.v1.Entity.Advertisement>

@{
    ViewData["Title"] = "Index";
}
<!--Modified view-->
<div class="table-responsive">
    <table id="myTable" class="table table-hover" style="display:none">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.imageUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.redirectUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created_Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated_Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.imageUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.redirectUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated_Date)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row" id="address-loading-placeholder">
    <div class="col-md-1 col-xs-3"><div class="loader loader-blue"></div></div>
    <div class="col-md-3 col-xs-9">Loading Data...</div>
</div>
<br /><br />
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus"></i> Add New</a>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#address-loading-placeholder').fadeOut(3000, function () {
                $('#myTable').fadeIn();
            });
            $('#myTable').DataTable({
                "order": [[0, "asc"]]
            });
        });
    </script>
}