﻿@{
    ViewData["Title"] = "About";
}
<div class="body-wrapp destination clearfix bg-white" style="height:400px;">
    <section class="details-content">
        <div class="jr-site-centralize ">
            <div class="flex-box pd-t-100">
                <div class="container">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <h5>@ViewData["Title"]</h5>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h2>@ViewData["Message"]</h2>
                                <p>Use this area to provide additional information.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

