﻿@{
    ViewData["Title"] = "Contact";
}
<div class="body-wrapp destination clearfix bg-white">
    <section class="details-content">
        <div class="jr-site-centralize ">
            <div class="flex-box pd-t-100">
                <div class="container">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <br />
                                <h5>@ViewData["Title"]</h5>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h2>@ViewData["Message"]</h2>
                                <address>
                                    One Microsoft Way<br />
                                    Redmond, WA 98052-6399<br />
                                    <abbr title="Phone">P:</abbr>
                                    425.555.0100
                                </address>

                                <address>
                                    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
                                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                                </address>
                                <br /><br /><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


