﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="body-wrapp landing-page" id="body-wrapp-margin-bottom" ng-controller="MapController">
    <div class="jr-site-wrap flex-box">
        <!--left-->
        <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-12" style="z-index:12">
                <div class="jr-site-left" id="menu">
                    <div class="content">
                        <div class="d-t">
                            <div class="d-t-c-m" style="padding-top:60px;">

                                <div style="width:300px;height:250px;background:#808080;padding-top:100px;margin:20px 0px;" class="text-center">
                                    Advertisement<br />
                                    300x250
                                </div>
                                <h2>Explore Nepal</h2>
                                <p>Search a destination or an activity</p>
                                <div class="search-box flex-box" style="width:300px;">
                                    <div class="input-box">
                                        <input type="text" ng-model="name" ng-change="search(name)" #ctrl="ngModel" placeholder="e.g. Mustang or hiking in mustang">
                                    </div>
                                    <div class="search-btn">
                                        <a ng-click="search(name)" class="cursor-pointer">
                                            <span class="ti-search" style="font-size:24px;"></span>
                                        </a>
                                    </div>
                                </div>
                                @*<div style="margin-top:20px;height:40px;" >
                                        <img src="~/images/loading.gif" ng-show="loadingicon" height="50" width="50" />
                                    </div>*@
                                <div class="row hidden-md-up">
                                    <div id="content" style="padding:30px;">
                                        <div class="flex-box" style="padding:10px 0px;" ng-repeat="element in dulwinfotop">
                                            <div class="destination-img">
                                                <img src="/content/uploaded/ImageResize/Extra-Small-{{element.image}}" class="img-circle" width="50" height="50" />
                                            </div><div class="destination-info" style="padding-left: 10px !important; margin-top:5px;">
                                                <b class="text-no-wrap" style="font-weight:bold">{{element.name}}</b>
                                                @*<p>{{element.shortDescription}}</p>*@
                                                <a href="/destination/{{element.slug}}" style="color:#fff;font-size:11px;">Explore More <i class="ti-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="row supporters" style="padding-left:20px;">
                                    <div class="col-md-12">
                                        <p style="margin-left:-10px;">Supported by:</p>
                                    </div>
                                    <div class="col-xs-3">
                                        <a href="#">
                                            <img src="~/images/supporterLogo1.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-3">
                                        <a href="#">
                                            <img src="~/images/supporterLogo1.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-3">
                                        <a href="#">
                                            <img src="~/images/supporterLogo1.png">
                                        </a>
                                    </div>
                                    <div class="col-xs-3">
                                        <a href="#">
                                            <img src="~/images/supporterLogo1.png">
                                        </a>
                                    </div>
                                </div>
                                @*<div class="supporters">
                                    <p>Supported by:</p>
                                    <a href="#">
                                        <img src="~/images/supporterLogo1.png">
                                    </a>
                                    <a href="#">
                                        <img src="~/images/supporterLogo1.png">
                                    </a>
                                    <a href="#">
                                        <img src="~/images/supporterLogo1.png">
                                    </a>
                                    <a href="#">
                                        <img src="~/images/supporterLogo1.png">
                                    </a>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 hidden-md-down hidden-sm-down">
                <!--Right-->
                <div class="jr-site-right ">

                    <div class="d-t" ng-init="DulwaInfoTop();LoadMap();">
                        @*<a href="#" ><i class="fa fa-arrow-left home-logo-toggle" aria-hidden="true" id="menuaction"></i></a>*@
                        <div class="d-t-c-m ">
                            <div class="compass">
                                <img src="~/images/compas.png">
                            </div>

                            <div class="pd-l-40 pd-r-40" id="map-canvas" style="width:900px;height:650px;image-orientation:inherit;">
                                <!--compass-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<style>
    #iw-content {
        top: 100px;
    }

    #map-canvas div.d-info {
        right: -10px !important;
    }
</style>



@section Scripts{
    <script src="~/AngularServices/Services/mapServices.js"></script>
    <script src="~/angularservices/controllers/mapcontroller.js"></script>

    <script>
        //$(document).ready(function () {
        //    $('#map-canvas').removeClass("gm-style-iw");
        //});

        $('#menuaction').click(function () {
            if ($(this).hasClass('fa-arrow-left')) {

                $('#menu').css('display', 'none')
                $(this).removeClass('fa-arrow-left').addClass('fa-bars');

            }
            else {
                $('#menu').css('display', 'block');
                $(this).removeClass('fa-bars').addClass('fa-arrow-left');
            }

        });



            //function myFunction() {
            //    var x = document.getElementById("menu");
            //    if (x.style.display === "none") {
            //        x.style.display = "block";
            //    } else {
            //        x.style.display = "none";
            //    }

            //    var d = document.getElementById("menu1");
            //    d.className += " fa fa-bars";
            //}
    </script>
    @*<script>
            $("#example-basic").steps({
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                autoFocus: true
            });
        </script>*@
}
