﻿@model Dulwa.v1.Entity.StoreCategory
<!--Modified view-->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 card">
                <img src="~/Content/Uploaded/@Html.DisplayFor(model => model.ImageUrl)" width="100%" />
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <td colspan="2">
                            <h3>Store Category Details</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Name)</td>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Created_Date)</td>
                        <td>@Html.DisplayFor(model => model.Created_Date)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Updated_Date)</td>
                        <td>@Html.DisplayFor(model => model.Updated_Date)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
                            <a asp-action="Index" class="btn btn-success">Back to List</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
