/*body {
    background: #e9e9e9;
    color: #666666;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}*/

body {
    color: #666666;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Pen Title */
.pen-title {
    /*padding: 50px 0;*/
    text-align: center;
    letter-spacing: 2px;
}

    .pen-title h1 {
        margin: 0 0 20px;
        font-size: 48px;
        font-weight: 300;
    }

    .pen-title span {
        font-size: 12px;
    }

        .pen-title span .fa {
            color: #215a86;
        }

        .pen-title span a {
            color: #215a86;
            font-weight: 600;
            text-decoration: none;
        }

/* Rerun */
.rerun {
    margin: 0 0 30px;
    text-align: center;
}

    .rerun a {
        cursor: pointer;
        display: inline-block;
        background: #215a86;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 10px 20px;
        color: #ffffff;
        text-decoration: none;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

        .rerun a:hover {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }

/* Scroll To Bottom */
#codepen, #portfolio {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #363636;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    color: #ffffff;
    text-align: center;
}

    #codepen i, #portfolio i {
        line-height: 56px;
    }

    #codepen:hover, #portfolio:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

/* CodePen */
#portfolio {
    bottom: 96px;
    right: 36px;
    background: #215a86;
    width: 44px;
    height: 44px;
    -webkit-animation: buttonFadeInUp 1s ease;
    animation: buttonFadeInUp 1s ease;
}

    #portfolio i {
        line-height: 44px;
    }

/* Container */
.container {
    /*position: relative;
    max-width: 600px;
    width: 100%;
    margin: 0 auto 100px;*/
}

    .container.active .card-material:first-child {
        /*background: #f2f2f2;*/
        margin: 0 15px;
    }

    .container.active .card-material:nth-child(2) {
        /*background: #fafafa;*/
        margin: 0 10px;
    }

    .container.active .card-material.alt {
        top: 20px;
        right: 0;
        width: 100%;
        min-width: 100%;
        height: auto;
        border-radius: 5px;
        padding: 60px 0 40px;
        overflow: hidden;
    }

        .container.active .card-material.alt .toggle {
            position: absolute;
            top: 40px;
            right: -70px;
            box-shadow: none;
            -webkit-transform: scale(10);
            transform: scale(10);
            -webkit-transition: -webkit-transform .3s ease;
            transition: -webkit-transform .3s ease;
            transition: transform .3s ease;
            transition: transform .3s ease, -webkit-transform .3s ease;
        }

            .container.active .card-material.alt .toggle:before {
                content: '';
            }

        .container.active .card-material.alt .title,
        .container.active .card-material.alt .input-container,
        .container.active .card-material.alt .button-container {
            left: 0;
            opacity: 1;
            visibility: visible;
            -webkit-transition: .3s ease;
            transition: .3s ease;
        }

        .container.active .card-material.alt .title {
            -webkit-transition-delay: .3s;
            transition-delay: .3s;
        }

        .container.active .card-material.alt .input-container {
            -webkit-transition-delay: .4s;
            transition-delay: .4s;
        }

            .container.active .card-material.alt .input-container:nth-child(2) {
                -webkit-transition-delay: .5s;
                transition-delay: .5s;
            }

            .container.active .card-material.alt .input-container:nth-child(3) {
                -webkit-transition-delay: .6s;
                transition-delay: .6s;
            }

        .container.active .card-material.alt .button-container {
            -webkit-transition-delay: .7s;
            transition-delay: .7s;
        }

/* card-material */
.card-material {
    /*position: relative;*/
    width:100%;
    /*background: #ffffff;*/
    /*border-radius: 5px;*/
    padding: 10px 0 40px 0;
    /*box-sizing: border-box;*/
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
    -webkit-transition: .3s ease;
    transition: .3s ease;
    /* Title */
    /* Inputs */
    /* Button */
    /* Footer */
    /* Alt card-material */
}

    .card-material:first-child {
        /*background: #fafafa;*/
        /*height: 10px;*/
        border-radius: 5px 5px 0 0;
        margin: 0 10px;
        padding: 0;
    }

    .card-material .title {
        position: relative;
        z-index: 1;
        border-left: 5px solid #215a86;
        margin: 0 0 35px;
        padding: 10px 0 10px 50px;
        color: #215a86;
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .card-material .input-container {
        position: relative;
        margin: 0px 30px 30px 30px;
    }

        .card-material .input-container input {
            outline: none;
            z-index: 1;
            position: relative;
            background: none;
            width: 100%;
            height: 50px;
            border: 0;
            color: #212121;
            font-size: 16px;
            font-weight: 400;
        }

            .card-material .input-container input:focus ~ label {
                color: #9d9d9d;
                -webkit-transform: translate(-12%, -50%) scale(0.75);
                transform: translate(-12%, -50%) scale(0.75);
            }

            .card-material .input-container input:focus ~ .bar:before, .card-material .input-container input:focus ~ .bar:after {
                width: 50%;
            }


            .card-material .input-container input:valid ~ label {
                color: #1c9ef3;
                -webkit-transform: translate(-12%, -50%) scale(0.75);
                transform: translate(-12%, -50%) scale(0.75);
            }
            .card-material .input-container input:focus ~ label {
                color: #1c9ef3;
            }

        .card-material .input-container label {
            position: absolute;
            top: 0;
            left: 0;
            color: #757575;
            font-size: 16px;
            font-weight: 300;
            line-height: 60px;
            -webkit-transition: 0.2s ease;
            transition: 0.2s ease;
        }

        .card-material .input-container .bar {
            position: absolute;
            left: 0;
            bottom: 0;
            background: #757575;
            width: 100%;
            height: 1px;
        }

            .card-material .input-container .bar:before, .card-material .input-container .bar:after {
                content: '';
                position: absolute;
                background: #1c9ef3;
                width: 0;
                height: 1px;
                -webkit-transition: .2s ease;
                transition: .2s ease;
            }

            .card-material .input-container .bar:before {
                left: 50%;
            }

            .card-material .input-container .bar:after {
                right: 50%;
            }

    .card-material .button-container {
        margin: 0 60px;
        text-align: center;
    }

        .card-material .button-container button {
            outline: 0;
            cursor: pointer;
            position: relative;
            display: inline-block;
            background: 0;
            width: 100%;
            border: 2px solid #215a86;
            padding: 20px 0;
            font-size: 24px;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            overflow: hidden;
            -webkit-transition: .3s ease;
            transition: .3s ease;
        }

            .card-material .button-container button span {
                position: relative;
                z-index: 1;
                color: #215a86;
                -webkit-transition: .3s ease;
                transition: .3s ease;
            }

            .card-material .button-container button:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                background: #215a86;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                margin: -15px 0 0 -15px;
                opacity: 0;
                -webkit-transition: .3s ease;
                transition: .3s ease;
            }

            .card-material .button-container button:hover, .card-material .button-container button:active, .card-material .button-container button:focus {
                border-color: #215a86;
            }

                .card-material .button-container button:hover span, .card-material .button-container button:active span, .card-material .button-container button:focus span {
                    color: #215a86;
                }

                .card-material .button-container button:active span, .card-material .button-container button:focus span {
                    color: #ffffff;
                }

                .card-material .button-container button:active:before, .card-material .button-container button:focus:before {
                    opacity: 1;
                    -webkit-transform: scale(10);
                    transform: scale(10);
                }

    .card-material .footer {
        margin: 40px 0 0;
        color: #d3d3d3;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
    }

        .card-material .footer a {
            color: inherit;
            text-decoration: none;
            -webkit-transition: .3s ease;
            transition: .3s ease;
        }

            .card-material .footer a:hover {
                color: #bababa;
            }

    .card-material.alt {
        position: absolute;
        top: 40px;
        right: -70px;
        z-index: 10;
        width: 140px;
        height: 140px;
        background: none;
        border-radius: 100%;
        box-shadow: none;
        padding: 0;
        -webkit-transition: .3s ease;
        transition: .3s ease;
        /* Toggle */
        /* Title */
        /* Input */
        /* Button */
    }

        .card-material.alt .toggle {
            position: relative;
            background: #215a86;
            width: 140px;
            height: 140px;
            border-radius: 100%;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            color: #ffffff;
            font-size: 18px;
            line-height: 140px;
            text-align: center;
            cursor: pointer;
        }

            .card-material.alt .toggle:before {
                /*content: '\f18c';*/
                content: 'Register Here';
                display: inline-block;
                /*font: normal normal normal 14px/1 FontAwesome;
                font-family:'Arial Rounded MT'*/
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
            }

        .card-material.alt .title,
        .card-material.alt .input-container,
        .card-material.alt .button-container {
            left: 100px;
            opacity: 0;
            visibility: hidden;
        }

        .card-material.alt .title {
            position: relative;
            border-color: #ffffff;
            color: #ffffff;
        }

            .card-material.alt .title .close {
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 60px;
                display: inline;
                color: #ffffff;
                font-size: 58px;
                font-weight: 400;
            }

                .card-material.alt .title .close:before {
                    content: '\00d7';
                }

        .card-material.alt .input-container input {
            color: #ffffff;
        }

            .card-material.alt .input-container input:focus ~ label {
                color: #ffffff;
            }

            .card-material.alt .input-container input:focus ~ .bar:before, .card-material.alt .input-container input:focus ~ .bar:after {
                background: #ffffff;
            }

            .card-material.alt .input-container input:valid ~ label {
                color: #ffffff;
            }

        .card-material.alt .input-container label {
            color: rgba(255, 255, 255, 0.8);
        }

        .card-material.alt .input-container .bar {
            background: rgba(255, 255, 255, 0.8);
        }

        .card-material.alt .button-container button {
            width: 100%;
            background: #ffffff;
            border-color: #ffffff;
        }

            .card-material.alt .button-container button span {
                color: #215a86;
            }

            .card-material.alt .button-container button:hover {
                background: rgba(255, 255, 255, 0.9);
            }

            .card-material.alt .button-container button:active:before, .card-material.alt .button-container button:focus:before {
                display: none;
            }
/* Textarea */
textarea {
    width: 100%;
    height: 3rem;
    background-color: transparent;
}

    textarea.materialize-textarea {
        /*line-height: normal;
        overflow-y: hidden;*/
        /* prevents scroll bar flash */
        /*padding: .8rem 0 .8rem 0;*/
        /* prevents text jump on Enter keypress */
        /*resize: vertical;
        min-height: 10rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;*/
        border: none;
        outline: none;
        border-bottom: 1px solid #1c9ef3;
        height: 5rem;
        min-height: 5rem;
    }
    textarea.materialize-textarea::placeholder {
        padding-top:10px !important;
    }
        .hiddendiv {
    visibility: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    /* future version of deprecated 'word-wrap' */
    padding-top: 1.2rem;
    /* prevents text jump on Enter keypress */
    position: absolute;
    top: 0;
    z-index: -1;
}
textarea {
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}
textarea {
    overflow: auto;
}
    textarea.materialize-textarea {
        /*line-height: normal;
        overflow-y: hidden;
        padding: .8rem 0 .8rem 0;
        resize: none;
        min-height: 3rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;*/
    }
    textarea.materialize-textarea {
        /*background-color: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 3rem;
        width: 100%;
        font-size: 16px;
        margin: 0 0 8px 0;
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-transition: border .3s, -webkit-box-shadow .3s;
        transition: border .3s, -webkit-box-shadow .3s;
        transition: box-shadow .3s, border .3s;
        transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;*/
        border: none;
        outline: none;
        border-bottom: 1px solid #808080;
        height: 5rem;
    }
        textarea.materialize-textarea:disabled,
        textarea.materialize-textarea[readonly="readonly"] {
            color: rgba(0, 0, 0, 0.42);
            border-bottom: 1px dotted rgba(0, 0, 0, 0.42);
        }
            textarea.materialize-textarea:disabled + label,
            textarea.materialize-textarea[readonly="readonly"] + label {
                color: rgba(0, 0, 0, 0.42);
            }
        textarea.materialize-textarea:focus:not([readonly]) {
            border-bottom: 1px solid #26a69a;
            -webkit-box-shadow: 0 1px 0 0 #1c9ef3;
            box-shadow: 0 1px 0 0 #1c9ef3;
        }
            textarea.materialize-textarea:focus:not([readonly]) + label {
                color: #26a69a;
            }
        textarea.materialize-textarea:focus.valid ~ label {
            color: #4CAF50;
        }
/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
    0% {
        bottom: 30px;
        opacity: 0;
    }
}

@keyframes buttonFadeInUp {
    0% {
        bottom: 30px;
        opacity: 0;
    }
}
