﻿@model Dulwa.v1.ViewModel.StoreViewModel
<!--Modified view-->
<h4>Create New Product</h4>
<div class="card padding-20">
    Please fill up all the requirement fields
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input type="number" asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreCategoryId" class="control-label"></label>
                <select asp-for="StoreCategoryId" class="form-control" asp-items="ViewBag.StoreCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label><br />
                <img src="~/images/default_image.png" class="userimg img-circle img-thumbnail" id="previewimage" alt="img">
                <br /><br />
                <div class="waves-effect waves-light">
                    <input type="file" class="upload" name="File" onchange="$('#previewimage')[0].src = window.URL.createObjectURL(this.files[0])" />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
