﻿@model Dulwa.v1.ViewModel.StoreDetailViewModel
<!--Modified view-->
<h4>Create Story Detail</h4>
<div class="card padding-20">
    Please fill up all the requirement fields
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="StoreDetail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="StoreId" value="@ViewBag.id" />
                <label asp-for="color[0]" class="control-label"></label>
                <input asp-for="color[0]" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="size[0]" class="control-label"></label>
                <input asp-for="size[0]" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="imageUrl[0]" class="control-label"></label>
                <input asp-for="imageUrl[0]" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>

