﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dulwa</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/import.css" />
        <link rel="stylesheet" href="~/css/owl/owl.carousel.min.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/import.css" />
        <link rel="stylesheet" href="~/css/owl/owl.carousel.min.css" asp-append-version="true" />        
    </environment>
</head>
<body ng-app="startapp">
    <div class="container">
        <div class="col-md-6 offset-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <center>
                            <a asp-action="index" asp-controller="home">
                                <img class="margin-top-15" src="~/images/logoblack.png" height="60">
                            </a>
                        </center>
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/vendors/jquery.min.js"></script>

        <script src="~/lib/plugins.js"></script>
        <script src="~/lib/customCode.js"></script>

        <script src="~/lib/vendors/bootstrap/bootstrap.min.js"></script>      
    </environment>
    <environment exclude="Development">
        <script src="~/lib/vendors/jquery.min.js"></script>

        <script src="~/lib/plugins.js"></script>
        <script src="~/lib/customCode.js"></script>

        <script src="~/lib/vendors/bootstrap/bootstrap.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
