﻿@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dulwa</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/import.css" />
        <link rel="stylesheet" href="~/css/owl/owl.carousel.min.css" asp-append-version="true" />
        @*<link href="~/css/Materialcss/style.css" rel="stylesheet" />*@
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/import.css" />
        @*<link href="~/css/Materialcss/style.css" rel="stylesheet" />*@
    </environment>
</head>
<body ng-app="startapp">
    @*<header class="absolute-header">
            <div class="jr-site-centralize flex-box">
                <div class="col-md-6">
                    <a class="logo-holder"><img src="~/images/logoWht.png" /></a>
                </div>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </header>*@
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-fixed-top" style="overflow: hidden;position: fixed;top: 0;width: 100%;z-index:200;background-color: #1e222c; color:#fff;" ng-controller="CartController">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars fa-2x" aria-hidden="true" style="color: #fff;"></i>
        </button>
        <a class="navbar-brand" asp-action="Index" asp-controller="Home" style="padding-left: 20px"><img src="~/images/logoWht.png" /></a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="color: #fff; padding-right: 0px;">
            @if (SignInManager.IsSignedIn(User))
            {<div class="col-md-7"></div>
            }
            else
            {
                <div class="col-md-5"></div>
            }
            <div class="col-md-4 pull-right">
                <div class="navbar-nav ml-auto  pull-right">
                    <a class="nav-item nav-link active" href="#">Category &nbsp;<i class="fa fa-bars" aria-hidden="true"></i></a>
                    <a class="nav-item nav-link" asp-action="Index" asp-controller="WishList">&nbsp;&nbsp;<i class="fa fa-heart" aria-hidden="true"></i><sup class="count-notification">2</sup></a>
                    <a class="nav-item nav-link" asp-action="CartDetail" asp-controller="Store">&nbsp;&nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"></i><sup class="count-notification">{{total.items}}</sup> ${{total.total}}</a>

                </div>
            </div>

            @await Html.PartialAsync("_LoginPartial")

        </div>
    </nav>
    @RenderBody()
    <hr />
    <footer class="pd-t-60 pd-b-60 text-align-center">
        <div class="jr-site-centralize large-wrap">
            <div class="footer-logo">
                <img src="~/images/logoWht.png">
            </div>
            <div class="footer-link pd-t-20">
                <ul>
                    <li><a asp-action="Index" asp-controller="Store">Store</a> </li>
                    <li><a asp-action="Index" asp-controller="Story">Stories</a> </li>
                    <li><a asp-action="Index" asp-controller="Gallery">Photos & videos</a> </li>
                </ul>
            </div>
            <div class="copyright">© Copyright 2018 Dulwa.com. All Right Reserved</div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/vendors/jquery.min.js"></script>

        <script src="~/lib/plugins.js"></script>
        <script src="~/lib/customCode.js"></script>

        <!--Bootstrao-->
        <script src="~/lib/vendors/bootstrap/bootstrap.min.js"></script>

        <!--flex-slider-->
        <script src="~/lib/vendors/jquery.flexslider-min.js" type="text/javascript"></script>



        <!--Owlcarousel-->
        <script src="~/lib/vendors/owlcarousel/owl.carousel.js"></script>
        <script>
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 4
                    }
                }
            });

        </script>
        <script type="text/javascript" src="~/lib/vendors/aos/aos.js"></script>
        <script>
            AOS.init({
                easing: 'ease-in-out-sine'
            });
        </script>

        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular/angular-resource.js"></script>
        <script src="~/AngularServices/Services/common.services.js"></script>
        <script src="~/AngularServices/App.js"></script>
        <script src="~/AngularServices/Services/mapServices.js"></script>
        <script src="~/AngularServices/Controllers/CartController.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="~/lib/vendors/jquery.min.js"></script>

        <script src="~/lib/plugins.js"></script>
        <script src="~/lib/customCode.js"></script>

        <!--Bootstrao-->
        <script src="~/lib/vendors/bootstrap/bootstrap.min.js"></script>

        <!--flex-slider-->
        <script src="~/lib/vendors/jquery.flexslider-min.js" type="text/javascript"></script>



        <!--Owlcarousel-->
        <script src="~/lib/vendors/owlcarousel/owl.carousel.js"></script>
        <script>
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 4
                    }
                }
            });

        </script>
        <script type="text/javascript" src="~/lib/vendors/aos/aos.js"></script>
        <script>
            AOS.init({
                easing: 'ease-in-out-sine'
            });
        </script>

        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular/angular-resource.js"></script>
        <script src="~/AngularServices/Services/common.services.js"></script>
        <script src="~/AngularServices/App.js"></script>
        <script src="~/AngularServices/Services/mapServices.js"></script>
        <script src="~/AngularServices/Controllers/CartController.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)




</body>
</html>
