﻿@using Microsoft.AspNetCore.Identity
@using Dulwa.v1.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dulwa</title>
    <style>
        .gm-style-iw {
            width: 300px !important;
            top: 0 !important;
            left: 0 !important;
            bottom: 0 !important;
            height: 90px;
            background-color: #fff;
        }
       
        </style>
    <environment include="Development">
        <link href="~/css/loader.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/import.css" />
        <link href="~/lib/Tether/dist/css/tether.css" rel="stylesheet" />
        <link href="~/lib/snazzy-infowindow/snazzy-info-window.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/owl/owl.carousel.min.css" asp-append-version="true" />
        <link href="~/css/w3Tab.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/import.css" />
        <link href="~/lib/Tether/dist/css/tether.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/owl/owl.carousel.min.css" asp-append-version="true" />
        <link href="~/css/Materialcss/style.css" rel="stylesheet" />
        <link href="~/css/w3Tab.css" rel="stylesheet" />
    </environment>
    <style>
        #loader {
            transition: all .3s ease-in-out;
            opacity: 1;
            visibility: visible;
            position: fixed;
            height: 100vh;
            width: 100%;
            background: #2d1c48;
            z-index: 90000
        }

            #loader.fadeOut {
                opacity: 0;
                visibility: hidden
            }

        .spinner {
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            border-radius: 100%;
            /*-webkit-animation: sk-scaleout 1s infinite ease-in-out;
            animation: sk-scaleout 1s infinite ease-in-out;*/
        }

        .nav-colored {
            background-color: #000 !important;
        }

        .nav-transparent {
            background-color: transparent;
        } 
        
         .dropdown:hover > .dropdown-menu {
            display: block;
        }
    </style>
</head>
<body ng-app="startapp">
    <div id="loader">
        <div class="spinner loader loader-violet">
        </div>
    </div>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=1789308011114500&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    @*absolute-header nav-transparent animated*@
    <header class="absolute-header nav-transparent animated" id="myNavigation">
        <div class="jr-site-centralize flex-box">
            <div class="col-md-4">
                <a asp-action="Index" asp-controller="Home" class="logo-holder"><img src="~/images/logoWht.png" /></a>
            </div>
            
            @if (SignInManager.IsSignedIn(User))
            {<div class="col-md-7">
                 <h3 class="pd-t-10 pd-l-100" id="showScrollDest" style="display:none;"> @ViewData["Destination"]</h3>
             </div>
            }
            else
            {
                <div class="col-md-5"></div>
            }
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </header>
    @RenderBody()
    @*<hr />*@
    <footer class="pd-t-60 pd-b-60 text-align-center" style="z-index:1;">
        <div class="jr-site-centralize large-wrap">
            <div class="footer-logo">
                <img src="~/images/logoWht.png">
            </div>
            <div class="footer-link pd-t-20">
                <ul>
                    <li><a asp-action="Index" asp-controller="Store">Store</a> </li>
                    <li><a asp-action="Index" asp-controller="Story">Stories</a> </li>
                    <li><a asp-action="Index" asp-controller="Gallery">Photos & videos</a> </li>
                    <li><a href="#" target="_blank">Terms & Conditions</a> </li>
                    <li><a href="#" target="_blank">Privacy Policy</a> </li>
                </ul>
            </div>
            <div class="copyright">© Copyright 2018 Dulwa.com. All Right Reserved</div>
            @*<a id="back-to-top" href="#" class="btn btn-circle btn-lg back-to-top" role="button" title="Go to top of the page" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>*@
        </div>
    </footer>

    <environment include="Development">
        @await Html.PartialAsync("_ValidationScriptsPartial")
        <script src="~/lib/NavScroll.js"></script>
        @*<script src="~/lib/vendors/jquery.min.js"></script>*@

        <script src="~/lib/plugins.js"></script>
        <script src="~/lib/customCode.js"></script>

        <!--Bootstrao-->
        <script src="~/lib/Tether/dist/js/tether.js"></script>
        <script src="~/lib/vendors/bootstrap/bootstrap.min.js"></script>
        <script src="~/lib/vendors/bootstrap/bootstrap-dropdownhover.min.js"></script>

        <!--flex-slider-->
        <script src="~/lib/vendors/jquery.flexslider-min.js" type="text/javascript"></script>
        <!--Owlcarousel-->
        <script src="~/lib/vendors/owlcarousel/owl.carousel.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsOKYv9jFWsL9ddXa9T7XcPuprTTdmrSU&libraries=geometry"></script>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

        <script type="text/javascript" src="~/lib/vendors/aos/aos.js"></script>
        <script>
            AOS.init({
                easing: 'ease-in-out-sine'
            });
        </script>
        <script src="~/lib/snazzy-infowindow/snazzy-info-window.min.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular/angular-resource.js"></script>
        <script src="~/AngularServices/Services/common.services.js"></script>
        <script src="~/AngularServices/MapApp.js"></script>

    </environment>
    <environment exclude="Development">
        @await Html.PartialAsync("_ValidationScriptsPartial")
        <script src="~/lib/NavScroll.js"></script>
        @*<script src="~/lib/vendors/jquery.min.js"></script>*@

        <script src="~/lib/plugins.js"></script>
        <script src="~/lib/customCode.js"></script>

        <!--Bootstrao-->
        <script src="~/lib/Tether/dist/js/tether.js"></script>
        <script src="~/lib/vendors/bootstrap/bootstrap.min.js"></script>
        <script src="~/lib/vendors/bootstrap/bootstrap-dropdownhover.min.js"></script>

        <!--flex-slider-->
        <script src="~/lib/vendors/jquery.flexslider-min.js" type="text/javascript"></script>

        <!--Owlcarousel-->
        <script src="~/lib/vendors/owlcarousel/owl.carousel.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsOKYv9jFWsL9ddXa9T7XcPuprTTdmrSU&libraries=geometry"></script>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

        <script type="text/javascript" src="~/lib/vendors/aos/aos.js"></script>
        <script>
            AOS.init({
                easing: 'ease-in-out-sine'
            });
        </script>
        <script src="~/lib/snazzy-infowindow/snazzy-info-window.min.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular/angular-resource.js"></script>
        <script src="~/AngularServices/Services/common.services.js"></script>
        <script src="~/AngularServices/MapApp.js"></script>
    </environment>


    @RenderSection("Scripts", required: false)


    <script type="text/javascript">
        //$('.dropdown-toggle').on('show.bs.dropdown', function () {
        //    $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
        //});

        //// Add slideUp animation to Bootstrap dropdown when collapsing.
        //$('.dropdown-toggle').on('hide.bs.dropdown', function () {
        //    $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
        //});

        $('body').on('mouseenter mouseleave', '.dropdown', function (e) {
            var _d = $(e.target).closest('.dropdown'); _d.addClass('show');
            setTimeout(function () {
                _d[_d.is(':hover') ? 'addClass' : 'removeClass']('show');
                $('[data-toggle="dropdown"]', _d).attr('aria-expanded', _d.is(':hover'));
            }, 300);
        });
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 50) {
                    $('#back-to-top').fadeIn();
                } else {
                    $('#back-to-top').fadeOut();
                }
            });
            // scroll body to 0px on click
            $('#back-to-top').click(function () {
                $('#back-to-top').tooltip('hide');
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });

        });

        window.addEventListener('load', () => {
            const loader = document.getElementById('loader');
            setTimeout(() => {
                loader.classList.add('fadeOut');
            }, 300);
        });
    </script>

</body>
</html>
