@using Microsoft.AspNetCore.Identity
@using Dulwa.v1.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{  /* $('#ddlmenu').dropdown('toggle')*/
    <div class="col-md-1 text-align-left pd-t-10">
        <div class="text-align-right" style="position:fixed;top:20px;right:50px;z-index:300;">
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">                
                <a id="ddlmenu" onmouseover="$('#ddlmenu').dropdown('toggle')" class="dropdown-toggle cursor-pointer" data-toggle="dropdown">
                    @if (User.FindFirst("Profile").Value !=string.Empty)
        {
            <img src="~/Content/Uploaded/@User.FindFirst("Profile").Value" style="border-radius: 30px" height="40" width="40" />

}
else
{

            <img src="~/images/user_placeholder.png" style="border-radius: 30px" height="40px" />

}

                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" title="Manage"> <i class="ti-user mR-10"></i> <span> @(User.FindFirst("FullName").Value)</span></a></li>
                    <li class="divider"></li>
                    <li><a class="dropdown-item cursor-pointer" asp-action="Index" asp-controller="Manage"><i class="ti-settings mR-10"></i> <span> Account Setting</span></a></li>
                    <li><a class="dropdown-item cursor-pointer" asp-action="Create" asp-controller="Story"><i class="ti-marker-alt mR-10"></i> <span> Write a story</span></a></li>
                    <li><a class="dropdown-item cursor-pointer" onclick="document.getElementById('logoutForm').submit();"><i class="ti-power-off mR-10"></i><span> Log out</span></a></li>
                </ul>
            </form>
        </div>

    </div>
}
else
{

    <div class="col-md-3 col-sm-6 pull-right text-align-right pd-t-10">
        <button class="custom-btn cursor-pointer" id="reg-back-color" data-target="#register" data-toggle="modal">
            Register
        </button>
        <button class="custom-btn primary-btn cursor-pointer" data-target="#myModal" data-toggle="modal">Login</button>
    </div>
}


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-css" role="document">
        <div class="modal-content">
            <!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()">             -->
            <div class="modal-body">
                <button type="button" class="close modal-btn pull-right" data-dismiss="modal" aria-label="Close" style="outline:none !important;"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="modal-content-2" style="color: #1c1c1c">
                    <div class="modal-padding">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <center>
                                        <a asp-action="index" asp-controller="home">
                                            <img class="margin-top-15" src="~/images/logoblack.png" height="60">
                                        </a>
                                    </center>
                                </div>
                            </div>
                        </div>

                        <form asp-route-returnurl="@ViewData["ReturnUrl"]" asp-action="Login" asp-controller="Account" method="post">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-material">
                                        <div class="form-group">
                                            <div class="input-container">
                                                <input type="text" id="UserName" name="UserName" required="required" />
                                                <label for="UserName">Enter User Name</label>
                                                <div class="bar"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-container">
                                                <input type="password" id="Password" name="Password" required="required" />
                                                <label for="Password">Enter Password</label>
                                                <div class="bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<input type="email" class="form-control modal-form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">*@
                                    @*<input type="password" class="form-control modal-form-control margin-buttom-30" id="exampleInputPassword1" placeholder="Password">*@
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <button type="submit" class="btn custom-btn primary-btn">Login</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row text-center" style="padding:20px;">
                            <div class="col-md-4 hidden-xs hidden-lg">
                                <hr />
                            </div>
                            <div class="col-md-4 pd-t-10">
                                Or Sign in with
                            </div>
                            <div class="col-md-4">
                                <hr />
                            </div>

                        </div>


                        <div class="row" style="color: #1c1c1c; padding-bottom: 20px;">
                            <div class="col-md-12">
                                <div class="form-group text-center">
                                    @{
                                        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                                        if (loginProviders.Count == 0)
                                        {

                                        }
                                        else
                                        {

                                            <form asp-action="ExternalLogin" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                                @foreach (var provider in loginProviders)
                                                {
                                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                        @if (provider.Name == "Facebook")
                                                        {
                                                            <i class="fa fa-facebook-official"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="fa fa-google"></i>
                                                        }

                                                        @provider.Name
                                                    </button>
                                                    @*<div class="col-md-4 padding-left-css">
                                                            <div class="modal-social-login">
                                                                <button value="@provider.Name" style="color: #808080">
                                                                    <span style="text-align: center;">
                                                                        <i class="fa fa-facebook-official"></i> &nbsp;
                                                                        @provider.Name
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </div>*@
                                                }
                                            </form>
                                        }
                                    }

                                </div>
                            </div>
                        </div>

                    </div>
                    @*<div class="row margin-30">
                            <div class="col-md-8 offset-md-2">
                                <a asp-action="ForgotPassword" asp-controller="Account" ><center>Create Dulwa Account?</center></a>
                            </div>
                        </div>*@

                </div>

            </div>
        </div>
    </div>
</div>


<!-- Modal1 -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-css" role="document">
        <div class="modal-content" style="border: 0px;">
            @*<form (ngSubmit)="onSubmit()">*@
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-action="Register" asp-controller="Account" method="post">
                <div class="modal-body">
                    <button type="button" class="close modal-btn pull-right" data-dismiss="modal" aria-label="Close" style="outline:none !important;"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-content-2">
                        <div class="modal-padding">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <center>
                                            <a asp-action="index" asp-controller="home">
                                                <img class="margin-top-15" src="~/images/logoblack.png" height="60">
                                            </a>
                                        </center>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group text-center">
                                        <span> Enter your email address to sign in or create an account</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-material">
                                        <div class="form-group">
                                            <div class="input-container">
                                                <input type="text" id="FullName" name="FullName" required="required" />
                                                <label for="FullName">Full name</label>
                                                <div class="bar"></div>
                                            </div>
                                            <div class="input-container">
                                                <input type="text" id="username" name="UserName" required="required" />
                                                <label for="username">User Name</label>
                                                <div class="bar"></div>
                                            </div>
                                            <div class="input-container">
                                                <input type="email" id="Email" name="Email" required="required" />
                                                <label for="Email">Email</label>
                                                <div class="bar"></div>
                                            </div>
                                            <div class="input-container">
                                                <input type="password" id="Password" name="Password" />
                                                <label for="Password">Password</label>
                                                <div class="bar"></div>
                                            </div>
                                            <div class="input-container">
                                                <input type="password" id="ConfirmPassword" name="ConfirmPassword" required="required" />
                                                <label for="ConfirmPassword">Confirm Password</label>
                                                <div class="bar"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p align="center" class="modal-row-text-bottom">
                                            By Registering to Dulwa, you agree our <a href="#" style="color:#113cb2;" target="_blank"> Terms & Conditions.</a> Please refer to our <a href="#" style="color:#113cb2;" target="_blank"> Privacy Policy</a> as well.
</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <button type="submit" class="btn custom-btn primary-btn">Register</button>
                                        <br /><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>


<script>
   
</script>


