﻿@using Microsoft.AspNetCore.Identity
@using Dulwa.v1.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dulwa</title>


    <environment include="Development">
        <link rel="stylesheet" href="~/css/import.css" />
        <link href="~/lib/Tether/dist/css/tether.css" rel="stylesheet" />
        <link href="~/lib/Summernote/summernote.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/owl/owl.carousel.min.css" asp-append-version="true" />
        @*<script src="~/lib/vendors/jquery.min.js"></script>*@
        
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/import.css" />
        <link href="~/lib/Tether/dist/css/tether.css" rel="stylesheet" />
        <link href="~/lib/Summernote/summernote.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/owl/owl.carousel.min.css" asp-append-version="true" />
        
    </environment>
    @*<script src="~/lib/SidebarMenu.js"></script>*@
    @*<script src="~/lib/vendors/jquery.min.js"></script>
        <script src="~/lib/bootstrap.bundle.min.js"></script>*@
</head>
<body>
    @*<header class="absolute-header">
            <div class="jr-site-centralize flex-box">
                <div class="col-md-6">
                    <a class="logo-holder"><img src="~/images/logoWht.png" /></a>
                </div>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </header>*@

   

    <header class="navbar navbar-toggleable-md navbar-light bg-faded navbar-fixed-top" style="overflow: hidden;position: fixed;top: 0;width: 100%;z-index:200;background-color: #1e222c; color:#fff;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars fa-2x" aria-hidden="true" style="color: #fff;"></i>
        </button>

        <a class="navbar-brand" asp-action="index" asp-controller="home" style="padding-left: 20px"><img src="~/images/logoWht.png" /></a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="color: #fff; padding-right: 0px;">
            @if (SignInManager.IsSignedIn(User))
            {<div class="col-md-7"></div>
            }
            else
            {
                <div class="col-md-5"></div>
            }
            <div class="col-md-4 pull-right">
                <div class="navbar-nav ml-auto  pull-right">
                    <a class="nav-item nav-link active" href="#">Category &nbsp;<i class="fa fa-bars" aria-hidden="true"></i></a>
                    <a class="nav-item nav-link" asp-action="Index" asp-controller="WishList">&nbsp;&nbsp;<i class="fa fa-heart" aria-hidden="true"></i><sup class="count-notification">2</sup></a>
                    <a class="nav-item nav-link" asp-action="CartDetail" asp-controller="Store">&nbsp;&nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"></i><sup class="count-notification">1</sup> $200</a>
                </div>
            </div>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </header>
    <div class="body-wrapp destination clearfix" style="margin-top:100px;">
        <section class="details-content">
            <div class="jr-site-centralize ">
                <div class="flex-box">
                    <div id="wrapper" class="toggled">
                        <div id="sidebar-wrapper">
                            <ul class="sidebar-nav">
                                <li>
                                    <a asp-action="mytrip" asp-controller="user" class="sidebar-nav-li-active">My Trip</a>
                                </li>
                                <li>
                                    <a asp-action="Purchase" asp-controller="user">Purchase</a>
                                </li>
                                <li>
                                    <a asp-action="Story" asp-controller="user">Story</a>
                                </li>
                                <li>
                                    <a asp-action="Package" asp-controller="user">Package</a>
                                </li>
                            </ul>
                        </div>
                        <div id="page-content-wrapper">
                            <div class="container container-fluid">
                                @*<a href="#menu-toggle" id="menu-toggle"><h4><i id="shwHideIcon" class="fa fa-bars" style="color:#1e222c;"></i></h4></a>*@
                                @RenderBody()
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>
    </div>



    <footer class="pd-t-60 pd-b-60 text-align-center">
        <div class="jr-site-centralize large-wrap">
            <div class="footer-logo">
                <img src="~/images/logoWht.png">
            </div>
            <div class="footer-link pd-t-20">
                <ul>
                    <li><a asp-action="Index" asp-controller="Store">Store</a> </li>
                    <li><a asp-action="Index" asp-controller="Story">Stories</a> </li>
                    <li><a asp-action="Index" asp-controller="Gallery">Photos & videos</a> </li>
                </ul>
            </div>
            <div class="copyright">© Copyright 2018 Dulwa.com. All Right Reserved</div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>

        <script src="~/lib/plugins.js"></script>
        <script src="~/lib/customCode.js"></script>

        <!--Bootstrao-->
        @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        <script src="~/lib/Tether/dist/js/tether.js"></script>
        <script src="~/lib/vendors/bootstrap/bootstrap.min.js"></script>
        <script src="~/lib/vendors/bootstrap/bootstrap-dropdownhover.min.js"></script>
        <!--flex-slider-->
        <script src="~/lib/vendors/jquery.flexslider-min.js" type="text/javascript"></script>
        <!--Owlcarousel-->
        <script src="~/lib/vendors/owlcarousel/owl.carousel.js"></script>
        <script>
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 4
                    }
                }
            });

        </script>
        <script type="text/javascript" src="~/lib/vendors/aos/aos.js"></script>
        <script>
            AOS.init({
                easing: 'ease-in-out-sine'
            });
        </script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/AngularServices/App.js"></script>
    </environment>
    <environment exclude="Development">


        <script src="~/lib/jquery/dist/jquery.min.js"></script>

        <script src="~/lib/plugins.js"></script>
        <script src="~/lib/customCode.js"></script>

        <!--Bootstrao-->
        @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        <script src="~/lib/Tether/dist/js/tether.js"></script>
        <script src="~/lib/vendors/bootstrap/bootstrap.min.js"></script>
        <script src="~/lib/vendors/bootstrap/bootstrap-dropdownhover.min.js"></script>
        <!--flex-slider-->
        <script src="~/lib/vendors/jquery.flexslider-min.js" type="text/javascript"></script>



        <!--Owlcarousel-->
        <script src="~/lib/vendors/owlcarousel/owl.carousel.js"></script>
        <script>
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 4
                    }
                }
            });

        </script>
        <script type="text/javascript" src="~/lib/vendors/aos/aos.js"></script>
        <script>
            AOS.init({
                easing: 'ease-in-out-sine'
            });
        </script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/AngularServices/App.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()">             -->
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <img align="center" class="margin-top-15" src="~/images/logoblack.png">
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <p align="center"></p>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                    <div class="row">
                        <cuppa-oauth [authConfig]="config"></cuppa-oauth>
                    </div>
                    <div class="row margin-top-15">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <input type="text" name="address" class="form-control" placeholder="Email Address" style="border:0px; border-bottom: 1px solid #ddd;">
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="row margin-top-15">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <input type="password" name="password" class="form-control" placeholder="Password" style="border:0px; border-bottom: 1px solid #ddd;">
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
                <div class="row margin-top-30">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <a href="#"><span>Forget Password?</span></a>
                    </div>
                    <div class="col-md-4">
                    </div>

                </div>
                <div class="row margin-top-30 margin-bottom-30">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary form-button" style="right:-6%" align="center">Login</button>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <!-- </form> -->
            </div>
        </div>
    </div>
    <!-- Modal1 -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border: 0px;">
                <form (ngSubmit)="onSubmit()">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal1" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <img align="center" class="margin-top-15" src="~/images/logoblack.png">
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <p align="center">Register</p>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6 margin-top-15">
                                <div class="row social-login-div reg-social-login" style="border: 1px solid #ddd;padding-top: 7px;padding-bottom: 7px;margin: 3px;">

                                    <div class="col-sm-2 social-padding">
                                        <img src="~/images/fb.png">
                                    </div>
                                    <div class="col-sm-10 social-padding">
                                        Login with Faceback
                                    </div>

                                </div>
                                <div class="row social-login-div reg-social-login" style="border: 1px solid #ddd;padding-top: 7px;padding-bottom: 7px;margin: 3px;">
                                    <div class="col-md-2 social-padding">
                                        <img src="~/images/twitter.png">
                                    </div>
                                    <div class="col-md-10 social-padding">
                                        Login with Twitter
                                    </div>
                                </div>
                                <div class="row social-login-div reg-social-login" style="border: 1px solid #ddd;padding-top: 7px;padding-bottom: 7px;margin: 3px;">
                                    <div class="col-md-2 social-padding">
                                        <img src="~/images/google.png">
                                    </div>
                                    <div class="col-md-10 social-padding">
                                        Login with Google
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-30">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <a href="#"><span style="padding-left: 20px">Create Dulwa Account?</span></a>
                        </div>
                        <div class="col-md-3">
                        </div>

                    </div>
                    <div class="row margin-top-30 margin-bottom-30">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <p align="center" style="font-size: 13px;"></p>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var url = window.location;
            $('#sidebar-wrapper .sidebar-nav').find('.sidebar-nav-li-active').removeClass('sidebar-nav-li-active');
            $('#sidebar-wrapper .sidebar-nav li a').each(function () {
                if (this.href == url) {
                    $(this).parent().addClass('sidebar-nav-li-active');
                }
            });

            //$('.dropdown-toggle ').on('show.bs.dropdown', function () {
            //    $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
            //});

            //// Add slideUp animation to Bootstrap dropdown when collapsing.
            //$('.dropdown-toggle ').on('hide.bs.dropdown', function () {
            //    $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
            //});
        });
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

    </script>


</body>
</html>
