﻿@model Dulwa.v1.ViewModel.DestinationStopsViewModel

@{
    ViewData["Title"] = "Details";
}
<!--Modified view-->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 card">
                <img src="~/Content/Uploaded/@Html.DisplayFor(model => model.imageUrl)" />

            </div>
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <td colspan="2">
                            <h3>Destination Stops Details</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Name)</td>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Icon)</td>
                        <td>@Html.DisplayFor(model => model.Icon)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.lat)</td>
                        <td>@Html.DisplayFor(model => model.lat)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.lon)</td>
                        <td>@Html.DisplayFor(model => model.lon)</td>
                    </tr>                   
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.DulwaInfo)</td>
                        <td>@Html.DisplayFor(model => model.DulwaInfo.Name)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
                            <a asp-action="Index" class="btn btn-success">Back to List</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

