﻿@model Dulwa.v1.ViewModel.DestinationStopsViewModel

@{
    ViewData["Title"] = "Edit";
}
<!--Modified view-->
<h2>Edit Destination Stops</h2>
<hr />
<div class="row"  ng-controller="MapFullController">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icon" class="control-label"></label>
                <input asp-for="Icon" class="form-control" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lat" class="control-label"></label>
                <input ng-model="mapLat" asp-for="lat" ng-init="mapLat=@Model.lat" class="form-control" />

                <span asp-validation-for="lat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lon" class="control-label"></label>
                <input ng-model="mapLong" asp-for="lon" ng-init="mapLong=@Model.lat" class="form-control" />

                <span asp-validation-for="lon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <img src="~/Content/Uploaded/@Model.imageUrl" class="userimg img-circle img-thumbnail" id="previewimage" alt="img">
                <br /><br />
                <div class="waves-effect waves-light">
                    <input type="file" class="upload" name="File" onchange="$('#previewimage')[0].src = window.URL.createObjectURL(this.files[0])" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="popular" class="control-label"></label>
                <select asp-for="popular" class="form-control multiple" asp-items="ViewBag.popular" multiple="multiple"></select>
                <span asp-validation-for="popular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="expensive" class="control-label"></label>
                <input asp-for="expensive" class="form-control" />
                <span asp-validation-for="expensive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DulwainfoId" class="control-label"></label>
                <select asp-for="DulwainfoId" class="form-control" asp-items="ViewBag.DulwainfoId"></select>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="imageUrl" />
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div ng-click="LoadMapData()" class="days-out text-align-center pd-t-80 pd-t-80 pd-l-40 pd-r-40" id="map-canvas" style="width:100%;height:500px;" ng-init="LoadMap()">
        </div>
    </div>
</div>
@section scripts{
    <script src="~/AngularServices/Services/mapServices.js"></script>
    <script src="~/AngularServices/Controllers/mapFullController.js"></script>
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <script src="~/lib/select2/js/select2.js"></script>
    <script>
        $(document).ready(function () {
            $('.multiple').select2();
        });
    </script>
}