﻿@model Dulwa.v1.ViewModel.SideBarListViewModel
<div class="side-bar-wrap">
    <div class="popular-packages-side">
        <h2>Popular<span>Packages</span></h2>
        @foreach (var package in Model.Package.Select((value, index) => new { Value = value, Index = index }))
        {
            if (package.Index <= 1)
            {
                <div class="item flex-box">
                    <img src="~/Content/Uploaded/@package.Value.image">
                    <div class="info">
                        <a href="" class="title">@package.Value.Description</a>
                        <span class="type">@package.Value.Types</span>
                        <span class="time"> <i class="ti-time"></i>5 Days 4 Nights</span>
                    </div>
                </div>
            }
            else
            {
                break;
            }
        }

        <!--Advertisement section-->
        @foreach (var Advertisement in Model.Advertisement.Select((value, index) => new { Value = value, Index = index }))
        {
            if (Advertisement.Index == 0)
            {
                <div class="row pd-t-10 pd-b-10">
                    <div class="col-md-12 product">
                        <a href="@Advertisement.Value.redirectUrl" target="_blank">
                            <figure>
                                <img src="~/Content/Uploaded/@Advertisement.Value.imageUrl" style="width:100%;min-height:200px;max-height:200px;">
                            </figure>
                        </a>
                    </div>
                </div>
            }
        }

        @foreach (var package in Model.Package.Select((value, index) => new { Value = value, Index = index }))
        {
            if (package.Index > 1)
            {
                <div class="item flex-box">
                    <img src="~/Content/Uploaded/@package.Value.image">
                    <div class="info">
                        <a href="" class="title">@package.Value.Description</a>
                        <span class="type">@package.Value.Types</span>
                        <span class="time"> <i class="ti-time"></i>5 Days 4 Nights</span>
                    </div>
                </div>
            }
        }
    </div>

    <div class="dulwa-stories">
        <h2>Most Read <span>Stories</span></h2>
        @foreach (var story in Model.Story.Select((value, index) => new { Value = value, Index = index }))
        {
            if (story.Index >= 0)
            {
                <div class="item">
                    <img src="~/Content/Uploaded/@story.Value.ImageUrl" />
                    <div class="info">
                        <span class="category">Tradition</span>
                        <a asp-action="StoryDetail" asp-controller="Story" asp-route-Id="@story.Value.slug" class="title">
                            @story.Value.Name
                        </a>
                        <span class="authors">
                            <span><i class="ti-user"></i>@story.Value.Author</span><br />
                            <span><i class="ti-calendar"></i>@story.Value.Date.ToString("dd MMM, yyyy")</span>
                        </span>

                    </div>
                </div>
            }

        }

        <!--Advertisement section-->
        @foreach (var Advertisement in Model.Advertisement.Select((value, index) => new { Value = value, Index = index }))
        {
            if (Advertisement.Index == 2)
            {
                <div class="row pd-t-10 pd-b-10">
                    <div class="col-md-12 product">
                        <a href="@Advertisement.Value.redirectUrl" target="_blank">
                            <figure>
                                <img src="~/Content/Uploaded/@Advertisement.Value.imageUrl" style="width:100%;min-height:200px;max-height:200px;">
                            </figure>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>