﻿.loader {    
    border-radius: 50%;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.loader-md {
    width: 40px;
    height: 40px;
}

.loader-lg {
    width: 60px;
    height: 60px;
}

.loader-gray {
    border: 3px solid #fbf9f9;
    border-top: 3px solid #808080;
}

.loader-blue {
    border: 3px solid #fbf9f9;
    border-top: 3px solid #20aafa;
}
/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

