﻿@model Dulwa.v1.ViewModel.GalleryImageViewModel
@{
    ViewData["Title"] = "ImageDetailEdit";
}
<h4>Add Image</h4>
<div class="card padding-20">
    Please fill up all the requirement fields
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddImage" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GalleryId" value="@ViewBag.GalleryId" />
            <div class="form-group">
                <div class="waves-effect waves-light">
                    <input asp-for="Files" class="upload" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>