﻿@model Dulwa.v1.ViewModel.GalleryVideoViewModel

@{
    ViewData["Title"] = "Delete";
}
<!--Modified view-->
<div class="panel text-center">
    <h2>Are you sure you want to delete this?</h2>
    <div>
        <center>
            @{
        var youtube = Model.VideoUrl.Split("v=");
        var link = youtube[1].Split("&");

            }
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/@link[0]" frameborder="0" gesture="media" allowfullscreen></iframe>

        </center>
        <h4> @Html.DisplayFor(model => model.Title)</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <form asp-action="DeleteVideo">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>