﻿@model Dulwa.v1.ViewModel.GalleryViewModel
@{
    ViewData["Title"] = "GalleryDetail";
}
<!--Modified view-->

<div class="row">
    <div class="col-md-9">
        <h2>Gallery Detail</h2>
    </div>
    <div class="col-md-3">
        <a asp-action="AddImage" asp-controller="Gallery" asp-route-Id="@Model.Id" class="btn btn-primary pull-right">Add Image</a>
        <a asp-action="AddVideo" asp-controller="Gallery" asp-route-Id="@Model.Id" class="btn btn-success pull-right" style="margin-right:2px;">Add Video</a>
    </div>
</div>
<div class="row">
    @foreach (var image in Model.GalleryImage)
    {
        <div class="col-md-3">
            <div class="form-group">
                <a asp-action="ImageDetail" asp-controller="Gallery" asp-route-Id="@image.Id"><img src="~/Content/Uploaded/@image.ImageUrl" width="100%" height="200"></a>
            </div>
        </div>
    }
    @foreach (var video in Model.GalleryVideo)
    {

        <div class="col-md-3">
            <div class="form-group">

                @{
                    var youtube = video.VideoUrl.Split("v=");
                    var link = youtube[1].Split("&");

                }
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/@link[0]" frameborder="0" gesture="media" allowfullscreen></iframe>
                <a asp-action="VideoDetail" asp-controller="Gallery" asp-route-Id="@video.Id">Detail</a>
            </div>
        </div>
    }

</div>


