﻿@model Dulwa.v1.ViewModel.GalleryImageViewModel

@{
    ViewData["Title"] = "ImageDetail";   
}


<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 card">
                <img src="~/Content/Uploaded/@Html.DisplayFor(model => model.ImageUrl)" width="100%" />
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <td colspan="2">
                            <h3>Image  Details</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Title)</td>
                        <td>@Html.DisplayFor(model => model.Title)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Description)</td>
                        <td>@Html.DisplayFor(model => model.Description)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a asp-action="ImageDetailEdit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
                            <a asp-action="DeleteImage" class="btn btn-danger" asp-route-id="@Model.Id">Delete</a>
                            <a asp-action="Index" class="btn btn-success">Back to List</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>