﻿@model Dulwa.v1.ViewModel.GalleryImageViewModel

@{
    ViewData["Title"] = "ImageDetailEdit";
}

<h2>ImageDetailEdit</h2>

<h4>GalleryImageViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ImageDetailEdit" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="GalleryId" />
            <input type="hidden" asp-for="ImageUrl" />
            <div class="form-group">
                <img src="~/Content/Uploaded/@Model.ImageUrl" class="userimg img-circle img-thumbnail" id="previewimage" alt="img">
                <br /><br />
                <div class="waves-effect waves-light">
                    <input type="file" class="upload" name="File" onchange="$('#previewimage')[0].src = window.URL.createObjectURL(this.files[0])" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" id="gallerydescriotion"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

