﻿@model IEnumerable<Dulwa.v1.ViewModel.DulwaInfoViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-6">
        <h2>List of gallery</h2>
    </div>
    <div class="col-md-6">
        <a asp-action="Create" asp-controller="Gallery" class="btn btn-primary pull-right">Create Gallery</a>
    </div>
</div>

<div class="row">
    @foreach (var gallery in Model)
    {
        <div class="col-md-3">
            <div class="form-group">
                <h4>@gallery.Name</h4>
            </div>

            @if (gallery.Gallery != null)
            {
                <div class="form-group">
                    <a asp-action="GalleryDetail" asp-controller="Gallery" asp-route-id="@gallery.Gallery.Id">
                        <img src="~/Content/Uploaded/ImageResize/Small-@gallery.Image" style="width:100%;height:200px;" />
                    </a>
                </div>
                <div class="form-group">
                    <p> <span class="badge badge-pill badge-primary">Image: @gallery.Gallery.GalleryImage.Count</span> <span class="badge badge-pill badge-success">Video: @gallery.Gallery.GalleryVideo.Count</span></p>

                </div>
            }
            else
            {
                <div class="form-group">
                    <img src="~/Content/Uploaded/ImageResize/Small-@gallery.Image" style="width:100%;height:200px;" />
                </div>
            }
        </div>

    }
</div>
