﻿@model Dulwa.v1.ViewModel.GalleryVideoViewModel

@{
    ViewData["Title"] = "ImageDetail";   
}


<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 card">
                @{
                        var youtube = Model.VideoUrl.Split("v=");
                        var link = youtube[1].Split("&");

                }
                <iframe width="100%" height="500" src="https://www.youtube.com/embed/@link[0]" frameborder="0" gesture="media" allowfullscreen></iframe>
               
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <td colspan="2">
                            <h3>Video  Details</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Title)</td>
                        <td>@Html.DisplayFor(model => model.Title)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Description)</td>
                        <td>@Html.DisplayFor(model => model.Description)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a asp-action="EditVideo" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>|
                            <a asp-action="DeleteVideo" class="btn btn-primary" asp-route-id="@Model.Id">Delete</a>
                            <a asp-action="Index" class="btn btn-success">Back to List</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>