﻿@model Dulwa.v1.ViewModel.CuisinesViewModel

@{
    ViewData["Title"] = "Create";
}
<!--Modified view-->
<h4>Create New Cuisine</h4>
<div class="card padding-20">
    Please fill up all the requirement fields
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Communitys" class="control-label"></label>
                <select asp-for="Communitys" class="form-control multiple" asp-items="ViewBag.community" multiple="multiple"></select>

                <span asp-validation-for="Community" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caption" class="control-label"></label>
                <input asp-for="Caption" class="form-control" />
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Festivals" class="control-label"></label>
                <select asp-for="Festivals" class="form-control multiple" asp-items="ViewBag.festival" multiple="multiple"></select>
                <span asp-validation-for="Festival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input type="number" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Videolink" class="control-label"></label>
                <input asp-for="Videolink" class="form-control" />
                <span asp-validation-for="Videolink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <textarea asp-for="Details" class="form-control" id="Description"></textarea>
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe" class="control-label"></label>
                <textarea asp-for="Recipe" class="form-control" id="Description" ></textarea>
                <span asp-validation-for="Recipe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DulwainfoId" class="control-label"></label>
                <select asp-for="DulwainfoId" class="form-control" asp-items="ViewBag.DulwainfoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label><br />
                <img src="~/images/default_image.png" class="userimg img-circle img-thumbnail" id="previewimage" alt="img">
                <br /><br />
                <div class="waves-effect waves-light">
                    <input type="file" class="upload" name="File" onchange="$('#previewimage')[0].src = window.URL.createObjectURL(this.files[0])" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section scripts{ 
<link href="~/lib/select2/css/select2.css" rel="stylesheet" />
<script src="~/lib/select2/js/select2.js"></script>
<script>
    $(document).ready(function () {
        $('.multiple').select2();
    });
</script>

}

