﻿@model Dulwa.v1.ViewModel.CuisinesViewModel

@{
    ViewData["Title"] = "Details";
}

<!--Modified view-->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 card">
                <img src="~/Content/Uploaded/@Html.DisplayFor(model => model.Image)" width="100%" />
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <td colspan="2">
                            <h3>Cuisine Details</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Name)</td>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Community)</td>
                        <td>@Html.DisplayFor(model => model.Community)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Caption)</td>
                        <td>@Html.DisplayFor(model => model.Caption)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Festival)</td>
                        <td>@Html.DisplayFor(model => model.Festival)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Price)</td>
                        <td>@Html.DisplayFor(model => model.Price)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Details)</td>
                        <td>@Html.Raw(Model.Details)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Recipe)</td>
                        <td>@Html.DisplayFor(model => model.Recipe)</td>
                    </tr>                 
                   
                    <tr>
                        <td></td>
                        <td>
                            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
                            <a asp-action="Index" class="btn btn-success">Back to List</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

