@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.flex-box, .d-f, .post-details-page-main-video {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.jr-site-centralize {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
}

    .jr-site-centralize.large-wrap {
        max-width: 1200px;
    }

    .jr-site-centralize.medium-wrap {
        max-width: 1180px;
    }

    .jr-site-centralize.small-wrap {
        max-width: 1020px;
    }

.pd-t-0 {
    padding-top: 0px !important;
}

.pd-t-5 {
    padding-top: 5px !important;
}

.pd-t-10 {
    padding-top: 10px !important;
}

.pd-t-15 {
    padding-top: 15px !important;
}

.pd-t-20 {
    padding-top: 20px !important;
}

.pd-t-25 {
    padding-top: 25px !important;
}

.pd-t-30 {
    padding-top: 30px !important;
}

.pd-t-35 {
    padding-top: 35px !important;
}

.pd-t-40 {
    padding-top: 40px !important;
}

.pd-t-45 {
    padding-top: 45px !important;
}

.pd-t-50 {
    padding-top: 50px !important;
}

.pd-t-55 {
    padding-top: 55px !important;
}

.pd-t-60 {
    padding-top: 60px !important;
}

.pd-t-65 {
    padding-top: 65px !important;
}

.pd-t-70 {
    padding-top: 70px !important;
}

.pd-t-75 {
    padding-top: 75px !important;
}

.pd-t-80 {
    padding-top: 80px !important;
}

.pd-t-85 {
    padding-top: 85px !important;
}

.pd-t-90 {
    padding-top: 90px !important;
}

.pd-t-95 {
    padding-top: 95px !important;
}

.pd-t-100 {
    padding-top: 100px !important;
}

.pd-t-105 {
    padding-top: 105px !important;
}

.pd-t-110 {
    padding-top: 110px !important;
}

.pd-t-115 {
    padding-top: 115px !important;
}

.pd-t-120 {
    padding-top: 120px !important;
}

.pd-t-125 {
    padding-top: 125px !important;
}

.pd-t-130 {
    padding-top: 130px !important;
}

.pd-t-135 {
    padding-top: 135px !important;
}

.pd-t-140 {
    padding-top: 140px !important;
}

.pd-t-145 {
    padding-top: 145px !important;
}

.pd-t-150 {
    padding-top: 150px !important;
}

.pd-t-155 {
    padding-top: 155px !important;
}

.pd-t-160 {
    padding-top: 160px !important;
}

.pd-t-165 {
    padding-top: 165px !important;
}

.pd-t-170 {
    padding-top: 170px !important;
}

.pd-t-175 {
    padding-top: 175px !important;
}

.pd-t-180 {
    padding-top: 180px !important;
}

.pd-t-185 {
    padding-top: 185px !important;
}

.pd-t-190 {
    padding-top: 190px !important;
}

.pd-t-195 {
    padding-top: 195px !important;
}

.pd-t-200 {
    padding-top: 200px !important;
}

.pd-r-0 {
    padding-right: 0px !important;
}

.pd-r-5 {
    padding-right: 5px !important;
}

.pd-r-10 {
    padding-right: 10px !important;
}

.pd-r-15 {
    padding-right: 15px !important;
}

.pd-r-20 {
    padding-right: 20px !important;
}

.pd-r-25 {
    padding-right: 25px !important;
}

.pd-r-30 {
    padding-right: 30px !important;
}

.pd-r-35 {
    padding-right: 35px !important;
}

.pd-r-40 {
    padding-right: 40px !important;
}

.pd-r-45 {
    padding-right: 45px !important;
}

.pd-r-50 {
    padding-right: 50px !important;
}

.pd-r-55 {
    padding-right: 55px !important;
}

.pd-r-60 {
    padding-right: 60px !important;
}

.pd-r-65 {
    padding-right: 65px !important;
}

.pd-r-70 {
    padding-right: 70px !important;
}

.pd-r-75 {
    padding-right: 75px !important;
}

.pd-r-80 {
    padding-right: 80px !important;
}

.pd-r-85 {
    padding-right: 85px !important;
}

.pd-r-90 {
    padding-right: 90px !important;
}

.pd-r-95 {
    padding-right: 95px !important;
}

.pd-r-100 {
    padding-right: 100px !important;
}

.pd-r-105 {
    padding-right: 105px !important;
}

.pd-r-110 {
    padding-right: 110px !important;
}

.pd-r-115 {
    padding-right: 115px !important;
}

.pd-r-120 {
    padding-right: 120px !important;
}

.pd-r-125 {
    padding-right: 125px !important;
}

.pd-r-130 {
    padding-right: 130px !important;
}

.pd-r-135 {
    padding-right: 135px !important;
}

.pd-r-140 {
    padding-right: 140px !important;
}

.pd-r-145 {
    padding-right: 145px !important;
}

.pd-r-150 {
    padding-right: 150px !important;
}

.pd-r-155 {
    padding-right: 155px !important;
}

.pd-r-160 {
    padding-right: 160px !important;
}

.pd-r-165 {
    padding-right: 165px !important;
}

.pd-r-170 {
    padding-right: 170px !important;
}

.pd-r-175 {
    padding-right: 175px !important;
}

.pd-r-180 {
    padding-right: 180px !important;
}

.pd-r-185 {
    padding-right: 185px !important;
}

.pd-r-190 {
    padding-right: 190px !important;
}

.pd-r-195 {
    padding-right: 195px !important;
}

.pd-r-200 {
    padding-right: 200px !important;
}

.pd-b-0 {
    padding-bottom: 0px !important;
}

.pd-b-5 {
    padding-bottom: 5px !important;
}

.pd-b-10 {
    padding-bottom: 10px !important;
}

.pd-b-15 {
    padding-bottom: 15px !important;
}

.pd-b-20 {
    padding-bottom: 20px !important;
}

.pd-b-25 {
    padding-bottom: 25px !important;
}

.pd-b-30 {
    padding-bottom: 30px !important;
}

.pd-b-35 {
    padding-bottom: 35px !important;
}

.pd-b-40 {
    padding-bottom: 40px !important;
}

.pd-b-45 {
    padding-bottom: 45px !important;
}

.pd-b-50 {
    padding-bottom: 50px !important;
}

.pd-b-55 {
    padding-bottom: 55px !important;
}

.pd-b-60 {
    padding-bottom: 60px !important;
}

.pd-b-65 {
    padding-bottom: 65px !important;
}

.pd-b-70 {
    padding-bottom: 70px !important;
}

.pd-b-75 {
    padding-bottom: 75px !important;
}

.pd-b-80 {
    padding-bottom: 80px !important;
}

.pd-b-85 {
    padding-bottom: 85px !important;
}

.pd-b-90 {
    padding-bottom: 90px !important;
}

.pd-b-95 {
    padding-bottom: 95px !important;
}

.pd-b-100 {
    padding-bottom: 100px !important;
}

.pd-b-105 {
    padding-bottom: 105px !important;
}

.pd-b-110 {
    padding-bottom: 110px !important;
}

.pd-b-115 {
    padding-bottom: 115px !important;
}

.pd-b-120 {
    padding-bottom: 120px !important;
}

.pd-b-125 {
    padding-bottom: 125px !important;
}

.pd-b-130 {
    padding-bottom: 130px !important;
}

.pd-b-135 {
    padding-bottom: 135px !important;
}

.pd-b-140 {
    padding-bottom: 140px !important;
}

.pd-b-145 {
    padding-bottom: 145px !important;
}

.pd-b-150 {
    padding-bottom: 150px !important;
}

.pd-b-155 {
    padding-bottom: 155px !important;
}

.pd-b-160 {
    padding-bottom: 160px !important;
}

.pd-b-165 {
    padding-bottom: 165px !important;
}

.pd-b-170 {
    padding-bottom: 170px !important;
}

.pd-b-175 {
    padding-bottom: 175px !important;
}

.pd-b-180 {
    padding-bottom: 180px !important;
}

.pd-b-185 {
    padding-bottom: 185px !important;
}

.pd-b-190 {
    padding-bottom: 190px !important;
}

.pd-b-195 {
    padding-bottom: 195px !important;
}

.pd-b-200 {
    padding-bottom: 200px !important;
}

.pd-l-0 {
    padding-left: 0px !important;
}

.pd-l-5 {
    padding-left: 5px !important;
}

.pd-l-10 {
    padding-left: 10px !important;
}

.pd-l-15 {
    padding-left: 15px !important;
}

.pd-l-20 {
    padding-left: 20px !important;
}

.pd-l-25 {
    padding-left: 25px !important;
}

.pd-l-30 {
    padding-left: 30px !important;
}

.pd-l-35 {
    padding-left: 35px !important;
}

.pd-l-40 {
    padding-left: 40px !important;
}

.pd-l-45 {
    padding-left: 45px !important;
}

.pd-l-50 {
    padding-left: 50px !important;
}

.pd-l-55 {
    padding-left: 55px !important;
}

.pd-l-60 {
    padding-left: 60px !important;
}

.pd-l-65 {
    padding-left: 65px !important;
}

.pd-l-70 {
    padding-left: 70px !important;
}

.pd-l-75 {
    padding-left: 75px !important;
}

.pd-l-80 {
    padding-left: 80px !important;
}

.pd-l-85 {
    padding-left: 85px !important;
}

.pd-l-90 {
    padding-left: 90px !important;
}

.pd-l-95 {
    padding-left: 95px !important;
}

.pd-l-100 {
    padding-left: 100px !important;
}

.pd-l-105 {
    padding-left: 105px !important;
}

.pd-l-110 {
    padding-left: 110px !important;
}

.pd-l-115 {
    padding-left: 115px !important;
}

.pd-l-120 {
    padding-left: 120px !important;
}

.pd-l-125 {
    padding-left: 125px !important;
}

.pd-l-130 {
    padding-left: 130px !important;
}

.pd-l-135 {
    padding-left: 135px !important;
}

.pd-l-140 {
    padding-left: 140px !important;
}

.pd-l-145 {
    padding-left: 145px !important;
}

.pd-l-150 {
    padding-left: 150px !important;
}

.pd-l-155 {
    padding-left: 155px !important;
}

.pd-l-160 {
    padding-left: 160px !important;
}

.pd-l-165 {
    padding-left: 165px !important;
}

.pd-l-170 {
    padding-left: 170px !important;
}

.pd-l-175 {
    padding-left: 175px !important;
}

.pd-l-180 {
    padding-left: 180px !important;
}

.pd-l-185 {
    padding-left: 185px !important;
}

.pd-l-190 {
    padding-left: 190px !important;
}

.pd-l-195 {
    padding-left: 195px !important;
}

.pd-l-200 {
    padding-left: 200px !important;
}

.pd-a-0 {
    padding: 0px !important;
}

.pd-a-5 {
    padding: 5px !important;
}

.pd-a-10 {
    padding: 10px !important;
}

.pd-a-15 {
    padding: 15px !important;
}

.pd-a-20 {
    padding: 20px !important;
}

.pd-a-25 {
    padding: 25px !important;
}

.pd-a-30 {
    padding: 30px !important;
}

.pd-a-35 {
    padding: 35px !important;
}

.pd-a-40 {
    padding: 40px !important;
}

.pd-a-45 {
    padding: 45px !important;
}

.pd-a-50 {
    padding: 50px !important;
}

.pd-a-55 {
    padding: 55px !important;
}

.pd-a-60 {
    padding: 60px !important;
}

.pd-a-65 {
    padding: 65px !important;
}

.pd-a-70 {
    padding: 70px !important;
}

.pd-a-75 {
    padding: 75px !important;
}

.pd-a-80 {
    padding: 80px !important;
}

.pd-a-85 {
    padding: 85px !important;
}

.pd-a-90 {
    padding: 90px !important;
}

.pd-a-95 {
    padding: 95px !important;
}

.pd-a-100 {
    padding: 100px !important;
}

.pd-a-105 {
    padding: 105px !important;
}

.pd-a-110 {
    padding: 110px !important;
}

.pd-a-115 {
    padding: 115px !important;
}

.pd-a-120 {
    padding: 120px !important;
}

.pd-a-125 {
    padding: 125px !important;
}

.pd-a-130 {
    padding: 130px !important;
}

.pd-a-135 {
    padding: 135px !important;
}

.pd-a-140 {
    padding: 140px !important;
}

.pd-a-145 {
    padding: 145px !important;
}

.pd-a-150 {
    padding: 150px !important;
}

.pd-a-155 {
    padding: 155px !important;
}

.pd-a-160 {
    padding: 160px !important;
}

.pd-a-165 {
    padding: 165px !important;
}

.pd-a-170 {
    padding: 170px !important;
}

.pd-a-175 {
    padding: 175px !important;
}

.pd-a-180 {
    padding: 180px !important;
}

.pd-a-185 {
    padding: 185px !important;
}

.pd-a-190 {
    padding: 190px !important;
}

.pd-a-195 {
    padding: 195px !important;
}

.pd-a-200 {
    padding: 200px !important;
}

.mr-t-0 {
    margin-top: 0px !important;
}

.mr-t-5 {
    margin-top: 5px !important;
}

.mr-t-10 {
    margin-top: 10px !important;
}

.mr-t-15 {
    margin-top: 15px !important;
}

.mr-t-20 {
    margin-top: 20px !important;
}

.mr-t-25 {
    margin-top: 25px !important;
}

.mr-t-30 {
    margin-top: 30px !important;
}

.mr-t-35 {
    margin-top: 35px !important;
}

.mr-t-40 {
    margin-top: 40px !important;
}

.mr-t-45 {
    margin-top: 45px !important;
}

.mr-t-50 {
    margin-top: 50px !important;
}

.mr-t-55 {
    margin-top: 55px !important;
}

.mr-t-60 {
    margin-top: 60px !important;
}

.mr-t-65 {
    margin-top: 65px !important;
}

.mr-t-70 {
    margin-top: 70px !important;
}

.mr-t-75 {
    margin-top: 75px !important;
}

.mr-t-80 {
    margin-top: 80px !important;
}

.mr-t-85 {
    margin-top: 85px !important;
}

.mr-t-90 {
    margin-top: 90px !important;
}

.mr-t-95 {
    margin-top: 95px !important;
}

.mr-t-100 {
    margin-top: 100px !important;
}

.mr-t-105 {
    margin-top: 105px !important;
}

.mr-t-110 {
    margin-top: 110px !important;
}

.mr-t-115 {
    margin-top: 115px !important;
}

.mr-t-120 {
    margin-top: 120px !important;
}

.mr-t-125 {
    margin-top: 125px !important;
}

.mr-t-130 {
    margin-top: 130px !important;
}

.mr-t-135 {
    margin-top: 135px !important;
}

.mr-t-140 {
    margin-top: 140px !important;
}

.mr-t-145 {
    margin-top: 145px !important;
}

.mr-t-150 {
    margin-top: 150px !important;
}

.mr-t-155 {
    margin-top: 155px !important;
}

.mr-t-160 {
    margin-top: 160px !important;
}

.mr-t-165 {
    margin-top: 165px !important;
}

.mr-t-170 {
    margin-top: 170px !important;
}

.mr-t-175 {
    margin-top: 175px !important;
}

.mr-t-180 {
    margin-top: 180px !important;
}

.mr-t-185 {
    margin-top: 185px !important;
}

.mr-t-190 {
    margin-top: 190px !important;
}

.mr-t-195 {
    margin-top: 195px !important;
}

.mr-t-200 {
    margin-top: 200px !important;
}

.mr-r-0 {
    margin-right: 0px !important;
}

.mr-r-5 {
    margin-right: 5px !important;
}

.mr-r-10 {
    margin-right: 10px !important;
}

.mr-r-15 {
    margin-right: 15px !important;
}

.mr-r-20 {
    margin-right: 20px !important;
}

.mr-r-25 {
    margin-right: 25px !important;
}

.mr-r-30 {
    margin-right: 30px !important;
}

.mr-r-35 {
    margin-right: 35px !important;
}

.mr-r-40 {
    margin-right: 40px !important;
}

.mr-r-45 {
    margin-right: 45px !important;
}

.mr-r-50 {
    margin-right: 50px !important;
}

.mr-r-55 {
    margin-right: 55px !important;
}

.mr-r-60 {
    margin-right: 60px !important;
}

.mr-r-65 {
    margin-right: 65px !important;
}

.mr-r-70 {
    margin-right: 70px !important;
}

.mr-r-75 {
    margin-right: 75px !important;
}

.mr-r-80 {
    margin-right: 80px !important;
}

.mr-r-85 {
    margin-right: 85px !important;
}

.mr-r-90 {
    margin-right: 90px !important;
}

.mr-r-95 {
    margin-right: 95px !important;
}

.mr-r-100 {
    margin-right: 100px !important;
}

.mr-r-105 {
    margin-right: 105px !important;
}

.mr-r-110 {
    margin-right: 110px !important;
}

.mr-r-115 {
    margin-right: 115px !important;
}

.mr-r-120 {
    margin-right: 120px !important;
}

.mr-r-125 {
    margin-right: 125px !important;
}

.mr-r-130 {
    margin-right: 130px !important;
}

.mr-r-135 {
    margin-right: 135px !important;
}

.mr-r-140 {
    margin-right: 140px !important;
}

.mr-r-145 {
    margin-right: 145px !important;
}

.mr-r-150 {
    margin-right: 150px !important;
}

.mr-r-155 {
    margin-right: 155px !important;
}

.mr-r-160 {
    margin-right: 160px !important;
}

.mr-r-165 {
    margin-right: 165px !important;
}

.mr-r-170 {
    margin-right: 170px !important;
}

.mr-r-175 {
    margin-right: 175px !important;
}

.mr-r-180 {
    margin-right: 180px !important;
}

.mr-r-185 {
    margin-right: 185px !important;
}

.mr-r-190 {
    margin-right: 190px !important;
}

.mr-r-195 {
    margin-right: 195px !important;
}

.mr-r-200 {
    margin-right: 200px !important;
}

.mr-b-0 {
    margin-bottom: 0px !important;
}

.mr-b-5 {
    margin-bottom: 5px !important;
}

.mr-b-10 {
    margin-bottom: 10px !important;
}

.mr-b-15 {
    margin-bottom: 15px !important;
}

.mr-b-20 {
    margin-bottom: 20px !important;
}

.mr-b-25 {
    margin-bottom: 25px !important;
}

.mr-b-30 {
    margin-bottom: 30px !important;
}

.mr-b-35 {
    margin-bottom: 35px !important;
}

.mr-b-40 {
    margin-bottom: 40px !important;
}

.mr-b-45 {
    margin-bottom: 45px !important;
}

.mr-b-50 {
    margin-bottom: 50px !important;
}

.mr-b-55 {
    margin-bottom: 55px !important;
}

.mr-b-60 {
    margin-bottom: 60px !important;
}

.mr-b-65 {
    margin-bottom: 65px !important;
}

.mr-b-70 {
    margin-bottom: 70px !important;
}

.mr-b-75 {
    margin-bottom: 75px !important;
}

.mr-b-80 {
    margin-bottom: 80px !important;
}

.mr-b-85 {
    margin-bottom: 85px !important;
}

.mr-b-90 {
    margin-bottom: 90px !important;
}

.mr-b-95 {
    margin-bottom: 95px !important;
}

.mr-b-100 {
    margin-bottom: 100px !important;
}

.mr-b-105 {
    margin-bottom: 105px !important;
}

.mr-b-110 {
    margin-bottom: 110px !important;
}

.mr-b-115 {
    margin-bottom: 115px !important;
}

.mr-b-120 {
    margin-bottom: 120px !important;
}

.mr-b-125 {
    margin-bottom: 125px !important;
}

.mr-b-130 {
    margin-bottom: 130px !important;
}

.mr-b-135 {
    margin-bottom: 135px !important;
}

.mr-b-140 {
    margin-bottom: 140px !important;
}

.mr-b-145 {
    margin-bottom: 145px !important;
}

.mr-b-150 {
    margin-bottom: 150px !important;
}

.mr-b-155 {
    margin-bottom: 155px !important;
}

.mr-b-160 {
    margin-bottom: 160px !important;
}

.mr-b-165 {
    margin-bottom: 165px !important;
}

.mr-b-170 {
    margin-bottom: 170px !important;
}

.mr-b-175 {
    margin-bottom: 175px !important;
}

.mr-b-180 {
    margin-bottom: 180px !important;
}

.mr-b-185 {
    margin-bottom: 185px !important;
}

.mr-b-190 {
    margin-bottom: 190px !important;
}

.mr-b-195 {
    margin-bottom: 195px !important;
}

.mr-b-200 {
    margin-bottom: 200px !important;
}

.mr-l-0 {
    margin-left: 0px !important;
}

.mr-l-5 {
    margin-left: 5px !important;
}

.mr-l-10 {
    margin-left: 10px !important;
}

.mr-l-15 {
    margin-left: 15px !important;
}

.mr-l-20 {
    margin-left: 20px !important;
}

.mr-l-25 {
    margin-left: 25px !important;
}

.mr-l-30 {
    margin-left: 30px !important;
}

.mr-l-35 {
    margin-left: 35px !important;
}

.mr-l-40 {
    margin-left: 40px !important;
}

.mr-l-45 {
    margin-left: 45px !important;
}

.mr-l-50 {
    margin-left: 50px !important;
}

.mr-l-55 {
    margin-left: 55px !important;
}

.mr-l-60 {
    margin-left: 60px !important;
}

.mr-l-65 {
    margin-left: 65px !important;
}

.mr-l-70 {
    margin-left: 70px !important;
}

.mr-l-75 {
    margin-left: 75px !important;
}

.mr-l-80 {
    margin-left: 80px !important;
}

.mr-l-85 {
    margin-left: 85px !important;
}

.mr-l-90 {
    margin-left: 90px !important;
}

.mr-l-95 {
    margin-left: 95px !important;
}

.mr-l-100 {
    margin-left: 100px !important;
}

.mr-l-105 {
    margin-left: 105px !important;
}

.mr-l-110 {
    margin-left: 110px !important;
}

.mr-l-115 {
    margin-left: 115px !important;
}

.mr-l-120 {
    margin-left: 120px !important;
}

.mr-l-125 {
    margin-left: 125px !important;
}

.mr-l-130 {
    margin-left: 130px !important;
}

.mr-l-135 {
    margin-left: 135px !important;
}

.mr-l-140 {
    margin-left: 140px !important;
}

.mr-l-145 {
    margin-left: 145px !important;
}

.mr-l-150 {
    margin-left: 150px !important;
}

.mr-l-155 {
    margin-left: 155px !important;
}

.mr-l-160 {
    margin-left: 160px !important;
}

.mr-l-165 {
    margin-left: 165px !important;
}

.mr-l-170 {
    margin-left: 170px !important;
}

.mr-l-175 {
    margin-left: 175px !important;
}

.mr-l-180 {
    margin-left: 180px !important;
}

.mr-l-185 {
    margin-left: 185px !important;
}

.mr-l-190 {
    margin-left: 190px !important;
}

.mr-l-195 {
    margin-left: 195px !important;
}

.mr-l-200 {
    margin-left: 200px !important;
}

.mr-a-0 {
    margin: 0px !important;
}

.mr-a-5 {
    margin: 5px !important;
}

.mr-a-10 {
    margin: 10px !important;
}

.mr-a-15 {
    margin: 15px !important;
}

.mr-a-20 {
    margin: 20px !important;
}

.mr-a-25 {
    margin: 25px !important;
}

.mr-a-30 {
    margin: 30px !important;
}

.mr-a-35 {
    margin: 35px !important;
}

.mr-a-40 {
    margin: 40px !important;
}

.mr-a-45 {
    margin: 45px !important;
}

.mr-a-50 {
    margin: 50px !important;
}

.mr-a-55 {
    margin: 55px !important;
}

.mr-a-60 {
    margin: 60px !important;
}

.mr-a-65 {
    margin: 65px !important;
}

.mr-a-70 {
    margin: 70px !important;
}

.mr-a-75 {
    margin: 75px !important;
}

.mr-a-80 {
    margin: 80px !important;
}

.mr-a-85 {
    margin: 85px !important;
}

.mr-a-90 {
    margin: 90px !important;
}

.mr-a-95 {
    margin: 95px !important;
}

.mr-a-100 {
    margin: 100px !important;
}

.mr-a-105 {
    margin: 105px !important;
}

.mr-a-110 {
    margin: 110px !important;
}

.mr-a-115 {
    margin: 115px !important;
}

.mr-a-120 {
    margin: 120px !important;
}

.mr-a-125 {
    margin: 125px !important;
}

.mr-a-130 {
    margin: 130px !important;
}

.mr-a-135 {
    margin: 135px !important;
}

.mr-a-140 {
    margin: 140px !important;
}

.mr-a-145 {
    margin: 145px !important;
}

.mr-a-150 {
    margin: 150px !important;
}

.mr-a-155 {
    margin: 155px !important;
}

.mr-a-160 {
    margin: 160px !important;
}

.mr-a-165 {
    margin: 165px !important;
}

.mr-a-170 {
    margin: 170px !important;
}

.mr-a-175 {
    margin: 175px !important;
}

.mr-a-180 {
    margin: 180px !important;
}

.mr-a-185 {
    margin: 185px !important;
}

.mr-a-190 {
    margin: 190px !important;
}

.mr-a-195 {
    margin: 195px !important;
}

.mr-a-200 {
    margin: 200px !important;
}

.letter-space-0 {
    letter-spacing: 0px !important;
}

.letter-space-neg0 {
    letter-spacing: 0px !important;
}

.letter-space-1 {
    letter-spacing: 1px !important;
}

.letter-space-neg-1 {
    letter-spacing: -1px !important;
}

.letter-space-2 {
    letter-spacing: 2px !important;
}

.letter-space-neg-2 {
    letter-spacing: -2px !important;
}

.letter-space-3 {
    letter-spacing: 3px !important;
}

.letter-space-neg-3 {
    letter-spacing: -3px !important;
}

.letter-space-4 {
    letter-spacing: 4px !important;
}

.letter-space-neg-4 {
    letter-spacing: -4px !important;
}

.letter-space-5 {
    letter-spacing: 5px !important;
}

.letter-space-neg-5 {
    letter-spacing: -5px !important;
}

.letter-space-6 {
    letter-spacing: 6px !important;
}

.letter-space-neg-6 {
    letter-spacing: -6px !important;
}

.letter-space-7 {
    letter-spacing: 7px !important;
}

.letter-space-neg-7 {
    letter-spacing: -7px !important;
}

.letter-space-8 {
    letter-spacing: 8px !important;
}

.letter-space-neg-8 {
    letter-spacing: -8px !important;
}

.letter-space-9 {
    letter-spacing: 9px !important;
}

.letter-space-neg-9 {
    letter-spacing: -9px !important;
}

.letter-space-10 {
    letter-spacing: 10px !important;
}

.letter-space-neg-10 {
    letter-spacing: -10px !important;
}

.align-div-center {
    margin-left: auto;
    margin-right: auto;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.d-b {
    display: block;
}

.d-n {
    display: none;
}

.d-i-b {
    display: inline-block;
    vertical-align: top;
}

.d-t {
    display: table;
    width: 100%;
    height: 100%;
}

    .d-t .d-t-c-t {
        display: table-cell;
        vertical-align: top;
    }

    .d-t .d-t-c-m {
        display: table-cell;
        vertical-align: middle;
    }

.fx-1 {
    flex: 1;
    -ms-flex: 1;
}

.fx-2 {
    flex: 2;
    -ms-flex: 2;
}

.fx-3 {
    flex: 3;
    -ms-flex: 3;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.align-flex-item-center {
    align-items: center;
}

.align-flex-item-right {
    align-items: flex-end;
}

.align-flex-item-left {
    align-items: flex-start;
}

.flex-verticle-top {
    align-self: flex-start;
}

.flex-verticle-bottom {
    align-self: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-left {
    justify-content: flex-start;
}

.justify-right {
    justify-content: flex-end;
}

.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.float-left, .floted-li li {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table;
    clear: both;
}

.fit-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.fit-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

    .fit-background.paralax-bg {
        background-attachment: fixed;
    }

.position-static {
    position: static;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.position-relative {
    position: relative;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-transform-none {
    text-transform: none;
}

.text-transform-uppercase {
    text-transform: uppercase;
}

.text-transform-capital {
    text-transform: capitalize;
}

.floted-li li {
    display: block;
}

.inline-li > li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
}

    .inline-li > li ul li {
        text-align: left;
        list-style: none;
    }

.non-floted-li li {
    float: none;
    display: block;
}

.basic-transition {
    transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.round-radius {
    border-radius: 50%;
}

.x-small-radius {
    border-radius: 2px;
}

.small-radius {
    border-radius: 4px;
}

.medium-radius {
    border-radius: 6px;
}

.large-radius {
    border-radius: 8px;
}

.x-large-radius {
    border-radius: 12px;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 14px 0;
}

.img-thumb-micro {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.img-thumb-x-small {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.img-thumb-small {
    height: 120px;
    width: 120px;
    object-fit: cover;
}

.img-thumb-medium {
    height: 180px;
    width: 180px;
    object-fit: cover;
}

.img-thumb-large {
    height: 220px;
    width: 220px;
    object-fit: cover;
}

.img-thumb-x-large {
    height: 260px;
    width: 260px;
    object-fit: cover;
}

.img-thumb-giant {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.bg-primary {
    background-color: #d84242 !important;
    color: white !important;
}

.bg-secondary {
    background-color: #191923 !important;
    color: #1f2024 !important;
}

.bg-dark {
    background-color: #1f2024 !important;
    color: white !important;
}

.bg-light {
    background-color: #e4e2e2 !important;
    color: #1f2024 !important;
}

.bg-white {
    background-color: white !important;
    color: rgba(0, 0, 0, 0.6) !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.text-color-primary {
    color: #d84242;
}

.text-color-secondary {
    color: #191923;
}

.text-color-dark {
    color: #1f2024;
}

.text-color-light {
    color: #e4e2e2;
}

.text-color-white {
    color: white;
}

.text-color-black {
    color: black;
}

.text-color-medium-dark {
    color: rgba(0, 0, 0, 0.6);
}

.border-color-primary {
    border-color: #d84242;
}

.border-color-secondary {
    border-color: #191923;
}

.border-color-dark {
    border-color: #1f2024;
}

.border-color-light {
    border-color: #e4e2e2;
}

.border-color-white {
    border-color: white;
}

.border-color-black {
    border-color: black;
}

.border-color-medium-dark {
    border-color: rgba(0, 0, 0, 0.6);
}

.bg-transparent {
    background-color: transparent;
}

.bg-transparent-hover {
    background-color: transparent;
}

    .bg-transparent-hover:hover {
        background-color: transparent;
    }

.underline {
    height: 2px;
    width: 100%;
}

.font-weight-100 {
    font-weight: 100 !important;
}

.font-weight-200 {
    font-weight: 200 !important;
}

.font-weight-300 {
    font-weight: 300 !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.font-weight-800 {
    font-weight: 800 !important;
}

.font-weight-900 {
    font-weight: 900 !important;
}

.custom-btn {
    font-size: 15px;
    line-height: 44px;
    padding: 0 24px;
    display: inline-block;
    transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    color: white;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    font-family: "Poppins", sans-serif;
}

}

.custom-btn:hover {
    text-decoration: none;
    color: white;
}

.custom-btn.primary-btn {
    background-color: #d84242;
}

    .custom-btn.primary-btn:hover {
        background-color: #d42d2d;
    }

.custom-btn.secondary-btn {
    background-color: #191923;
}

    .custom-btn.secondary-btn:hover {
        background-color: black;
    }

.light-grey-btn {
    display: inline-block;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;
    line-height: 50px;
    padding: 0 30px;
    background-color: #e4e2e2;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

    .light-grey-btn:hover {
        background-color: #1f2024;
        color: white;
    }

.dark-grey-btn {
    display: inline-block;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;
    line-height: 50px;
    padding: 0 30px;
    background-color: #1f2024;
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

    .dark-grey-btn:hover {
        background-color: #e4e2e2;
        color: black;
    }

.stuff-shopping {
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.08);
    position: relative;
}

    .stuff-shopping h1 {
        font-weight: 100;
        margin-bottom: 80px;
        padding-left: 40px;
    }

    .stuff-shopping .img-holder {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        margin-bottom: 15px;
        overflow: hidden;
        display: inline-block;
    }

        .stuff-shopping .img-holder img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    .stuff-shopping .owl-carousel {
        text-align: center;
    }

        .stuff-shopping .owl-carousel .item .title {
            font-weight: 200;
            color: rgba(0, 0, 0, 0.8);
            display: block;
            font-size: 20px;
        }

        .stuff-shopping .owl-carousel .item .type {
            display: block;
            color: #3478e8;
            margin-top: 5px;
        }

        .stuff-shopping .owl-carousel .item a.details {
            font-size: 11px;
            color: rgba(0, 0, 0, 0.8);
            display: block;
            text-transform: uppercase;
            transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            margin-top: 5px;
        }

            .stuff-shopping .owl-carousel .item a.details:hover {
                color: #d84242;
            }

        .stuff-shopping .owl-carousel .owl-nav {
            position: absolute;
            top: -114px;
            right: 40px;
        }

            .stuff-shopping .owl-carousel .owl-nav .ti-angle-left,
            .stuff-shopping .owl-carousel .owl-nav .ti-angle-right {
                display: inline-block;
                cursor: pointer;
                margin-left: 20px;
            }

.sidebar h2 {
    color: rgba(255, 255, 255, 0.5);
}

.sidebar .dulwa-stories {
    background-color: transparent;
}

    .sidebar .dulwa-stories h2 {
        color: rgba(255, 255, 255, 0.5);
    }

    .sidebar .dulwa-stories .item {
        margin-bottom: 40px;
    }

.sidebar .enquiry input[type="text"],
.sidebar .enquiry textarea {
    height: 52px;
    line-height: 52px;
    padding: 0 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.06);
    width: 100%;
    border: none;
}

.sidebar .enquiry .form-field {
    margin-bottom: 20px;
    width: 100%;
}

.sidebar .enquiry textarea {
    height: 120px;
    line-height: 20px;
    padding: 10px;
}

.sidebar .enquiry button {
    border: none;
    cursor: pointer;
}

.left-cont-wrapp {
    width: 100%;
    max-width: 900px;
    padding: 80px 44px 80px 0;
}

.category-wrap {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

    .category-wrap .title {
        align-items: center;
        margin-bottom: 40px;
    }

        .category-wrap .title h3 {
            margin-bottom: 0;
            font-size: 28px;
            position: relative;
        }

            .category-wrap .title h3:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -10px;
                height: 4px;
                width: 40px;
                background-color: #d84242;
            }

        .category-wrap .title button {
            margin-left: auto;
            border: none;
            cursor: pointer;
        }

.common-posts .item {
    margin-bottom: 30px;
    width: 100%;
}

    .common-posts .item img {
        width: 100%;
        height: 175px;
        object-fit: cover;
        margin-bottom: 15px;
    }

    .common-posts .item.big img {
        height: 424px;
    }

    .common-posts .item.big a.title {
        font-size: 24px;
        font-weight: 600;
    }

    .common-posts .item .category {
        display: block;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .common-posts .item .authors {
        font-size: 12px;
        display: block;
        margin-bottom: 5px;
        color: rgba(0, 0, 0, 0.8);
    }

        .common-posts .item .authors span {
            margin-right: 15px;
        }

            .common-posts .item .authors span i {
                margin-right: 8px;
            }

    .common-posts .item a.title {
        transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        color: rgba(0, 0, 0, 0.4);
        font-size: 14px;
        font-weight: 700;
    }

        .common-posts .item a.title:hover {
            color: rgba(0, 0, 0, 0.8);
        }

.create-story {
    padding: 0 0 40px 0;
}

.popular-packages-side .item {
    margin-bottom: 40px;
}

    .popular-packages-side .item img {
        height: 104px;
        width: 104px;
        object-fit: cover;
        max-width: 104px;
        flex: 1;
        -webkit-flex: 1;
    }

    .popular-packages-side .item .info {
        flex: 2;
        -webkit-flex: 2;
        padding-left: 30px;
    }

        .popular-packages-side .item .info .title {
            color: rgba(255, 255, 255, 0.6);
            margin-bottom: 8px;
            display: block;
            transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
        }

            .popular-packages-side .item .info .title:hover {
                color: #d84242;
            }

        .popular-packages-side .item .info .type {
            font-size: 11px;
            display: block;
            color: rgba(255, 255, 255, 0.2);
            margin-bottom: 8px;
        }

        .popular-packages-side .item .info .time {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.4);
        }

            .popular-packages-side .item .info .time i {
                margin-right: 8px;
            }

.side-bar-gallery .flex-box, .side-bar-gallery .d-f, .side-bar-gallery .post-details-page-main-video {
    flex-wrap: wrap;
}

    .side-bar-gallery .flex-box .item, .side-bar-gallery .d-f .item, .side-bar-gallery .post-details-page-main-video .item {
        padding: 0 10px;
        flex: 0 0 33.33%;
        -webkit-flex: 0 0 33.33%;
    }

        .side-bar-gallery .flex-box .item img, .side-bar-gallery .d-f .item img, .side-bar-gallery .post-details-page-main-video .item img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            opacity: 0.4;
        }

        .side-bar-gallery .flex-box .item.isvideo, .side-bar-gallery .d-f .item.isvideo, .side-bar-gallery .post-details-page-main-video .item.isvideo {
            flex: 0 0 100%;
            -webkit-flex: 0 0 100%;
            margin-bottom: 15px;
            position: relative;
            height: 180px;
        }

            .side-bar-gallery .flex-box .item.isvideo img, .side-bar-gallery .d-f .item.isvideo img, .side-bar-gallery .post-details-page-main-video .item.isvideo img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .side-bar-gallery .flex-box .item.isvideo .play-btn, .side-bar-gallery .d-f .item.isvideo .play-btn, .side-bar-gallery .post-details-page-main-video .item.isvideo .play-btn {
                position: absolute;
                font-size: 30px;
                cursor: pointer;
                line-height: 40px;
                text-align: center;
                height: 40px;
                width: 40px;
                top: calc(50% - 5px);
                top: -webkit-calc(50% - 5px);
                left: calc(50% - 24px);
                left: -webkit-calc(50% - 24px);
            }

        .side-bar-gallery .flex-box .item:hover img, .side-bar-gallery .d-f .item:hover img, .side-bar-gallery .post-details-page-main-video .item:hover img {
            opacity: 0.9;
        }

.stories-banner-text h1 {
    width: 100%;
    font-size: 68px;
    font-weight: 400;
}

    .stories-banner-text h1 span {
        font-weight: 600;
    }

.pagination li {
    margin-right: 5px;
}

.pagination a {
    display: block;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.14);
    transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

    .pagination a:hover, .pagination a.active {
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
    }

.cat-details-list .title h2 {
    font-weight: 100;
    font-size: 60px;
    letter-spacing: -1px;
}

.cat-details-list .item img {
    height: 340px;
}

.cat-details-list .item .info {
    padding: 20px 30px;
}

* {
    box-sizing: border-box;
    -mz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
    font-family: "Poppins", sans-serif !important;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 46px;
}

h3 {
    font-size: 34px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

.x-large-text {
    font-size: 24px;
}

.large-text {
    font-size: 20px;
}

.normal-text {
    font-size: 16px;
}

.small-text {
    font-size: 14px;
}

.x-small-text {
    font-size: 12px;
}

.xx-small-text {
    font-size: 11px;
}

section h2 {
    margin-bottom: 20px;
}

section p {
    margin-bottom: 40px;
}

.body-wrapp {
    position: relative;
    z-index: 119;
    margin-bottom: 231px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 3px 15px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.landing-page {
    background-image: url(../../images/landingpageBG1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

header {
    color: rgba(255, 255, 255, 0.8);
}

    header .user-icon {
        display: inline-block;
        height: 44px;
        width: 44px;
        border-radius: 50%;
        background-color: black;
        overflow: hidden;
    }

        header .user-icon img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    header.absolute-header {
        position: fixed;
        /* top: 30px; */
        left: 0;
        width: 100%;
        padding: 10px 15px;
        z-index: 120;
    }

    header .logo-holder {
        display: inline-block;
    }

        header .logo-holder img {
            padding-left: 15px;
            max-width: 138px;
        }

    header a.link {
        color: white;
        display: inline-block;
        margin-right: 20px;
        transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
    }

        header a.link:hover {
            color: #d84242;
            text-decoration: none;
        }

.jr-site-wrap {
    height: 100%;
}

    .jr-site-wrap .jr-site-left {
        -webkit-flex: 40%;
        flex: 40%;
        max-width: 504px;
        min-height: 100%;
        background: rgba(0, 0, 0, 0.08);
    }

        .jr-site-wrap .jr-site-left .content {
            color: rgba(255, 255, 255, 0.6);
            padding: 0 44px;
            height: calc(100vh - 80px);
            height: -webkit-calc(100vh - 80px);
            /*padding-top: 150px;*/
        }

            .jr-site-wrap .jr-site-left .content h2 {
                font-size: 36px;
                margin-bottom: 10px;
                font-weight: 500;
            }

            .jr-site-wrap .jr-site-left .content p {
                font-size: 16px;
                margin-bottom: 25px;
            }

.search-box .input-box {
    flex: 2;
    -webkit-flex: 2;
    width: 100%;
}

    .search-box .input-box input {
        width: 100%;
        height: 54px;
        line-height: 54px;
        padding: 0 10px;
        font-weight: 700;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.8);
        border:none;
    }

.search-box .search-btn {
    max-width: 54px;
    width: 54px;
}

    .search-box .search-btn a {
        display: block;
        height: 54px;
        line-height: 50px;
        color: black;
        background: #e4e2e2;
        text-align: center;
        transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
    }

        .search-box .search-btn a:hover {
            background-color: #181616;
            color: white;
        }

.supporters {
    padding: 50px 0 0;
    color: rgba(255, 255, 255, 0.6);
    /*padding-top: 125px;*/
}

    .supporters p {
        font-size: 12px !important;
        margin-bottom: 15px;
    }

    .supporters a {
        display: inline-block;
        vertical-align: top;
        margin-right: 14px;
        padding-bottom: 10px;
    }

        .supporters a img {
            max-width: 55px;
        }

.jr-site-right {
    flex: 60%;
    -webkit-flex: 60%;
    background-image: url("../../images/right-contentBG.png");
    background-position: center;
    background-repeat: no-repeat;
}

    .jr-site-right .map-destination {
        color: white;
        min-height: 474px;
        width: 100%;
        max-width: 980px;
        margin: 0 auto;
        position: relative;
        background-image: url("../../images/mapNepal.png");
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }

    .jr-site-right .d-t {
        height: 100vh;
    }

.desti-point {
    position: absolute;
}

    .desti-point .dot-point {
        display: block;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        box-shadow: #ee4799 0 0 14px;
        position: relative;
        cursor: pointer;
        animation: pulse 2s ease infinite;
        transition-delay: 1s;
    }

        .desti-point .dot-point:before {
            content: '';
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background-color: #d84242;
            top: 4px;
            left: 4px;
            position: absolute;
        }

    .desti-point .d-info {
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        position: absolute;
        bottom: 30px;
        right: -40px;
        background-color: #f2f2f2;
        color: black;
        width: 320px;
        z-index: 109;
    }

        .desti-point .d-info:after {
            content: '';
            position: absolute;
            right: 36px;
            bottom: -24px;
            border-style: solid;
            border-width: 15px;
            border-color: #f2f2f2 transparent transparent transparent;
        }

        .desti-point .d-info .destination-img {
            flex: 1;
            -webkit-flex: 1;
            max-width: 105px;
            min-height: 100px;
        }

            .desti-point .d-info .destination-img img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

        .desti-point .d-info .destination-info {
            flex: 2;
            -webkit-flex: 2;
            width: 100%;
            padding: 15px;
        }

            .desti-point .d-info .destination-info h4 {
                font-size: 14px;
                margin: 0 0 5px 0;
                font-weight: 700;
            }

            .desti-point .d-info .destination-info p {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.6);
                margin: 0 0 0 0;
            }

            .desti-point .d-info .destination-info a {
                font-size: 10px;
                font-weight: 600;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #d84242;
                transition: all 0.4s ease;
                -ms-transition: all 0.4s ease;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
            }

                .desti-point .d-info .destination-info a i {
                    padding-left: 6px;
                }

                .desti-point .d-info .destination-info a:hover {
                    color: black;
                }

    .desti-point:hover {
        animation: none;
    }

        .desti-point:hover .d-info {
            opacity: 1;
            visibility: visible;
        }

        .desti-point:hover .dot-point {
            -webkit-animation-name: none;
            animation-name: none;
        }

.compass {
    position: absolute;
    top: 100px;
    right: 100px;
}

.d-mustang {
    top: 223px;
    left: 418px;
}

.d-rara {
    top: 140px;
    left: 188px;
}

.d-abc {
    top: 250px;
    left: 591px;
}

.d-pokhara {
    top: 318px;
    left: 600px;
}

.d-ktm {
    top: 330px;
    left: 635px;
}

.d-everest {
    top: 270px;
    left: 680px;
}

@keyframes pulse {
    0% {
        transform: scale(0.6);
    }

    50% {
        transform: scale(1.12);
    }

    100% {
        transform: scale(0.6);
    }
}

@-moz-keyframes pulse {
    0% {
        transform: scale(0.6);
    }

    50% {
        transform: scale(1.12);
    }

    100% {
        transform: scale(0.6);
    }
}

.d-banner {
    min-height: 560px;
    width: 100%;
    background-color: #1f2024;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}

    .d-banner:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .d-banner .d-banner-left-info {
        padding: 0 40px;
        color: white;
        position: relative;
        z-index: 9;
    }

        .d-banner .d-banner-left-info .nearest-desti {
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.4);
            padding: 0 20px;
            line-height: 60px;
        }

            .d-banner .d-banner-left-info .nearest-desti span {
                display: inline-block;
                width: auto;
            }

            .d-banner .d-banner-left-info .nearest-desti .near-desti-img {
                margin-left: -10px;
                border-radius: 4px;
            }

                .d-banner .d-banner-left-info .nearest-desti .near-desti-img img {
                    height: 62px;
                    width: 60px;
                    object-fit: cover;
                    margin-right: 10px;
                }

        .d-banner .d-banner-left-info .nearest-desti-list {
            padding: 0;
            position: absolute;
            left: 0;
            bottom: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            display: none;
        }

            .d-banner .d-banner-left-info .nearest-desti-list a {
                color: rgba(255, 255, 255, 0.6);
                display: block;
                padding: 0 10px;
            }

        .d-banner .d-banner-left-info .d-title {
            margin-top: 40px;
        }

        .d-banner .d-banner-left-info .explore-near-desti {
            display: inline-block;
            cursor: pointer;
        }

        .d-banner .d-banner-left-info span {
            display: block;
            width: 100%;
        }

            .d-banner .d-banner-left-info span i {
                color: #f0ad4e;
            }

            .d-banner .d-banner-left-info span.enquiry-btn {
                margin: 20px 0 35px;
            }

            .d-banner .d-banner-left-info span.review {
                margin-bottom: 40px;
            }

        .d-banner .d-banner-left-info .toll-free {
            font-size: 26px;
            color: rgba(255, 255, 255, 0.6);
        }

            .d-banner .d-banner-left-info .toll-free span {
                display: block;
                width: 100%;
                font-size: 18px;
                margin-bottom: 0;
            }

        .d-banner .d-banner-left-info:last-child {
            background-color: rgba(0, 0, 0, 0.3);
        }

            .d-banner .d-banner-left-info:last-child .bottom-info span {
                display: inline-block;
                width: auto;
            }

            .d-banner .d-banner-left-info:last-child .bottom-info .time {
                font-size: 30px;
                font-weight: 100;
            }

                .d-banner .d-banner-left-info:last-child .bottom-info .time i {
                    font-size: 28px;
                    color: white;
                    margin-right: 10px;
                }

        .d-banner .d-banner-left-info .d-map-wrap {
            /*min-height: 400px;*/
            text-align: center;
        }

.ratings i {
    color: #f0ad4e;
}

    .ratings i.disable {
        color: rgba(255, 255, 255, 0.4);
    }

.ratings span {
    display: inline-block;
    width: auto;
    margin-left: 20px;
}

.general-info {
    display: inline-block;
    position: relative;
}

    .general-info .weather {
        padding-right: 20px;
        font-size: 30px;
    }

        .general-info .weather img {
            margin-right: 10px;
        }

    .general-info .time {
        font-size: 26px;
        font-weight: 200;
    }

        .general-info .time i {
            margin-right: 10px;
        }

.review span {
    color: white;
    display: inline-block !important;
    width: auto !important;
    font-weight: 400;
    font-size: 16px;
}

    .review span i {
        color: white;
        font-size: 20px;
        margin-right: 10px;
    }

.review a {
    display: inline-block;
    /*margin-left: 20px;*/
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 28px;
    font-size: 12px;
    height: 30px;
    padding: 0 14px;
    line-height: 28px;
    color: white;
    transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

    .review a:hover {
        background-color: white;
        color: rgba(0, 0, 0, 0.8);
    }

.mode-easy {
    color: #139a52;
    font-size: 18px;
}

    .mode-easy i {
        margin-right: 15px;
        font-size: 24px;
        line-height: 30px;
    }

    .mode-easy span {
        vertical-align: top;
    }

.bottom-info {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 75px;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.4);
}

.weather {
    position: relative;
    font-size: 30px;
    font-weight: 100;
}

    .weather:after {
        font-size: 10px;
        content: 'o';
        position: absolute;
        top: -18px;
        right: 44px;
    }

.zoom {
    margin-left: auto;
    padding-right: 20px;
}

    .zoom a {
        color: white;
    }

.section-title h1 {
    font-weight: 100;
}

    .section-title h1 span {
        display: block;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.6);
    }

.section-title .btn-wrap {
    margin-left: auto;
}

.glimps-gal {
    background-color: #010101;
    padding: 50px 40px;
    color: white;
}

    .glimps-gal .gal-wrap {
        padding-top: 40px;
    }

        .glimps-gal .gal-wrap .item {
            background-color: #1f2024;
            flex: 0 0 20%;
            height: 200px;
            margin-bottom: 30px;
        }

            .glimps-gal .gal-wrap .item img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                opacity: 0.8;
                transition: all 0.4s ease;
                -ms-transition: all 0.4s ease;
                -webkit-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
            }

            .glimps-gal .gal-wrap .item .play-btn {
                height: 40px;
                width: 40px;
                position: absolute;
                top: calc(50% - 25px);
                top: -webkit-calc(50% - 25px);
                left: calc(50% - 25px);
                left: -webkit-calc(50% - 25px);
                cursor: pointer;
            }

                .glimps-gal .gal-wrap .item .play-btn i {
                    font-size: 40px;
                }

            .glimps-gal .gal-wrap .item:hover img {
                opacity: 0.3;
                transform: scale(1.08);
            }

        .glimps-gal .gal-wrap .main-vid .item {
            height: 430px;
        }

            .glimps-gal .gal-wrap .main-vid .item img {
                opacity: 0.4;
            }

.contest-info {
    background-color: white;
}

    .contest-info h2 {
        font-size: 42px;
        font-weight: 100;
        margin-bottom: 40px;
    }

.dulwa-stories {
    background-color: #e4e2e2;
}

    .dulwa-stories h2 {
        font-size: 67px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.6);
    }

        .dulwa-stories h2 span {
            font-weight: 800;
        }

    .dulwa-stories .item {
        position: relative;
        overflow: hidden;
        background-color: #1f2024;
        margin-bottom: 30px;
        height: 262px;
    }

        .dulwa-stories .item img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            opacity: 0.6;
        }

        .dulwa-stories .item .info {
            position: absolute;
            left: 10%;
            bottom: 40px;
            color: white;
        }

            .dulwa-stories .item .info a,
            .dulwa-stories .item .info span {
                display: block;
            }

            .dulwa-stories .item .info .category {
                font-size: 12px;
                letter-spacing: 3px;
                font-weight: 600;
            }

            .dulwa-stories .item .info .title {
                font-size: 24px;
                color: white;
            }

                .dulwa-stories .item .info .title:hover {
                    color: #d84242;
                }

            .dulwa-stories .item .info .authors {
                margin-top: 15px;
            }

                .dulwa-stories .item .info .authors span {
                    display: inline-block;
                    color: white;
                    font-size: 12px;
                    margin-right: 20px;
                }

                    .dulwa-stories .item .info .authors span i {
                        margin-right: 10px;
                        font-size: 15px;
                    }

        .dulwa-stories .item.big {
            height: 555px;
        }

        .dulwa-stories .item:hover img {
            transform: scale(1.02);
            opacity: 0.5;
        }

.dulwa-packages {
    background-color: #191923;
    color: white;
    position: relative;
}

    .dulwa-packages .owl-nav {
        position: absolute;
        top: -80px;
        right: 40px;
    }

        .dulwa-packages .owl-nav div {
            display: inline-block;
            vertical-align: top;
            margin: 0 10px;
            cursor: pointer;
        }

    .dulwa-packages .packages-items {
        margin-top: 40px;
    }

        .dulwa-packages .packages-items .item {
            height: 340px;
            position: relative;
        }

            .dulwa-packages .packages-items .item img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                opacity: 0.6;
            }

            .dulwa-packages .packages-items .item .info {
                position: absolute;
                background-color: rgba(0, 0, 0, 0.6);
                padding: 30px;
                color: white;
                bottom: 60px;
                left: 15%;
                width: 70%;
                height: auto;
            }

                .dulwa-packages .packages-items .item .info span {
                    display: block;
                    margin-bottom: 8px;
                }

                    .dulwa-packages .packages-items .item .info span.title {
                        font-size: 18px;
                    }

                    .dulwa-packages .packages-items .item .info span.type {
                        font-size: 10px;
                    }

                    .dulwa-packages .packages-items .item .info span.time {
                        font-size: 12px;
                    }

                        .dulwa-packages .packages-items .item .info span.time i {
                            margin-right: 6px;
                        }

                .dulwa-packages .packages-items .item .info a {
                    font-size: 12px;
                    color: #d84242;
                    display: block;
                    transition: all 0.4s ease;
                    -ms-transition: all 0.4s ease;
                    -webkit-transition: all 0.4s ease;
                    -moz-transition: all 0.4s ease;
                }

                    .dulwa-packages .packages-items .item .info a:hover {
                        color: white;
                    }

footer {
    background-color: #23242a;
    color: white;
}

    footer .footer-link ul li {
        display: inline-block;
        margin: 0 15px;
    }

        footer .footer-link ul li a {
            color: rgba(255, 255, 255, 0.4);
            display: block;
            font-size: 12px;
            transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
        }

            footer .footer-link ul li a:hover {
                color: #d84242;
            }

    footer .copyright {
        font-size: 11px;
        color: rgba(255, 255, 255, 0.2);
    }

.banner-package {
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-height: 500px;
}

    .banner-package .caption {
        position: absolute;
        z-index: 109;
        bottom: 50px;
        width: 100%;
        color: white;
    }

        .banner-package .caption h2 {
            font-size: 36px;
            margin-bottom: 5px;
            font-weight: 300;
        }

        .banner-package .caption .other-info {
            margin-left: auto;
            line-height: 45px;
        }

.package-short-info {
    background-color: #1a1b1e;
}

    .package-short-info .time {
        color: rgba(255, 255, 255, 0.8);
    }

    .package-short-info .package-price {
        font-weight: 600;
        color: white;
        font-size: 38px;
    }

    .package-short-info .flex-box > span, .package-short-info .d-f > span, .package-short-info .post-details-page-main-video > span {
        flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        border-right: solid 1px rgba(255, 255, 255, 0.2);
        text-align: center;
        line-height: 100px;
    }

    .package-short-info .flex-box a, .package-short-info .d-f a, .package-short-info .post-details-page-main-video a {
        margin-left: 40px;
    }

.details-content {
    background-color: white;
}

.sidebar {
    background-color: #262525;
    color: white;
}

    .sidebar .side-bar-wrap {
        max-width: 314px;
    }

    .sidebar h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }

        .sidebar h2 span {
            display: block;
            font-size: 56px;
            font-weight: 200;
        }

.align-content {
    display: inline-block;
    max-width: 1020px;
    text-align: left;
}

.content-wrap h2 {
    font-size: 46px;
}

.content-wrap h3 {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 40px;
}

.content-wrap p {
    color: rgba(0, 0, 0, 0.6);
}

.days-out {
    min-height: 365px;
    background-image: url("../../images/itenerary-bg.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-bottom: 80px;
}

.stretch {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}

.package-days {
    display: inline-block;
    margin: 30px 30px 0;
    position: relative;
}

    .package-days .dayz-short-info {
        height: 68px;
        width: 68px;
        border-radius: 50%;
        border: solid 8px #e6e6e5;
        background-color: white;
        font-size: 14px;
        font-weight: 800;
        color: rgba(0, 0, 0, 0.4);
        text-align: center;
        padding-top: 14px;
        cursor: pointer;
        line-height: 100%;
        transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
    }

        .package-days .dayz-short-info:hover {
            color: #d84242;
        }

    .package-days .short-info {
        position: absolute;
        text-align: center;
        bottom: 80px;
        left: -65px;
        width: 200px;
        padding: 20px;
        color: rgba(0, 0, 0, 0.4);
        background-color: #ececec;
        transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        opacity: 0;
        visibility: hidden;
    }

        .package-days .short-info:after {
            content: '';
            position: absolute;
            bottom: -20px;
            left: calc(50% - 10px);
            left: -webkit-calc(50% - 10px);
            border-width: 10px;
            border-style: solid;
            border-color: #ececec transparent transparent transparent;
        }

        .package-days .short-info span {
            display: block;
            margin-bottom: 10px;
        }

            .package-days .short-info span i {
                font-size: 20px;
            }

        .package-days .short-info p {
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 0;
        }

        .package-days .short-info a {
            color: black;
            font-size: 11px;
            letter-spacing: 3px;
            transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
        }

            .package-days .short-info a:hover {
                color: #d84242;
            }

    .package-days:hover .short-info {
        opacity: 1;
        visibility: visible;
    }

.post-details-title {
    position: relative;
}

    .post-details-title .author-img {
        flex: 1;
        -webkit-flex: 1;
        max-width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 40px;
    }

        .post-details-title .author-img img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    .post-details-title .authors span {
        margin-right: 15px;
    }

        .post-details-title .authors span i {
            margin-right: 10px;
        }

    .post-details-title .nearest-desti {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        line-height: 50px;
        padding: 0 10px;
    }

        .post-details-title .nearest-desti i {
            margin-right: 10px;
        }

        .post-details-title .nearest-desti a {
            color: #f0ad4e;
        }

.post-details-page-main-video {
    height: 540px;
    background-color: #1f2024;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    color: #fff;
}

    .post-details-page-main-video iframe {
        height: 100% !important;
        width: 100% !important;
    }

.big-text {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 40px;
}

.embed-media {
    margin-bottom: 40px;
}

.post-details-image-wrap {
    margin-bottom: 40px;
}

    .post-details-image-wrap img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .post-details-image-wrap span.get-img-info {
        font-size: 11px;
        color: rgba(0, 0, 0, 0.6);
        display: inline-block;
    }

.next-prev-post li:last-child {
    margin-left: auto;
}

.comment-section {
    margin-top: 40px;
}

    .comment-section h2 {
        font-size: 34px;
        font-weight: 300;
        padding-bottom: 20px;
        margin-bottom: 45px;
        border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    }

.d-banner.gallery-banner.banner-package {
    background-color: #222631;
    height: 600px;
}

    .d-banner.gallery-banner.banner-package .caption {
        bottom: 180px;
    }

        .d-banner.gallery-banner.banner-package .caption h1 {
            line-height: 44px;
        }

            .d-banner.gallery-banner.banner-package .caption h1 span.small {
                font-size: 24px;
                font-weight: 300;
            }

        .d-banner.gallery-banner.banner-package .caption .search-row {
            width: 100%;
            max-width: 818px;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

            .d-banner.gallery-banner.banner-package .caption .search-row input {
                flex: 2;
                -webkit-flex: 2;
                height: 52px;
                border-radius: 0;
                border: none;
                padding: 0 10px;
            }

            .d-banner.gallery-banner.banner-package .caption .search-row .select-wrap,
            .d-banner.gallery-banner.banner-package .caption .search-row .custom-btn {
                flex: 1;
                -webkit-flex: 1;
                line-height: 52px;
                border-radius: 0;
                cursor: pointer;
            }

            .d-banner.gallery-banner.banner-package .caption .search-row .select-wrap {
                background-color: #8f8c92;
                color: white;
                padding: 0 15px;
                max-width: 175px;
            }

                .d-banner.gallery-banner.banner-package .caption .search-row .select-wrap select {
                    background: transparent;
                    border: none;
                    color: white;
                    width: 100%;
                    height: 52px;
                    cursor: pointer;
                }

            .d-banner.gallery-banner.banner-package .caption .search-row .custom-btn {
                max-width: 144px;
            }

.filter-btns {
    margin-left: auto;
}

    .filter-btns span {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.3);
        display: inline-block;
        transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        margin: 0 4px;
        font-size: 12px;
    }

        .filter-btns span:hover {
            color: rgba(255, 255, 255, 0.7);
        }

.glimps-gal.gallery-details .gal-wrap {
    flex-wrap: wrap;
}

    .glimps-gal.gallery-details .gal-wrap .item {
        height: 300px;
    }

        .glimps-gal.gallery-details .gal-wrap .item .file-type {
            height: 60px;
            width: 60px;
            text-align: center;
            line-height: 60px;
            font-size: 22px;
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 8px;
            left: 23px;
        }

.lazy-load {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

/*# sourceMappingURL=custom.css.map */


.mid-space {
    font-weight: 80;
    font-size: 35px;
    padding-right: 20px;
}

.des-button {
    border-radius: 20px;
    line-height: 35px;
}

h1 span .sub-head {
    font-size: 20px !important;
}


.col-8-padding-left {
    padding-left: 70px !important;
}


.file-type-contest {
    top: 38% !important;
    left: 43% !important;
    border-radius: 50px !important;
}

.contest-avatar-img {
    height: 50px !important;
    width: 50px !important;
    border-radius: 30px;
    margin-left: 20px;
}

.contest-avatar-h6 {
    margin-left: 20px;
}

.contest-avatar-span {
    font-weight: 60;
    margin-left: 20px;
}

.contest-row {
    margin-bottom: 30px;
}

.contest-avatar-fa {
    margin-top: 10px;
    font-size: 25px;
}

.modal-backdrop {
    position: relative !important;
}

#body-wrapp-margin-bottom {
    margin-bottom: -50px !important;
}

.home-logo-padding {
    margin-top: 13px;
}

.home-logo-toggle {
    margin: 30px;
    color: #fff;
    font-size: 24px;
}

.reg-social-login {
    border: 1px solid #ddd !important;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 3px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #myImg:hover {
        opacity: 0.7;
    }
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    /*width: 80%;*/
    max-width: 600px;
}

.modal-content-lg {
    margin: auto;
    display: block;
    /*width: 80%;*/
    /*max-width: 700px;*/
    /*min-width: 700px;*/
    max-width: 1000px;
}
/* Caption of Modal Image */
.contest-row1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation */
.modal-content, .modal-content-lg, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }

    .modal-content-lg {
        width: 100%;
    }
}


.category-sub-head {
    font-size: 15px;
    font-weight: 400;
}

.category-price {
    color: #57C9EC;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 10px;
}

.category-button {
    color: #fff;
    background-color: #1c1c1c;
    border-radius: 0px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.category-button-slider {
    color: #fff;
    background-color: #D84141;
    border-radius: 0px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.category-icon {
    color: #39A7DF;
    font-size: 24px;
}

.category-heading {
    margin-bottom: 0px;
}

.category-button-span {
    margin-bottom: 20px !important;
}

.category-button-p {
    margin-bottom: 0px !important;
}

.nav-tabs .nav-link {
    padding-left: 0px;
}

.nav-tabs {
    border-bottom: 0px;
    margin-bottom: 10px;
}

    .nav-tabs .nav-link.active {
        border-bottom: 2px solid #CF403F;
        border-color: #fff #fff #CF403F;
        padding-left: 0px;
    }

    .nav-tabs .nav-link:hover {
        border-bottom: 2px solid #CF403F;
        border-color: #fff #fff #CF403F;
    }

#border-zero {
    border: 0px;
}

#category-button {
    background-color: #fff;
}

#category-input {
    border: 0px solid #fff;
}

.category-button-white {
    background-color: #fff;
    color: #1f2024;
    border: 1px solid #7E7A7A;
    border-radius: 0px;
}

.category-dropdownmenu {
    padding: 0.5rem 8px;
    border-radius: 0px;
}

    .category-dropdownmenu a {
        color: #1f2024;
    }

.category-button-cart {
    background-color: #1c1c1c;
    color: #fff;
    border-radius: 0px;
    font-family: "Poppins", sans-serif;
}

.margin-30 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}

.margin-buttom-30 {
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}

.margin-top-15 {
    margin-top: 15px;
    font-family: "Poppins", sans-serif;
}

.dropdown-toggle::after {
    display: none !important;
}

.modal-btn {
    color: #1c1c1c;
    font-size: 30px;
}

.modal-form {
    margin-left: 30%;
}

.modal-social-login {
    border: 1px solid #ddd;
    padding: 2px 7px;
    margin-bottom: 5px;
}

.gm-style-iw {
    left: 10px !important;
    top: 11px !important;
}

.destination-info {
    padding-left: 10px !important;
    width: 140px;
}

    .destination-info h4 {
        font-size: 15px;
    }

    .destination-info p {
        font-size: 13px;
        margin-bottom: 3px;
    }

.modal-form-control {
    border: 0px solid #fff;
    border-radius: 0px;
    border-bottom: 1px solid #ddd;
}

.modal-row-text {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.modal-row-text-bottom {
    padding: 20px;
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 14px;
}

.modal-content-2 {
    color: #292b2c;
}

.modal-dialog-css {
    margin-top: -5px;
}

.padding-left-css {
    padding-left: 0px;
}

.product figure {
    min-height: 200px;
    max-height: 200px;
}

    .product figure img {
        object-fit: fill;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        cursor: pointer;
    }

    .product figure:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

figure {
    overflow: hidden;
}
