﻿@model Dulwa.v1.ViewModel.StoryViewModel

@{
    ViewData["Title"] = "Create";
}
<!--Modified view-->
<h4>Create New Dulwa Story</h4>
<div class="card padding-20">
    Please fill up all the requirement fields
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" value="@User.Identity.Name" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input type="date" asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoryCategoryId" class="control-label"></label>
                <select asp-for="StoryCategoryId" class="form-control" asp-items="ViewBag.StoryCateogory"></select>
                <span asp-validation-for="StoryCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverImage" class="control-label"></label>                
                    <img src="~/images/uploadIcon.png" class="" id="previewimage" alt="img" style="width:200px;height:200px;"/>              
                <input type="file" id="CoverImage" name="CoverImage" onchange="$('#previewimage')[0].src = window.URL.createObjectURL(this.files[0])" /><!--onchange="$('#previewimage')[0].src = window.URL.createObjectURL(this.files[0])"-->
                
                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DulwainfoId" class="control-label"></label>
                <select asp-for="DulwainfoId" class="form-control" asp-items="ViewBag.DulwainfoId">
                    <option value="" selected="selected">Select Destination</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{

    <script>
        $(function () {
            $('#dtpDate').datetimepicker({
                format: 'DD-MM-YYYY'
            });
        }
    </script>
}

