﻿@model Dulwa.v1.ViewModel.StoryViewModel

@{
    ViewData["Title"] = "Edit";
}

<!--Modified view-->
<h2>Edit Dulwa Story</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" value="@User.Identity.Name" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoryCategoryId" class="control-label"></label>
                <select asp-for="StoryCategoryId" class="form-control" asp-items="ViewBag.StoryCateogory"></select>
                <span asp-validation-for="StoryCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="CoverImage" class="control-label"></label>
                <img src="~/Content/Uploaded/@Model.ImageUrl" class="" id="previewimage" alt="img" style="width:500px;height:400px;" />
                <br />
                <input type="file" id="CoverImage" name="CoverImage" onchange="$('#previewimage')[0].src = window.URL.createObjectURL(this.files[0])" /><!--onchange="$('#previewimage')[0].src = window.URL.createObjectURL(this.files[0])"-->

                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DulwainfoId" class="control-label"></label>
                <select asp-for="DulwainfoId" class="form-control" asp-items="ViewBag.DulwainfoId"></select>
                <span asp-validation-for="DulwainfoId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImageUrl" />
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

