﻿@model Dulwa.v1.ViewModel.StoryViewModel

@{
    ViewData["Title"] = "Story Approve";
}
<!--Modified view-->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <td colspan="2">
                            <h3>Dulwa Story Details</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Name)</td>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Author)</td>
                        <td>@Html.DisplayFor(model => model.Author)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Date)</td>
                        <td>@Html.DisplayFor(model => model.Date)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Description)</td>
                        <td>@Html.Raw(Model.Description)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.DulwainfoId)</td>
                        <td>@Html.DisplayFor(model => model.Dulwainfo.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.User)</td>
                        <td>@Html.DisplayFor(model => model.User.UserName)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <form asp-action="ApproveStroy" method="post">
                                <input asp-for="Id" type="hidden" />
                                <input type="submit" value="Approve" class="btn btn-primary"/>
                            </form>
                            <a asp-action="Index" class="btn btn-success">Back to List</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
