﻿@model IEnumerable<Dulwa.v1.ViewModel.StoryViewModel>

@{
    ViewData["Title"] = "Index";
}
<!--Modified view-->
<div class="form-group table-responsive">
    <table id="myTable" class="table table-hover" style="display:none">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>

                @*<th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>*@                
                @*<th>
                        @Html.DisplayNameFor(model => model.Updated_Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dulwainfo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>

                    @*<td class="text-no-wrap">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>*@

                   
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Updated_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dulwainfo.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Id)
                        </td>*@
                    <td>
                     
                        <a asp-action="StoryDetail" asp-route-id="@item.Id">Details</a>
                    

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row" id="address-loading-placeholder">
    <div class="col-md-1 col-xs-3"><div class="loader loader-blue"></div></div>
    <div class="col-md-3 col-xs-9">Loading Data...</div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#address-loading-placeholder').fadeOut(3000, function () {
                $('#myTable').fadeIn();
            });

            $('#myTable').DataTable({
                "order": [[0, "asc"]]
            });
        });
    </script>
}
