﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dulwa</title>
    <style>
        #loader {
            transition: all .3s ease-in-out;
            opacity: 1;
            visibility: visible;
            position: fixed;
            height: 100vh;
            width: 100%;
            background: #fff;
            z-index: 90000
        }

            #loader.fadeOut {
                opacity: 0;
                visibility: hidden
            }

        .spinner {
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: sk-scaleout 1s infinite ease-in-out;
            animation: sk-scaleout 1s infinite ease-in-out
        }
        .text-no-wrap {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .padding-20{
            padding:20px;
        }

        .comment-text{
            color:#c4c2c2;
        }
    </style>

    <environment include="Development">
        <link href="~/lib/Adminlib/style.css" rel="stylesheet" />
        <link href="~/css/bootstrap/bootstrap.css" rel="stylesheet" />
        <link href="~/css/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
        <link href="~/lib/CustomCss/loader.css" rel="stylesheet" />
        <link href="~/css/bootstrap/bootstrap-datetimepicker.css" rel="stylesheet" />
        <link href="~/lib/Summernote/summernote.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/Adminlib/style.css" rel="stylesheet" />
        <link href="~/css/bootstrap/bootstrap.css" rel="stylesheet" />
        <link href="~/css/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
        <link href="~/lib/CustomCss/loader.css" rel="stylesheet" />
        <link href="~/css/bootstrap/bootstrap-datetimepicker.css" rel="stylesheet" />
        <link href="~/lib/Summernote/summernote.css" rel="stylesheet" />
    </environment>
    
</head>
<body class="app" ng-app="startapp">
    <div id="loader">
        <div class="spinner"></div>
    </div>
    <script type="text/javascript">
        window.addEventListener('load', () => {
            const loader = document.getElementById('loader');
            setTimeout(() => {
                loader.classList.add('fadeOut');
            }, 300);
        });
    </script>
    <div>
        <div class="sidebar">
            <div class="sidebar-inner">
                <div class="sidebar-logo">
                    <div class="peers ai-c fxw-nw">
                        <div class="peer peer-greed">
                            <a class="sidebar-link td-n" href="~/Admin/Home/Index" class="td-n">
                                <div class="peers ai-c fxw-nw">
                                    <div class="peer">
                                        <div class="logo"></div>
                                    </div>
                                    <div class="peer peer-greed">
                                        <img src="~/images/logoblack.png" style="height:50px;" />
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="peer">
                            <div class="mobile-toggle sidebar-toggle"><a href="#" class="td-n"><i class="ti-arrow-circle-left"></i></a></div>
                        </div>
                    </div>
                </div>
                <ul class="sidebar-menu scrollable pos-r">
                    <li class="nav-item mT-30 active">
                        <a class="sidebar-link" href="~/Admin/Home/Index" default><span class="icon-holder"><i class="c-blue-500 ti-home"></i> </span><span class="title">Dashboard</span></a>
                    </li>
                    <li class="nav-item dropdown"><a class="sidebar-link" href="~/Admin/Company/Index"><span class="icon-holder"><i class="c-blue-500 ti-palette"></i> </span><span class="title">Travel Agencies</span></a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-blue-500 ti-location-arrow"></i> </span><span class="title">Destinations</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="sidebar-link" href="~/Admin/DulwaInfo/Index">Destination</a></li>
                            <li><a class="sidebar-link" href="~/Admin/Curriculum/Index">Things to do</a></li>
                            <li><a class="sidebar-link" href="~/Admin/DestinationStops/Index">Near by attraction</a></li>
                            <li><a class="sidebar-link" href="~/Admin/Cuisine/Index">Cuisines</a></li>
                            <li><a class="sidebar-link" href="~/Admin/TraditionCulture/Index">Tradition And Culture</a></li>
                            <li><a class="sidebar-link" href="~/Admin/Event/Index">Event</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-blue-500 ti-agenda"></i> </span><span class="title">Stories</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="sidebar-link" href="~/Admin/DulwaStory/Index">Stories</a></li>
                            <li><a class="sidebar-link" href="~/Admin/DulwaStory/StoryApproval">Stories Pending Approval</a></li>
                            <li><a class="sidebar-link" asp-action="Index" asp-controller="StoryCategory">Story Category</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-blue-500 ti-anchor"></i> </span><span class="title">Gallery</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="sidebar-link" href="~/Admin/Gallery/Index">Gallery</a></li>
                            <li><a class="sidebar-link" href="~/Admin/Contest/Index">Photography Contest</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-blue-500 ti-apple"></i> </span><span class="title">Packages</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="sidebar-link" href="~/Admin/CustomPackage/Index">Ask Dulwa (Custom Packages)</a></li>
                            <li><a class="sidebar-link" href="~/Admin/Package/Index">Travel Agency Packages</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-blue-500 ti-shopping-cart"></i> </span><span class="title">Store</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="sidebar-link" href="~/Admin/StoreCategory/Index">Categories</a></li>
                            <li><a class="sidebar-link" href="~/Admin/Store/Index">Products</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-blue-500 ti-shopping-cart"></i> </span><span class="title">Settings</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="sidebar-link" href="~/Admin/Route/Index">User Management</a></li>
                            <li><a class="sidebar-link" href="~/Admin/Advertisement/Index">Advertisments</a></li>
                            <li><a class="sidebar-link" asp-action="Index" asp-controller="DulwaInformation">DulwaInformation</a></li>
                            <li><a class="sidebar-link" href="#">Payments</a></li>
                            <li><a class="sidebar-link" href="#">Terms of Use</a></li>
                            <li><a class="sidebar-link" asp-action="Index" asp-controller="KeyCategory">Key Category</a></li>
                            <li><a class="sidebar-link" asp-action="Index" asp-controller="Key">Key</a></li>
                        </ul>
                    </li>

                    @*<li class="nav-item dropdown"><a class="sidebar-link" href="~/Admin/Package/Index"><span class="icon-holder"><i class="c-blue-500 ti-apple"></i> </span><span class="title">Package</span></a></li>
                        <li class="nav-item dropdown"><a class="sidebar-link" href="~/Admin/Route/Index"><span class="icon-holder"><i class="c-blue-500 ti-bag"></i> </span><span class="title">Route</span></a></li>
                        <li class="nav-item dropdown"><a class="sidebar-link" href="~/Admin/Route/Index"><span class="icon-holder"><i class="c-blue-500 ti-settings"></i> </span><span class="title">User Management</span></a></li>
                        <li class="nav-item dropdown"><a class="sidebar-link" href="~/Admin/Advertisement/Index"><span class="icon-holder"><i class="c-blue-500 ti-ticket"></i> </span><span class="title">Advertisement</span></a></li>
                        <li class="nav-item dropdown"><a class="sidebar-link" href="~/Admin/Curriculum/Index"><span class="icon-holder"><i class="c-blue-500 ti-star"></i> </span><span class="title">Things to do</span></a></li>
                        <li class="nav-item dropdown"><a class="sidebar-link" href="~/Admin/Contest/Index"><span class="icon-holder"><i class="c-blue-500 ti-medall-alt"></i> </span><span class="title">Contest</span></a></li>
                        <li class="nav-item dropdown"><a class="sidebar-link" href="~/Admin/StoreCategory/Index"><span class="icon-holder"><i class="c-blue-500 ti-archive"></i> </span><span class="title">Store Category</span></a></li>
                        <li class="nav-item dropdown"><a class="sidebar-link" href="~/Admin/Store/Index"><span class="icon-holder"><i class="c-blue-500 ti-shopping-cart"></i> </span><span class="title">Store</span></a></li>*@
                </ul>
            </div>
        </div>
        <div class="page-container">
            <div class="header navbar">
                <div class="header-container">
                    <ul class="nav-left">
                        <li><a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);"><i class="ti-menu"></i></a></li>
                        <li class="search-box"><a class="search-toggle no-pdd-right" href="javascript:void(0);"><i class="search-icon ti-search pdd-right-10"></i> <i class="search-icon-close ti-close pdd-right-10"></i></a></li>
                        <li class="search-input">
                            <input class="form-control" type="text" placeholder="Search...">
                        </li>
                    </ul>
                    <ul class="nav-right">
                        @await Html.PartialAsync("_LoginPartial")
                    </ul>
                </div>
            </div>
            <main class="main-content">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </main>

            <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
                <span>Copyright © 2017 <a href="#" target="_blank" title="Dulwa">Dulwa</a>. All rights reserved.</span>
                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
                <script>
                    window.dataLayer = window.dataLayer || [];

                    function gtag() {
                        dataLayer.push(arguments);
                    }
                    gtag('js', new Date());

                    gtag('config', 'UA-23581568-13');
                </script>
            </footer>
        </div>
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/Adminlib/vendor.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsOKYv9jFWsL9ddXa9T7XcPuprTTdmrSU&libraries=geometry"></script>
        <script src="~/lib/Adminlib/bundle.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular/angular-resource.js"></script>
        <script src="~/AngularServices/Services/common.services.js"></script>
        <script src="~/AngularServices/MapApp.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/moment.js"></script>
        <script src="~/lib/bootstrap-datetimepicker.js"></script>
        <script src="~/lib/Summernote/summernote.js"></script>
        <script src="~/lib/Adminlib/sweetalert.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>

        <script src="~/lib/Adminlib/vendor.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsOKYv9jFWsL9ddXa9T7XcPuprTTdmrSU&libraries=geometry"></script>

        <script src="~/lib/Adminlib/bundle.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular/angular-resource.js"></script>
        <script src="~/AngularServices/Services/common.services.js"></script>
        <script src="~/AngularServices/MapApp.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/Summernote/summernote.js"></script>
        <script src="~/lib/Adminlib/sweetalert.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $('#Description').summernote({
                height: 300,
                popover: {
                    image: [],
                    link: [],
                    air: []
                }
            });
        });
    </script>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()">             -->
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <a asp-action="index" asp-controller="home">
                                <img align="center" class="margin-top-15" src="~/images/logoblack.png">
                            </a>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8">
                            <p align="center"></p>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                    <div class="row">
                        <cuppa-oauth [authConfig]="config"></cuppa-oauth>
                    </div>
                    <div class="row margin-top-15">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <input type="text" name="address" class="form-control" placeholder="Email Address" style="border:0px; border-bottom: 1px solid #ddd;">
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="row margin-top-15">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <input type="password" name="password" class="form-control" placeholder="Password" style="border:0px; border-bottom: 1px solid #ddd;">
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
                <div class="row margin-top-30">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <a href="#"><span>Forget Password?</span></a>
                    </div>
                    <div class="col-md-4">
                    </div>

                </div>
                <div class="row margin-top-30 margin-bottom-30">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary form-button" style="right:-6%" align="center">Login</button>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                <!-- </form> -->
            </div>
        </div>
    </div>
    <!-- Modal1 -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border: 0px;">
                <form (ngSubmit)="onSubmit()">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal1" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <img align="center" class="margin-top-15" src="~/images/logoblack.png">
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <p align="center">Register</p>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6 margin-top-15">
                                <div class="row social-login-div reg-social-login" style="border: 1px solid #ddd;padding-top: 7px;padding-bottom: 7px;margin: 3px;">

                                    <div class="col-sm-2 social-padding">
                                        <img src="~/images/fb.png">
                                    </div>
                                    <div class="col-sm-10 social-padding">
                                        Login with Faceback
                                    </div>

                                </div>
                                <div class="row social-login-div reg-social-login" style="border: 1px solid #ddd;padding-top: 7px;padding-bottom: 7px;margin: 3px;">
                                    <div class="col-md-2 social-padding">
                                        <img src="~/images/twitter.png">
                                    </div>
                                    <div class="col-md-10 social-padding">
                                        Login with Twitter
                                    </div>
                                </div>
                                <div class="row social-login-div reg-social-login" style="border: 1px solid #ddd;padding-top: 7px;padding-bottom: 7px;margin: 3px;">
                                    <div class="col-md-2 social-padding">
                                        <img src="~/images/google.png">
                                    </div>
                                    <div class="col-md-10 social-padding">
                                        Login with Google
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                    <div class="row margin-top-30">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <a href="#"><span style="padding-left: 20px">Create Dulwa Account?</span></a>
                        </div>
                        <div class="col-md-3">
                        </div>

                    </div>
                    <div class="row margin-top-30 margin-bottom-30">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <p align="center" style="font-size: 13px;"></p>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>




