﻿@using Microsoft.AspNetCore.Identity
@using Dulwa.v1.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
            <div class="peer mR-10">@*<img class="w-2r bdrs-50p" src="../../../randomuser.me/api/portraits/men/10.jpg" alt="">*@<i class="fa fa-user-circle"></i></div>
            <div class="peer"><span class="fsz-sm c-grey-900">@UserManager.GetUserName(User)</span></div>
        </a>
        <ul class="dropdown-menu fsz-sm">
            <li><a href="#" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-settings mR-10"></i> <span>Setting</span></a></li>
            <li><a href="#" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-user mR-10"></i> <span>Profile</span></a></li>
            <li><a href="#" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-email mR-10"></i> <span>Messages</span></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700" onclick="document.getElementById('logoutForm').submit();"><i class="ti-power-off mR-10"></i> <span>Logout</span></a></li>
        </ul>
    </li>
   
}