//Buttons
.custom-btn{
  font-size: 15px;
  line-height: 44px;
  padding: 0 24px;
  display: inline-block;
  @include transition(0.4s);
  color: white;
  font-weight: 500;
  background-color: black(0.4);
  &:hover{
    text-decoration: none;
    color: white;
  }

  &.primary-btn{
    background-color: $primary-color;
    &:hover{
      background-color: darken($primary-color,5%);
    }
  }

  &.secondary-btn{
    background-color: $secondary-color;
    &:hover{
      background-color: darken($secondary-color,14%);
    }
  }

}

.light-grey-btn{
  display: inline-block;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 600;
  line-height: 50px;
  padding: 0 30px;
  background-color: $light-grey-color;
  color: black(0.6);
  @include transition(0.4s);
  &:hover{
    background-color: $dark-grey-color;
    color: white;
  }
}


.dark-grey-btn{
  display: inline-block;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 600;
  line-height: 50px;
  padding: 0 30px;
  background-color: $dark-grey-color;
  color: white(0.6);
  @include transition(0.4s);
  &:hover{
    background-color: $light-grey-color;
    color: black;
  }
}

