//alpha black
@function black($n){
  @return rgba(0,0,0,$n);
}

//alpha white
@function white($n){
  @return rgba(255,255,255,$n);
}

//alpha primary
@function primary($n){
  @return rgba(0,0,0,$n);
}