*{
  box-sizing: border-box;
  -mz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body{
  height: 100%;
  min-height: 100%;
  font-family: $base-font;
}

a{
  &:hover{
    text-decoration: none;
  }
}
//heading & para sizes
h1{font-size: $h1;}
h2{font-size: $h2;}
h3{font-size: $h3;}
h4{font-size: $h4;}
h5{font-size: $h5;}
h6{font-size: $h6;}

p{font-size: $text-size-normal;}

//text sizes
.x-large-text{font-size: $text-size-x-large;}
.large-text{font-size: $text-size-large;}
.normal-text{font-size: $text-size-normal;}
.small-text{font-size: $text-size-small;}
.x-small-text{font-size: $text-size-x-small;}
.xx-small-text{font-size: $text-size-xx-small;}

//section
section{
  h2{
    margin-bottom: 20px;
  }
  p{
    margin-bottom: 40px;
  }
}


.body-wrapp {
    position: relative;
    z-index: 119;
    margin-bottom: 262px;
    /*box-shadow: black(0.3) 0 30px 30px;*/
    box-shadow: rgba(0, 0, 0, 0.3) 0 5px 5px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 109;
}


// main style css =======================================================================
//=====================================================================================
//===================================================================================

//Landing page
.landing-page{
  background: {
    image: url(../../img/landingpageBG.png);
    size:cover;
    position: center;
    repeat: no-repeat;
  }
  height: 100%;
}

header{
  color:white(0.8);

  .user-icon{
    display: inline-block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: black;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.absolute-header{
    position: absolute;
    top:30px;
    left: 0;
    width: 100%;
    padding: 0 15px;
    z-index: 999;

  }

  .logo-holder{
    display: inline-block;
    img{
      max-width: 138px;
    }
  }

  a.link{
    color:white;
    display: inline-block;;
    margin-right: 20px;
    @include transition(0.4s);
    &:hover{
      color: $primary-color;
      text-decoration: none;
    }
  }
}


//jr site wrapper
.jr-site-wrap{
  height: 100%;

  .jr-site-left{
    -webkit-flex:40%;
    flex:40%;
    max-width: 504px;
    background: black(0.08);
    min-height:768px;

    .content{
      color:white(0.6);
      padding: 0 44px;
      height: calc(100vh - 80px);
      height: -webkit-calc(100vh - 80px);
      h2{
        font-size: 36px;
        margin-bottom: 10px;
        font-weight: 500;
      }
      p{
        font-size: 16px;
        margin-bottom: 25px;
      }
    }
  }

}

.search-box{
  .input-box{
    flex: 2;
    -webkit-flex:2;
    width: 100%;
    input{
      width: 100%;
      height: 54px;
      line-height: 54px;
      padding: 0 10px;
      font-weight: 700;
      font-size: 15px;
      color:black(0.8);
    }
  }

  .search-btn{
    max-width: 54px;
    width: 54px;
    a{
      display: block;
      height: 54px;
      line-height: 40px;
      color:black;
      background: $light-grey-color;
      text-align: center;
      @include transition(0.4s);
      &:hover{
          background-color: darken($light-grey-color,80%);
        color: white;
      }
    }
  }
}

.supporters{
  padding: 50px 0 0;
  color:white(0.6);
  p{
    font-size: 12px !important;
    margin-bottom: 15px;
  }
  a{
    display: inline-block;
    vertical-align: top;
    margin-right: 14px;
    img{
      max-width: 55px;
    }
  }
}

//Right landing page

.jr-site-right{
  flex: 60%;
  -webkit-flex: 60%;
  background-image: url("../../img/right-contentBG.png");
  background-position: center;
  background-repeat: no-repeat;

  .map-destination{
    color:white;
    min-height: 474px;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    position: relative;
    background: {
      image: url("../../img/mapNepal.png");
      position: center;
      size: auto;
      repeat: no-repeat;
    };
  }
  .d-t{
    height: 100vh;
  }
}

//Poing blinks
.desti-point{
  position: absolute;

  .dot-point{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: #ee4799 0 0 14px;
    position: relative;
    cursor: pointer;
    animation: pulse 2s ease infinite;
    transition-delay: 1s;

    &:before{
      content:'';
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: $primary-color;
      top:4px;
      left: 4px;
      position: absolute;
    }

  }


  .d-info{
    opacity: 0;
    visibility: hidden;
    @include transition(0.4s);
    position: absolute;;
    bottom: 30px;
    right: -40px;
    background-color: #f2f2f2;
    color: black;
    width: 320px;
    z-index: 109;

    &:after{
      content:'';
      position: absolute;
      right:36px;
      bottom:-24px;
      border-style:solid;
      border-width: 15px;
      border-color:#f2f2f2 transparent transparent transparent;
    }

    .destination-img{
      flex: 1;
      -webkit-flex: 1 !important;
      max-width: 105px !important;
      min-height: 100px !important;

      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .destination-info{
      flex:2;
      -webkit-flex:2;
      width:100%;
      padding: 15px;
      h4{
        font-size: 14px;
        margin: 0 0 5px 0;
        font-weight: 700;
      }
      p{
        font-size: 12px;
        color:black(0.6);
        margin: 0 0 0 0;
      }

      a{
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $primary-color;
        @include transition(0.4s);
        i{
          padding-left:6px;
        }
        &:hover{
          color:black;
        }
      }
    }

  }

  &:hover{
    animation: none;
    .d-info{
      opacity: 1;
      visibility: visible;
    }
    .dot-point{
      -webkit-animation-name: none;
      animation-name: none;
    }

  }


}

.compass{
  position: absolute;
  top:100px;
  right: 100px;

}

.d-mustang{
  top:223px;
  left: 418px;
}

.d-rara{
  top:140px;
  left: 188px;
}

.d-abc{
  top:250px;
  left: 591px;
}

.d-pokhara{
  top:318px;
  left:600px;
}

.d-ktm{
  top:330px;
  left:635px;
}

.d-everest{
  top:270px;
  left: 680px;
}



//animation===================

@keyframes pulse {

  0%{
    transform: scale(0.6);
  }

  50%{
    transform: scale(1.12);
  }

  100%{
    transform: scale(0.6);
  }

}

@-moz-keyframes pulse {

  0%{
    transform: scale(0.6);
  }

  50%{
    transform: scale(1.12);
  }

  100%{
    transform: scale(0.6);
  }

}



//Destination ============================================
//===================================================

.d-banner{
  min-height: 560px;
  width: 100%;
  background-color: $dark-grey-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;

  &:after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black(0.74);

  }

  .d-banner-left-info{
    padding: 0 40px;
    color:white;
    position: relative;
    z-index: 9;

    .nearest-desti{
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: black(0.4);
      padding: 0 20px;
      line-height: 75px;
      span{
        display: inline-block;
        width: auto;
      }

      .near-desti-img{
        margin-left: 15px;
        border-radius: 4px;
        img{
          height: 40px;
          width: 40px;
          object-fit: cover;
        }
      }

    }

      .nearest-desti-list{
          padding: 0;
          position: absolute;
          left:0;
          bottom: 100%;
          width: 100%;
          background-color: black(0.8);
          color:white;
          display: none;
          max-height: 350px;
          overflow-y: auto;

          a{
              color:white(0.6);
              display: block;
              padding: 0 10px;
          }
      }

    .d-title{
      margin-top: 40px;
    }

      .explore-near-desti{
          display: inline-block;
          cursor: pointer;
      }

    span{
      display: block;
      width: 100%;
      i{
        color: #f0ad4e;

      }

      &.enquiry-btn{
        margin: 20px 0 35px;
      }

      &.review{
        margin-bottom: 40px;
      }

    }



    .toll-free{
      font-size: 26px;
      color:white(0.6);

      span{
        display: block;
        width: 100%;
        font-size: 18px;
        margin-bottom: 0;
      }
    }

    &:last-child{
      background-color: black(0.3);
      .bottom-info{
        span{
          display: inline-block;
          width: auto;
        }

        .time{
          font-size: 30px;
          font-weight: 100;
          i{
            font-size: 28px;
            color:white;
            margin-right: 10px;
          }
        }
      }


    }

    .d-map-wrap{
      min-height: 400px;
      text-align: center;
    }

  }

}

//Ratings=========
.ratings{
  i{
    color:#f0ad4e;
    &.disable{
      color: white(0.4);
    }
  }
  span{
    display: inline-block;
    width: auto;
    margin-left: 20px;
  }

}

//weathers===========
.general-info{
  display: inline-block;
  position: relative;

  .weather{
    padding-right:20px;
    font-size: 30px;
    margin-right: 20px;
    border-right: solid 1px white(0.4);
    img{
      margin-right: 10px;
    }
  }

  .time{
    font-size: 26px;
    font-weight: 200;
    i{
      margin-right: 10px;
    }
  }
}

//Reviews ============
.review{
  span{
    color:white;
    display: inline-block !important;
    width: auto !important;
    font-weight: 400;
    font-size: 16px;
    i{
      color:white;
      font-size: 20px;
      margin-right: 10px;
    }
  }

  a{
    display: inline-block;
    margin-left: 20px;
    border:solid 2px white(0.5);
    border-radius: 28px;
    font-size: 12px;
    height: 30px;
    padding: 0 14px;
    line-height: 28px;
    color:white;
    @include transition(0.4s);
    &:hover{
      background-color: white;
      color:black(0.8);
    }
  }
}

.mode-easy{
  color: $success-color;
  i{
    margin-right: 15px;
    font-size: 24px;
    line-height: 30px;
  }
  font-size: 18px;

  span{
    vertical-align: top;
  }
}
///////////////////////////////

.bottom-info{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 75px;
  padding: 0 20px;
  background-color: black(0.4);
}

.weather{
  position: relative;;
  font-size: 30px;
  font-weight: 100;
  margin-right: 20px;
  border-right: solid 1px white(0.08);
  padding-right: 20px;
  &:after{
    font-size: 10px;
    content: 'o';
    position: absolute;
    top:-18px;
    right: 44px;
  }
}

.zoom{
  margin-left: auto;

  a{
    color:white;
  }

}

//Gallery ========================
.section-title{
  h1{
    font-weight: 100;
    span{
      display: block;
      font-size: 14px;
      color:white(0.6);
    }
  }

  .btn-wrap{
    margin-left: auto;
  }
}

.glimps-gal{
  background-color: #010101;
  padding: 50px 40px;
  color:white;


  .gal-wrap{
    padding-top: 40px;
    .item{
      background-color: $dark-grey-color;
      flex:0 0 20%;
      height: 200px;
      margin-bottom: 30px;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.8;
        @include transition(0.4s);
      }
      .play-btn{
        height: 40px;
        width: 40px;
        position: absolute;
        top:calc(50% - 25px);
        top:-webkit-calc(50% - 25px);
        left:calc(50% - 25px);
        left:-webkit-calc(50% - 25px);
        cursor: pointer;
        i{
          font-size: 40px;
        }
      }
      &:hover{
        img{
          opacity: 0.3;
          transform: scale(1.08);
        }
      }
    }
    .main-vid{
      .item{
        height: 430px;
        img{
          opacity:0.4;
        }
      }
    }
  }
}



//Contest ======================
.contest-info{
  background-color: white;
  h2{
    font-size: 42px;
    font-weight: 100;
    margin-bottom: 40px;
  }
}

//Stories =============================

.dulwa-stories{
  background-color: #e4e2e2;

  h2{
    font-size: 67px;
    font-weight: 600;
    color:black(0.6);

    span{
      font-weight: 800;
    }
  }

  .item{
    position: relative;
    overflow: hidden;
    background-color: $dark-grey-color;
    margin-bottom: 30px;
    height: 262px;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      @include transition(0.4s);
      opacity: 0.6;
    }
    .info{
      position: absolute;
      left:10%;
      bottom: 40px;
      color:white;
      a,
      span{
        display: block;
      }

      .category{
        font-size: 12px;
        letter-spacing: 3px;
        font-weight: 600;
      }

      .title{
        font-size: 24px;
        color:white;
        &:hover{
          color:$primary-color;
        }

      }

      .authors{
        margin-top: 15px;
        span{
          display: inline-block;
          color:white;
          font-size: 12px;
          margin-right: 20px;
          i{
            margin-right: 10px;
            font-size: 15px;
          }
        }
      }
    }
    &.big{
      height: 555px;
    }
    &:hover{
      img{
        transform: scale(1.02);
        opacity: 0.5;
      }
    }
  }
}


//Packages ================================
//==============

.dulwa-packages{
  background-color: #191923;
  color:white;
  position: relative;

  .owl-nav{
    position: absolute;
    top:-80px;
    right: 40px;
    div{
      display: inline-block;
      vertical-align: top;
      margin: 0 10px;
      cursor: pointer;
    }
  }



  .packages-items{
    margin-top: 40px;

    .item{
      height: 340px;
      position: relative;

      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.6;
      }

      .info{
        position: absolute;
        background-color: black(0.6);
        padding: 30px;
        color:white;
        bottom: 60px;
        left: 15%;
        width: 70%;
        height: auto;
        span{
          display: block;
          margin-bottom: 8px;
          &.title{
            font-size: 18px;
          }
          &.type{
            font-size: 10px;
          }
          &.time{
            font-size: 12px;
            i{
              margin-right: 6px;
            }
          }
        }

        a{
          font-size: 12px;
          color: $primary-color;
          display: block;
          @include transition(0.4s);
          &:hover{
            color:white;
          }
        }
      }

    }

  }


}

//Footer

footer{
  background-color: #23242a;
  color:white;
  .footer-link{
    ul{
      li{
        display: inline-block;
        margin: 0 15px;
        a{
          color:white(0.4);
          display: block;
          font-size: 12px;
          @include transition(0.4s);
          &:hover{
            color: $primary-color;
          }
        }
      }
    }
  }

  .copyright{
    font-size: 11px;
    color:white(0.2);
  }
}


// package ======================================================
//==================================================

.banner-package{
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-height: 604px;

  .caption{
    position: absolute;
    z-index: 109;
    bottom: 50px;
    width: 100%;
    color:white;

    h2{
      font-size: 36px;
      margin-bottom: 5px;
      font-weight: 300;
    }

    .other-info{
      margin-left: auto;
      line-height: 45px;
    }

  }

}

//package short decp in details page

.package-short-info{
  background-color: #1a1b1e;
  .time{
    color: white(0.8);
  }
  .package-price{
    font-weight: 600;
    color:white;
    font-size: 38px;
  }

  .flex-box{
    > span{
      flex:1 1 auto;
      -webkit-flex: 1 1 auto;
      border-right: solid 1px white(0.2);
      text-align: center;
      line-height: 100px;
    }
    a{
      margin-left: 40px;
    }
  }
}

//Package Details content
.details-content{
  background-color: white;
}

//Sidebar
.sidebar{

  .side-bar-wrap{
    max-width:314px;
  }

  background-color: #262525;
  color:white;
  h2{
    font-size: 30px;
    margin-bottom: 30px;
    span{
      display: block;
      font-size: 56px;
      font-weight: 200;
    }

  }
}

.align-content{
  display: inline-block;
  max-width: 1020px;
  text-align: left;
}

//content
.content-wrap{

  h2{
    font-size: 46px;
  }
  h3{
    font-size: 24px;
    color:black(0.6);
    margin-bottom: 40px;
  }
  p{
    color:black(0.6);
  }



}

.days-out{
  min-height: 365px;
  background-image: url('../../img/itenerary-bg.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}

.stretch{
  flex-direction:column;
  -webkit-flex-direction:column;
  -moz-flex-direction:column;
  -ms-flex-direction:column;
  height: 100%;
  justify-content: flex-start;

}

.package-days{
  display: inline-block;
  margin: 30px 30px 0;
  position: relative;;
  .dayz-short-info{
    height: 68px;
    width: 68px;
    border-radius: 50%;
    border:solid 8px #e6e6e5;
    background-color: white;
    font-size: 14px;
    font-weight: 800;
    color:black(0.4);
    text-align: center;
    padding-top: 14px;
    cursor: pointer;
    line-height: 100%;
    @include transition(0.3s);
    &:hover{
      color:$primary-color;
    }
  }
  .short-info{
    position: absolute;
    text-align: center;
    bottom:80px;
    left: -65px;
    width: 200px;
    padding: 20px;
    color:black(0.4);
    background-color: #ececec;
    @include transition(0.4s);
    opacity: 0;
    visibility: hidden;

    &:after{
      content:'';
      position: absolute;
      bottom: -20px;
      left: calc(50% - 10px);
      left: -webkit-calc(50% - 10px);
      border-width: 10px;
      border-style: solid;
      border-color:#ececec transparent transparent transparent;

    }

    span{
      display: block;
      margin-bottom: 10px;
      i{
        font-size: 20px;
      }
    }
    p{
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 0;
    }
    a{
      color:black(1);
      font-size: 11px;
      letter-spacing: 3px;
      @include  transition(0.3s);
      &:hover{
        color:$primary-color;
      }
    }
  }

  &:hover{
    .short-info{
      opacity: 1;
      visibility: visible;
    }
  }
}

.post-details-title{
    position: relative;
    .author-img{
        flex:1;
        -webkit-flex:1;
        max-width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 40px;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .authors{
        span{
            margin-right: 15px;
            i{
                margin-right: 10px;
            }
        }
    }

    .nearest-desti{
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: black(0.8);
        line-height: 50px;
        padding: 0 10px;
        i{
            margin-right: 10px;
        }
        a{
            color:#f0ad4e;
        }
    }
}


//Details page video section
.post-details-page-main-video{
    height: 540px;
    background-color: $dark-grey-color;
    width: 100%;
    position: relative;
    @extend .flex-box;
    align-items: center;
    justify-content: center;
    color: #fff;
    iframe{
        height: 100% !important;
        width: 100% !important;
    }
}

.big-text{
    font-size: 24px;
    color:black(0.6);
    margin-bottom: 40px;
}

.embed-media{
    margin-bottom: 40px;
}

.post-details-image-wrap{
    margin-bottom: 40px;
    img{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    span.get-img-info{
        font-size: 11px;
        color:black(0.6);
        display: inline-block;
    }
}

.next-prev-post{
    li:last-child{
        margin-left: auto;
    }
}


.comment-section{
    margin-top: 40px;
    h2{
        font-size: 34px;
        font-weight: 300;
        padding-bottom: 20px;
        margin-bottom: 45px;
        border-bottom: solid 1px black(0.2);
    }


}


.d-banner.gallery-banner.banner-package{
    background-color: #222631;
    height: 600px;
        .caption{
            bottom: 180px;
            h1{
                line-height: 44px;
                span.small{
                    font-size: 24px;
                    font-weight: 300;
                }
            }

            .search-row{
                width: 100%;
                max-width:818px;
                align-items: center;
                justify-content: center;
                margin: 0 auto;

                input{
                    flex:2;
                    -webkit-flex:2;
                    height: 52px;
                    border-radius: 0;
                    border:none;
                    padding: 0 10px;
                }

                .select-wrap,
                .custom-btn{
                    flex:1;
                    -webkit-flex:1;
                    line-height: 52px;
                    border-radius: 0;
                    cursor: pointer;

                }

                .select-wrap{
                    background-color: #8f8c92;
                    color:white;
                    padding: 0 15px;
                    max-width: 175px;
                }

                .select-wrap select{
                    background: transparent;
                    border:none;
                    color:white;
                    width: 100%;
                    height: 52px;
                    cursor: pointer;
                }

                .custom-btn{
                    max-width: 144px;
                }
            }
        }

}


.filter-btns{
    margin-left: auto;
    span{
        cursor: pointer;
        color:white(0.3);
        display: inline-block;
        @include transition(.4s);
        margin: 0 4px;
        font-size: 12px;
        &:hover{
            color:white(0.7);
        }
    }
}

.glimps-gal.gallery-details .gal-wrap {
    flex-wrap: wrap;
    .item{
        height: 300px;
        .file-type{
            height: 60px;
            width: 60px;
            text-align: center;
            line-height: 60px;
            font-size: 22px;
            background-color:black(0.4);
            position: absolute;
            top:8px;
            left:23px;
        }
    }
}

.lazy-load {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 40px;
}


.sheded-layer{
    width: 100%;
    height: 100%;
    position: fixed;
    background: black(0.8);
    color:white;
    top:0;
    left:0;
    z-index: 9999;
    display: none;
}

.writeReview{
    display: inline-block;
}

.close-layer{
    position: absolute;
    top:40px;
    right:40px;
    cursor: pointer;
    display: block;
    color:white;
    font-size: 24px;
}

.sheded-layer .flex-box{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.commnet-box{
    width: 100%;
    max-width: 600px;
    height: auto;
    background-color: white;
    color:black;
    padding: 60px;
    text-align: left;
    h1{
        font-weight: 100;
        font-size: 30px;
        margin-bottom: 24px;
    }

    textarea{
        width: 100%;
        background-color: black(0.05);
        border:solid 1px black(0.08);
        color:black(0.6);
        font-size: 14px;
        font-weight: 400;
        padding: 15px;
        margin-bottom: 20px;
        resize: none;
        height: 120px;

    }
}

.ratings.rate-us{
    display: inline-block;
    i{
        color:black(0.4);
        @include transition(0.4s);
        cursor: pointer;
        &:hover{
            color:#f0ad4e;
        }
    }
    margin-bottom: 30px;
}
