


//Layout====================================

.jr-site-centralize{
    width: 100%;
    margin: 0 auto;
    max-width: 100%;

    &.large-wrap{
        max-width: 1200px;
    }

    &.medium-wrap{
        max-width: 1180px;
    }

    &.small-wrap{
        max-width: 1020px;
    }
}


//paddings

$max-value-padding:40;

//padding-top
//Class name 'inner-space-top-0==10*ntimes========
@for $i from 0 through $max-value-padding{
    $value : $i * 5;
    .pd-t-#{$value}{padding-top:$value + px !important;}
}

//padding-right
//Class name 'inner-space-right-0==10*ntimes========
@for $i from 0 through $max-value-padding{
    $value : $i * 5;
    .pd-r-#{$value}{padding-right:$value + px !important}
}

//padding-bottom
//Class name 'inner-space-bottom-0==10*ntimes========
@for $i from 0 through $max-value-padding{
    $value : $i * 5;
    .pd-b-#{$value}{padding-bottom:$value + px !important}
}

//padding-left
//Class name 'inner-space-left-0==10*ntimes========
@for $i from 0 through $max-value-padding{
    $value : $i * 5;
    .pd-l-#{$value}{padding-left:$value + px !important}
}

//padding-all
//Class name 'inner-space-all-0==10*ntimes========
@for $i from 0 through $max-value-padding{
    $value : $i * 5;
    .pd-a-#{$value}{padding:$value + px !important}
}



//Margins


$max-value-margins:40;

//margin-top
//Class name 'margin-space-top-0==5*ntimes========
@for $i from 0 through $max-value-margins{
    $value : $i * 5;
    .mr-t-#{$value}{margin-top:$value + px !important}
}

//margin-right
//Class name 'margin-space-top-0==5*ntimes========
@for $i from 0 through $max-value-margins{
    $value : $i * 5;
    .mr-r-#{$value}{margin-right:$value + px !important}
}

//margin-bottom
//Class name 'margin-space-top-0==5*ntimes========
@for $i from 0 through $max-value-margins{
    $value : $i * 5;
    .mr-b-#{$value}{margin-bottom:$value + px !important}
}

//margin-left
//Class name 'margin-space-top-0==5*ntimes========
@for $i from 0 through $max-value-margins{
    $value : $i * 5;
    .mr-l-#{$value}{margin-left:$value + px !important}
}

//margin-all
//Class name 'margin-space-top-0==5*ntimes========
@for $i from 0 through $max-value-margins{
    $value : $i * 5;
    .mr-a-#{$value}{margin:$value + px !important}
}


//Letter Spacing===============
$max-letter-space:10;

@for $i from 0 through $max-letter-space{
    $value:$i;
    $valueNeg:$i * -1;
    .letter-space-#{$value}{letter-spacing: $value + px !important}
    .letter-space-neg#{$valueNeg}{letter-spacing: $valueNeg + px !important}
}


//Radius


//Center Div==============================================
//To bring DIV center, should define width*

.align-div-center{
    margin-left:auto;
    margin-right:auto;
}

//align div simple center ===========
.margin-left-auto{margin-left:auto;}
.margin-right-auto{margin-right:auto;}

//Displays=================================================

.d-b{display: block}
.d-n{display: none}
.d-i-b{display: inline-block;vertical-align: top;}
.d-t{
    display: table;
    width: 100%;
    height: 100%;

    .d-t-c-t{
        display: table-cell;
        vertical-align: top;
    }

    .d-t-c-m{
        display: table-cell;
        vertical-align: middle;
    }
}

//Flex======================================================

.d-f{@extend .flex-box;}
.fx-1{@include flex-value(1);}
.fx-2{@include flex-value(2);}
.fx-3{@include flex-value(3);}

.flex-wrap{flex-wrap: wrap;}
.flex-no-wrap{flex-wrap: nowrap;}
.align-flex-item-center{align-items: center;}
.align-flex-item-right{align-items: flex-end;}
.align-flex-item-left{align-items: flex-start;}
.flex-verticle-top{align-self: flex-start;}
.flex-verticle-bottom{align-self: flex-end;}
.justify-center{justify-content: center}
.justify-left{justify-content: flex-start}
.justify-right{justify-content: flex-end}



//Overflows==================================================

.overflow-visible{overflow: visible}
.overflow-hidden{overflow: hidden}
.overflow-auto{overflow: auto}
.overflow-x-hidden{overflow-x: hidden}
.overflow-y-hidden{overflow-y: hidden}
.overflow-x-scroll{overflow-x: scroll}
.overflow-y-scroll{overflow-y: scroll}
.overflow-x-auto{overflow-x: auto}
.overflow-y-auto{overflow-y: auto}

//Floats====================================================

.float-left{float:left}
.float-right{float:right}
.float-none{float:none}

//Clearfix=================================================

.clearfix{
    &:after,
    &:before{
        content:'';
        display: table;
        clear: both;
    }
}

//Fit image==============================================
.fit-image{height: 100%; width: 100%; object-fit: cover;}

//fit background=========================================
.fit-background{
    background:{
        size:cover;
        repeat: no-repeat;
        position: center;
    }

    &.paralax-bg{
        background-attachment: fixed;
    }
}


//Positions=============================================

.position-static{position: static}
.position-absolute{position: absolute}
.position-fixed{position: fixed}
.position-relative{position: relative}

//Text aligns===========================================

.text-align-left{text-align: left}
.text-align-center{text-align: center}
.text-align-right{text-align: right}

//Text Transformed=====================================

.text-transform-none{text-transform: none}
.text-transform-uppercase{text-transform: uppercase}
.text-transform-capital{text-transform: capitalize}

//Floted UL LI ========================================
.floted-li{
    li{
        @extend .float-left;
        display: block;
    }
}

//Floted UL LI ========================================
.inline-li{
    > li{
        display: inline-block;
        vertical-align: top;
        list-style: none;
        ul{

            li{
                text-align: left;
                list-style: none;
            }
        }

    }
}

//NONFloted UL LI ========================================
.non-floted-li{
    li{
        float: none;
        display: block;

    }
}

//Basic Transition========================================
.basic-transition{
    @include transition(0.3s);
}

//Box radius=============================================
.round-radius{border-radius: 50%;}
.x-small-radius{border-radius:2px;}
.small-radius{border-radius:4px;}
.medium-radius{border-radius:6px;}
.large-radius{border-radius:8px;}
.x-large-radius{border-radius:12px;}


//box shadow==============================================
.box-shadow{box-shadow: black(0.1) 0 0 14px 0;}

//Thumb Image sizes======================================
.img-thumb-micro{height: 50px;width: 50px;object-fit: cover;}
.img-thumb-x-small{height: 80px;width: 80px;object-fit: cover;}
.img-thumb-small{height: 120px;width: 120px;object-fit: cover;}
.img-thumb-medium{height: 180px;width: 180px;object-fit: cover;}
.img-thumb-large{height: 220px;width: 220px;object-fit: cover;}
.img-thumb-x-large{height: 260px;width: 260px;object-fit: cover;}
.img-thumb-giant{height: 300px;width: 300px;object-fit: cover;}

//Backgrounds colors==============================================
.bg-primary{background-color:$primary-color !important;color:white !important;}
.bg-secondary{background-color:$secondary-color !important;color:$dark-grey-color!important;}
.bg-dark{background-color:$dark-grey-color !important;color:white !important;}
.bg-light{background-color:$light-grey-color !important;color:$dark-grey-color !important;}
.bg-white{background-color:white !important;color:black(0.6) !important;}
.bg-transparent{background-color:transparent !important;}

//Text Colors=====================================================
.text-color-primary{color:$primary-color;}
.text-color-secondary{color:$secondary-color;}
.text-color-dark{color:$dark-grey-color;}
.text-color-light{color:$light-grey-color;}
.text-color-white{color:white;}
.text-color-black{color:black;}
.text-color-medium-dark{color:black(0.6);}

//Border Colors ===========================================
.border-color-primary{border-color:$primary-color;}
.border-color-secondary{border-color:$secondary-color;}
.border-color-dark{border-color:$dark-grey-color;}
.border-color-light{border-color:$light-grey-color;}
.border-color-white{border-color:white;}
.border-color-black{border-color:black;}
.border-color-medium-dark{border-color:black(0.6);}

//Transparent Bg================================================
.bg-transparent{background-color:transparent;}
.bg-transparent-hover{
    background-color:transparent;
    &:hover{
        background-color: transparent;
    }
}

//Underline ===============================================
.underline{
    height: 2px;
    width: 100%;
}

//font-weights ===========================
$font-weights:100 200 300 400 500 600 700 800 900;
@each $val in $font-weights{
.font-weight-#{$val}{
  font-weight: $val !important;
}
}
