@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

$base-font:'Poppins', sans-serif;


//colors
$primary-color:rgba(216,66,66,1);
$secondary-color:rgba(25,25,35,1);
$dark-grey-color:rgba(31,32,36,1);
$light-grey-color:rgba(228,226,226,1);

//notification colors
$error-color:rgba(210,55,55,1);
$success-color:rgba(19,154,82,1);
$alert-color:rgba(136,75,38,1);

//font-sizes heading
$heading-font-x-large:50px;
$heading-font-large:40px;
$heading-font-normal:34px;
$heading-font-small:24px;
$heading-font-x-small:16px;

$h1:50px;
$h2:46px;
$h3:34px;
$h4:28px;
$h5:24px;
$h6:18px;

//font-sizes
$text-size-x-large:24px;
$text-size-large:20px;
$text-size-normal:16px;
$text-size-small:14px;
$text-size-x-small:12px;
$text-size-xx-small:11px;








