﻿@model Dulwa.v1.Entity.Route

@{
    ViewData["Title"] = "Create";
}
<!--Modified view-->
<h4>Create New Route</h4>
<div class="card padding-20">
    Please fill up all the requirement fields
</div>
<hr />
<div class="row" ng-controller="MapFullController">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="lat" class="control-label"></label>
                <input ng-model="mapLat" asp-for="lat" class="form-control" />
                <span asp-validation-for="lat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lon" class="control-label"></label>
                <input ng-model="mapLong" asp-for="lon" class="form-control" />
                <span asp-validation-for="lon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapType" class="control-label"></label>
                <select asp-for="MapType" class="form-control">
                    <option value="polygon">Polygon</option>
                    <option value="route">Route</option>
                </select>
                <span asp-validation-for="MapType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DulwaInfoId" class="control-label"></label>
                <select asp-for="DulwaInfoId" class="form-control" asp-items="ViewBag.DulwaInfoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PackageId" class="control-label"></label>
                <select asp-for="PackageId" class="form-control" asp-items="ViewBag.PackageId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div ng-click="LoadMapData()" class="days-out text-align-center pd-t-80 pd-t-80 pd-l-40 pd-r-40 col-md-8" id="map-canvas" style="width:100%;height:500px;" ng-init="LoadMap()">
        </div>
    </div>
</div>

@section scripts{
    <script src="~/AngularServices/Services/mapServices.js"></script>
    <script src="~/AngularServices/Controllers/mapFullController.js"></script>
}
