﻿@model Dulwa.v1.Entity.Route

@{
    ViewData["Title"] = "Delete";
}
<!--Modified view-->
<div class="panel text-center">
    <h2>Are you sure you want to delete this?</h2>
    <div>
       
        <h4> @Html.DisplayFor(model => model.MapType)</h4>
        <span>
            @Html.DisplayNameFor(model => model.lat) : @Html.DisplayFor(model => model.lat)<br />
            @Html.DisplayNameFor(model => model.lon) :  @Html.DisplayFor(model => model.lon)
        </span>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
