﻿@model Dulwa.v1.ViewModel.RouteViewModel

@{
    ViewData["Title"] = "Create";
}
<!--Modified view-->
<h4>Create New Route</h4>
<div class="card padding-20">
    Please fill up all the requirement fields
</div>
<hr />
<div class="row" ng-controller="MapFullController">
    <div class="col-md-12">
        <div ng-click="LoadDirection()" class="days-out text-align-center pd-t-80 pd-t-80 pd-l-40 pd-r-40" id="map-canvas" style="width:100%;height:500px;" ng-init="RouteMap()">
        </div>
    </div>
    <br />
    <div class="col-md-4">
        <form asp-action="DulwaRouteCreate" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MapType" class="control-label"></label>
                <select asp-for="MapType" class="form-control">
                    <option value="polygon">Polygon</option>
                    <option value="route">Route</option>
                </select>
                <span asp-validation-for="MapType" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="LatLong" value="{{direction}}" />
            <div class="form-group">
                <input type="hidden" asp-for="DulwaInfoId" value="@ViewData["DulwaInfoId"]" />
            </div>
            <div class="form-group">
                <a asp-action="Index" asp-controller="DulwaInfo" class="btn btn-danger">Skip</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>


</div>

@section scripts{
    <script src="~/AngularServices/Services/mapServices.js"></script>
    <script src="~/AngularServices/Controllers/mapFullController.js"></script>
}
