﻿@model Dulwa.v1.Entity.Route

@{
    ViewData["Title"] = "Edit";
}
<!--Modified view-->
<h2>Edit Route</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="lat" class="control-label"></label>
                <input asp-for="lat" class="form-control" />
                <span asp-validation-for="lat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lon" class="control-label"></label>
                <input asp-for="lon" class="form-control" />
                <span asp-validation-for="lon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapType" class="control-label"></label>
                <input asp-for="MapType" class="form-control" />
                <span asp-validation-for="MapType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DulwaInfoId" class="control-label"></label>
                <select asp-for="DulwaInfoId" class="form-control" asp-items="ViewBag.DulwaInfoId"></select>
                <span asp-validation-for="DulwaInfoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PackageId" class="control-label"></label>
                <select asp-for="PackageId" class="form-control" asp-items="ViewBag.PackageId"></select>
                <span asp-validation-for="PackageId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>