﻿@model Dulwa.v1.ViewModel.StoryViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "_userlayout";
}
<link href="~/lib/Summernote/summernote.css" rel="stylesheet" />

<section class="details-content">
    <div class="jr-site-centralize ">
        <div class="">
            <div id="wrapper">
                <div id="page-content-wrapper">
                    <div class="panel panel-default">
                        <div class="panel-body bg-white">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="section-title flex-box">
                                            <h1 class="font-large">Share your story</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-1 col-xs-1">
                                                <img src="~/images/user_placeholder.png" class="img-circle img-responsive" />
                                            </div>
                                            <div class="col-md-4 col-xs-4">
                                               @User.Identity.Name<br />
                                                <span style="font-size:12px">dulwa.com</span><br />
                                                <span style="font-size:10px">Draft</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <form asp-action="Create" asp-controller="Story" method="post" enctype="multipart/form-data" id="my_form">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @*<label asp-for="Name" class="control-label"></label>*@
                                            <label class="control-label">Give a title to your story</label>
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="StoryCategoryId" class="control-label"></label>
                                            <select asp-for="StoryCategoryId" class="form-control" asp-items="ViewBag.StoryCateogory"></select>
                                            <span asp-validation-for="StoryCategoryId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Date" class="control-label">Story Date</label>
                                            <input type="date" asp-for="Date" class="form-control" />
                                            <span asp-validation-for="Date" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Link" class="control-label">Youtube Link</label>
                                            <input asp-for="Link" class="form-control" />
                                            <span asp-validation-for="Link" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="DulwainfoId" class="control-label"></label>
                                            <select asp-for="DulwainfoId" class="form-control" asp-items="ViewBag.DulwaInfoId"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="CoverImage" class="control-label"></label>
                                            <br />
                                             <a id="upfile1" style="cursor: pointer;">
                                                <img src="~/images/banner-placeholder.png" class="" id="previewimage" alt="img" style="width:100%;height:300px;" title="Click here to upload image" />
                                            </a>
                                            <input type="file" style="display:none;" id="CoverImage" name="CoverImage" onchange="$('#previewimage')[0].src = window.URL.createObjectURL(this.files[0])" /><!--onchange="$('#previewimage')[0].src = window.URL.createObjectURL(this.files[0])"-->

                                            <span asp-validation-for="CoverImage" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @*<label asp-for="Description" class="control-label"></label>*@
                                            <label class="control-label">Write some description about your story</label>
                                            <textarea asp-for="Description" class="form-control"></textarea>
                                        </div>
                                        <input name="image" type="file" id="upload" onchange="" style="display: none;">
                                        <div class="form-group">
                                            <input type="submit" value="Share Now" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

@section Scripts{
    <script src="~/lib/Summernote/summernote.js"></script>
    <script>
        $(document).ready(function () {
            $('#Description').summernote({
                height: 300,
                popover: {
                    image: [],
                    link: [],
                    air: []
                }
            });
            $(function () { $("#upfile1").click(function () { $("#CoverImage").trigger('click'); }); })
        });
    </script>



}