﻿@model ReflectionIT.Mvc.Paging.PagingList<Dulwa.v1.ViewModel.DulwaInfoViewModel>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
}
<div class="body-wrapp destination clearfix">
    <section class="d-banner banner-package clearfix flex-box" style="background-image: url('../../images/111.jpg')">
        <div class="package-title ">
            <div class="caption stories-banner-text text-align-center pd-l-40 pd-r-40">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h1>
                                <span>Beautiful Stories</span>
                                <br> Covered by Dulwa
                            </h1>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" style="padding:9px;" placeholder="Eg: Pokhara Portrait">
                                    <a href="#" class="custom-btn primary-btn">Browse</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--Details contente-->
    <section class="details-content">
        <div class="jr-site-centralize ">
            <div class="container-story">
                @*<div class="flex-box">*@
                <div class="row">
                    <div class="col-md-8 content-wrap col-8-padding-left">

                        <div class="flex-box justify-right">
                            <!--no stretch class-->

                            <div class="left-cont-wrapp storieslist">
                                <!--Category Start-->
                                @foreach (var story in Model)
                                {
                                    <div class="category-wrap">
                                        <div class="title">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="form-group">
                                                        <h4>From the @story.Name</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <a asp-action="StoryDetailList" asp-controller="Story" asp-route-id="@story.slug" class="custom-btn light-grey-btn pull-right">View all</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="stories-list row common-posts">
                                            @if (story.DulwaStory.Count > 0)
                                            {
                                                @foreach (var storydetail in story.DulwaStory.Select((value, index) => new { Value = value, Index = index }))
                                                {
                                                    @if (storydetail.Index == 0)
                                                    {
                                                        <div class="col-md-5">
                                                            <div class="item big">
                                                                <img src="~/Content/Uploaded/@storydetail.Value.ImageUrl" class="img-responsive">
                                                                <div class="info">
                                                                    <span class="category">@storydetail.Value.Name</span>
                                                                    <span class="authors">
                                                                        <span>
                                                                            <i class="ti-user"></i>@storydetail.Value.Author
                                                                        </span>
                                                                        <span>
                                                                            <i class="ti-calendar"></i>@storydetail.Value.Date.ToString("dd MM, yyyy")
                                                                        </span>
                                                                    </span>
                                                                    <a asp-action="Detail" asp-controller="Story" asp-route-id="@storydetail.Value.slug" class="title">@storydetail.Value.Name</a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        break;
                                                    }
                                                }

                                                <div class="col-md-7">
                                                    <div class="flex-box flex-wrap">
                                                        @foreach (var storydetail in story.DulwaStory.Select((value, index) => new { Value = value, Index = index }))
                                                        {
                                                            @if (storydetail.Index > 0)
                                                            {
                                                                <div class="col-md-6">
                                                                    <div class="item" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                                                                        <img src="~/Content/Uploaded/@storydetail.Value.ImageUrl" class="img-responsive">
                                                                        <div class="info">
                                                                            <span class="category">@storydetail.Value.Name</span>
                                                                            <span class="authors">
                                                                                <span>
                                                                                    <i class="ti-user"></i>@storydetail.Value.Author
                                                                                </span>
                                                                                <br />
                                                                                <span>
                                                                                    <i class="ti-calendar"></i>@storydetail.Value.Date.ToString("dd MM, yyyy")
                                                                                </span>
                                                                            </span>
                                                                            <a asp-action="Detail" asp-controller="Story" asp-route-id="@storydetail.Value.slug" class="title">@storydetail.Value.Name</a>

</div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-12">
                                                    <div class="item">
                                                        <img src="~/Content/Uploaded/@story.Image">
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                <!--Pagination-->
                                <nav aria-label="Suppliers navigation example">
                                    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
                                </nav>
                                <!--Pagination Ends-->
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4 sidebar pd-t-80 pd-b-80 pd-l-40 pd-r-40">
                        <div class="create-story">
                            <a asp-action="Create" asp-controller="Story" class="custom-btn primary-btn">Share your Story</a>

                        </div>
                        @await Component.InvokeAsync("SideBar")

                    </div>
                </div>
            </div>
        </div>
    </section>





</div>
