﻿
@{
    ViewData["Title"] = "StoryList";
}

<div class="body-wrapp destination clearfix">

    <!--Header-->
    <header class="absolute-header">
        <div class="jr-site-centralize flex-box">
            <div class="col-md-6">
                <a href="" class="logo-holder"><img src="~/images/logoWht.png" /></a>
            </div>
            <div class="col-md-6 text-align-right status-loggedin">
                <span class="user-icon"><img src="~/images/usericon.png" /></span>
                <span class="trigger"></span>
            </div>
        </div>
    </header>
    <!--Ends-->
    <!--Top Banner-->
    <section class="d-banner banner-package clearfix flex-box" style="background-image: url('../../images/111.jpg')">
        <div class="package-title ">

            <div class="caption stories-banner-text text-align-center flex-box pd-l-40 pd-r-40">

                <h1>
                    <span>Beautiful Stories</span><br>
                    Covered by Dulwa
                </h1>

            </div>

        </div>
    </section>



    <!--Details contente-->
    <section class="details-content">
        <div class="jr-site-centralize ">
            <div class="container-story">
                <div class="row">
                    <div class="col-md-8 content-wrap col-8-padding-left">

                        <div class="flex-box justify-right">
                            <!--no stretch class-->

                            <div class="left-cont-wrapp storieslist">
                                <!--Category Start-->
                                <div class="category-wrap cat-details-list">
                                    <div class="title flex-box">
                                        <h2>From the mustang</h3>

                                    </div>

                                    <div class="stories-list row common-posts">
                                        <div class="col-md-12">
                                            <div class="item big">
                                                <img src="~/images/storyImg1.png">
                                                <div class="info">
                                                    <span class="category">Tradition</span>
                                                    <span class="authors">
                                                        <span><i class="ti-user"></i>Author</span>
                                                        <span><i class="ti-calendar"></i>18 Dec, 2017</span>
                                                    </span>


                                                    <a href="#" class="title">
                                                        Lorem ipsum dolor sit amet,
                                                        consectetur adipiscing elit,
                                                        sed do eiusmod tempor
                                                    </a>



                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row flex-wrap">
                                                <div class="col-md-6">
                                                    <div class="item">
                                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWCtwrZal6csK9irGp8A53UqUL9w6dOuYToD4XIz_gyphywudh">
                                                        <div class="info">
                                                            <span class="category">Tradition</span>
                                                            <span class="authors">
                                                                <span><i class="ti-user"></i>Author</span>
                                                                <span><i class="ti-calendar"></i>18 Dec, 2017</span>
                                                            </span>


                                                            <a href="#" class="title">
                                                                Lorem ipsum dolor sit amet,
                                                                consectetur adipiscing elit
                                                            </a>



                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="item">
                                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxJYycSMfbbk2ZQ3kNFa9X9cqeXANpqcXLOhqE7mwaFSncCLkjVQ">
                                                        <div class="info">
                                                            <span class="category">Tradition</span>
                                                            <span class="authors">
                                                                <span><i class="ti-user"></i>Author</span>
                                                                <span><i class="ti-calendar"></i>18 Dec, 2017</span>
                                                            </span>


                                                            <a href="#" class="title">
                                                                Lorem ipsum dolor sit amet,
                                                                consectetur adipiscing elit
                                                            </a>



                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="item">
                                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR83r1buDt8hexMt67BqXVA8UTKKODtdlrdKZcT3sHbo_Td1d6NbA">
                                                        <div class="info">
                                                            <span class="category">Tradition</span>
                                                            <span class="authors">
                                                                <span><i class="ti-user"></i>Author</span>
                                                                <span><i class="ti-calendar"></i>18 Dec, 2017</span>
                                                            </span>


                                                            <a href="#" class="title">
                                                                Lorem ipsum dolor sit amet,
                                                                consectetur adipiscing elit
                                                            </a>



                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="item">
                                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzJmyhXP3TkYSZadrO6xWKoDOWUOXSkKuNc7N7bdLQzTvDvy1mbA">
                                                        <div class="info">
                                                            <span class="category">Tradition</span>
                                                            <span class="authors">
                                                                <span><i class="ti-user"></i>Author</span>
                                                                <span><i class="ti-calendar"></i>18 Dec, 2017</span>
                                                            </span>


                                                            <a href="#" class="title">
                                                                Lorem ipsum dolor sit amet,
                                                                consectetur adipiscing elit
                                                            </a>



                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--Category Ends-->
                                <!--Pagination-->
                                <ul class="pagination">
                                    <li><a href="#"><i class="ti-arrow-left"></i></a></li>
                                    <li><a class="active" href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#"><i class="ti-arrow-right"></i></a></li>
                                </ul>
                                <!--Pagination Ends-->












                            </div>

                        </div>

                    </div>
                    <div class="col-md-4 sidebar pd-t-80 pd-b-80 pd-l-40 pd-r-40">
                        <div class="create-story">
                            <a href="#" class="custom-btn primary-btn">Share your Story</a>
                        </div>
                        <div class="side-bar-wrap">

                            <div class="popular-packages-side">
                                <h2>Popular<span>Packages</span></h2>
                                <div class="item flex-box">
                                    <img src="~/images/package1.png">
                                    <div class="info">
                                        <a href="" class="title">Pokhara Trip Suit Lorem ipsum dolor sit</a>
                                        <span class="type">Economy</span>
                                        <span class="time"> <i class="ti-time"></i>5 Days 4 Nights</span>

                                    </div>
                                </div>

                                <div class="item flex-box">
                                    <img src="~/images/package2.png">
                                    <div class="info">
                                        <a href="" class="title">Pokhara Trip Suit Lorem ipsum dolor sit</a>
                                        <span class="type">Economy</span>
                                        <span class="time"> <i class="ti-time"></i>5 Days 4 Nights</span>

                                    </div>
                                </div>

                                <div class="item flex-box">
                                    <img src="~/images/package3.png">
                                    <div class="info">
                                        <a href="" class="title">Pokhara Trip Suit Lorem ipsum dolor sit</a>
                                        <span class="type">Economy</span>
                                        <span class="time"> <i class="ti-time"></i>5 Days 4 Nights</span>

                                    </div>
                                </div>

                            </div>

                            <div class="dulwa-stories">
                                <h2>Most Read <span>Stories</span></h2>
                                <div class="item">
                                    <img src="~/images/storyImg2.png" />
                                    <div class="info">
                                        <span class="category">Tradition</span>
                                        <a href="#" class="title">
                                            Tradition on
                                            The top
                                        </a>

                                        <span class="authors">
                                            <span><i class="ti-user"></i>Author</span>
                                            <span><i class="ti-calendar"></i>18 Dec, 2017</span>
                                        </span>

                                    </div>
                                </div>
                                <div class="item">
                                    <img src="~/images/storyImg4.png" />
                                    <div class="info">
                                        <span class="category">Tradition</span>
                                        <a href="#" class="title">
                                            Tradition on
                                            The top
                                        </a>

                                        <span class="authors">
                                            <span><i class="ti-user"></i>Author</span>
                                            <span><i class="ti-calendar"></i>18 Dec, 2017</span>
                                        </span>

                                    </div>
                                </div>
                            </div>

                            <div class="side-bar-gallery gal-wrap">
                                <h2>Dulwa<span>Gallery</span></h2>
                                <div class="flex-box">
                                    <div class="item isvideo">
                                        <img class="thumb-vid" src="~/images/galImg1.png" />
                                        <div class="play-btn">
                                            <i class="ti-control-play"></i>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <a href="#"><img src="~/images/galImg2.png" /> </a>
                                    </div>

                                    <div class="item">
                                        <a href="#"><img src="~/images/galImg3.png" /> </a>
                                    </div>

                                    <div class="item">
                                        <a href="#"><img src="~/images/galImg4.png" /> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





</div>

