﻿@model Dulwa.v1.ViewModel.DulwaInfoViewModel
@{
    ViewData["Title"] = "StoryDetailList";
}
<div class="body-wrapp destination clearfix">

    <section class="d-banner banner-package clearfix flex-box" style="background-image: url('../../Content/Uploaded/@Model.Image')">
        <div class="package-title ">
            <div class="caption stories-banner-text text-align-center flex-box pd-l-40 pd-r-40">
                <h1>
                    <span>Beautiful Stories</span><br>
                    Covered by Dulwa
                </h1>
            </div>
        </div>
    </section>

    <!--Details contente-->
    <section class="details-content">
        <div class="jr-site-centralize ">
            <div class="container-story">
                <div class="row">
                    <div class="col-md-8 content-wrap col-8-padding-left">
                        <div class="flex-box justify-right">
                            <!--no stretch class-->
                            <div class="left-cont-wrapp storieslist">
                                <!--Category Start-->
                                <div class="category-wrap cat-details-list">
                                    <div class="title flex-box">
                                        <h2>From the @Model.Name</h2>
                                    </div>

                                    <div class="stories-list row common-posts">
                                        @foreach (var story in Model.DulwaStory.Select((value, index) => new { Value = value, Index = index }))
                        {
                            if (story.Index == 0)
                            {
                                <div class="col-md-12">
                                    <div class="item big">
                                        <img src="~/Content/Uploaded/@story.Value.ImageUrl">
                                        <div class="info">
                                            <span class="category">@story.Value.StoryCategory.Name</span>
                                            <span class="authors">
                                                <span><i class="ti-user"></i>@story.Value.Author</span><br />
                                                <span><i class="ti-calendar"></i>@story.Value.Date.ToString("dd MMM, yyyy")</span>
                                            </span>
                                            <a asp-action="Detail" asp-controller="Story" asp-route-id="@story.Value.slug" class="title">

                                                @story.Value.Name
                                            </a>
                                        </div>
                                    </div>
                                </div>
                break;
            }
        }
                                        <div class="col-md-12">
                                            <div class="row flex-wrap">
                                                @foreach (var story in Model.DulwaStory.Select((value, index) => new { Value = value, Index = index }))
                                {
                                    if (story.Index > 0)
                                    {
                                        <div class="col-md-6">
                                            <div class="item">
                                                <img src="~/Content/Uploaded/@story.Value.ImageUrl">
                                                <div class="info">
                                                    <span class="category">@story.Value.StoryCategory.Name</span>
                                                    <span class="authors">
                                                        <span><i class="ti-user"></i>@story.Value.Author</span><br />
                                                        <span><i class="ti-calendar"></i>@story.Value.Date.ToString("dd MMM, yyyy")</span>
                                                    </span>
                                                    <a asp-action="Detail" asp-controller="Story" asp-route-id="@story.Value.slug" class="title">
                                                        @story.Value.Name
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                    }
                }
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--Category Ends-->

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 sidebar pd-t-80 pd-b-80 pd-l-40 pd-r-40">
                        <div class="create-story">
                            <a asp-action="create" asp-controller="story" class="custom-btn primary-btn">Share your Story</a>
                        </div>
                        @await Component.InvokeAsync("SideBar")

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

