﻿@model Dulwa.v1.ViewModel.StoryViewModel
@{
    ViewData["Title"] = "StoryDetail";
}

<div class="body-wrapp destination clearfix">

    <!--Top Banner-->
    <section class="d-banner banner-package clearfix flex-box" style="background-image: url('../../Content/Uploaded/@Model.ImageUrl')">
        <div class="package-title ">

            <div class="caption stories-banner-text pd-l-40 pd-r-40">

                <div class="post-details-title flex-box">

                    <div class="author-img">
                        @if (Model.User.Profile != null)
    {
                    <img src="~/Content/Uploaded/@Model.User.Profile" alt="@Model.User.FullName"/>

}
else
{

                    <img src="~/images/user_placeholder.png" />

}
                    </div>
                    <div class="post-info">
                        <span class="category">@Model.StoryCategory.Name</span>
                        <h1>
                            <span>Beautiful Stories</span><br>
                            Covered by Dulwa
                        </h1>
                        <span class="authors">
                            <span><i class="ti-user"></i>@Model.Author</span>
                            <span><i class="ti-calendar"></i>@Model.Date.ToString("dd MMM, yyyy")</span>
                        </span>
                    </div>


                    <div class="nearest-desti d-i-b">
                        <span><i class="ti-location-pin"></i><a href="#">View Route</a></span>

                    </div>


                </div>

            </div>

        </div>
    </section>



    <!--Details contente-->
    <section class="details-content">
        <div class="jr-site-centralize ">
            <div class="container-story">
                <div class="row">
                    <div class="col-md-8 content-wrap pd-l-0 pd-r-0">
                        @if (Model.Link != null)
                        {
                            <p>@Model.Link</p>
                        <div class="post-details-page-main-video">
                            @{
                                var youtube = Model.Link.Split("v=");
                                var link = youtube[1].Split("&");
                            }
                            <iframe width="854" height="480" src="https://www.youtube.com/embed/@link[0]" frameborder="0" gesture="media" allowfullscreen></iframe>

                        </div>
                        }

                        <div class="flex-box justify-right col-8-padding-left">
                            <!--no stretch class-->

                            <div class="left-cont-wrapp">

                                <div class="big-text">
                                    @Model.Name
                                </div>
                                <p>
                                    @Html.Raw(Model.Description)
                                </p>
                                <div class="comment-section">
                                    <h2>Comments</h2>
                                    <div class="fb-comments" data-href="https://localhost:44397/Story/StoryDetail/@Model.Id" data-numposts="8"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 sidebar pd-t-80 pd-b-80 pd-l-40 pd-r-40">
                        <div class="create-story">
                            <a asp-action="Create" asp-controller="Story" class="custom-btn primary-btn">Share your Story</a>
                        </div>
                        @await Component.InvokeAsync("SideBar")


                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

