﻿@model IEnumerable<Dulwa.v1.ViewModel.DulwaInformationViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TollFreeNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TollFreeNo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a href="" class="Delete" data-id="@item.Id">Delete</a>
                    <input type="hidden" name="__RequestVerificationToken" id="__RequestVerificationToken" value="@GetAntiXsrfRequestToken()" />
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {            
            $('.Delete').on('click', function () {
                var id = $(this).data("id");
                var token = $('#__RequestVerificationToken').val();
                var myData = { id: id };
                var dataWithAntiforgeryToken = $.extend(myData, { '__RequestVerificationToken': token });
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this imaginary file!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: "/admin/dulwainfo/delete",
                                method: "Post",
                                data: dataWithAntiforgeryToken,
                                success: function (res) {
                                    if (res == 200) {
                                        swal("Your data has been deleted!", {
                                            icon: "success",
                                        }).then((value) => {
                                            location.reload();
                                        });
                                    }
                                    else {
                                        swal("Your data cannot be deleted!", {
                                            icon: "error",
                                        })
                                    }
                                }
                            })

                        }
                    });
            })
        });
    </script>
}
