﻿@model Dulwa.v1.Entity.ContestDetail

@{
    ViewData["Title"] = "Delete";
}
<!--Modified view-->
<div class="panel text-center">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4> @Html.DisplayFor(model => model.Title)</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="card padding-20">
                        <h5>Description</h5>
                        <p>@Html.DisplayFor(model => model.Description)</p>
                    </div>
                </div>
                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a asp-action="Index" class="btn btn-primary">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>