﻿@model Dulwa.v1.Entity.ContestDetail

@{
    ViewData["Title"] = "Details";
}
<!--Modified view-->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <td colspan="2">
                            <h3>Contest Details</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Title)</td>
                        <td>@Html.DisplayFor(model => model.Title)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Description)</td>
                        <td>@Html.DisplayFor(model => model.Description)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.StartDate)</td>
                        <td>@Html.DisplayFor(model => model.StartDate)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.EndDate)</td>
                        <td>@Html.DisplayFor(model => model.EndDate)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Status)</td>
                        <td>@Html.DisplayFor(model => model.Status)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Created_Date)</td>
                        <td>@Html.DisplayFor(model => model.Created_Date)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Updated_Date)</td>
                        <td>@Html.DisplayFor(model => model.Updated_Date)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
                            <a asp-action="Index" class="btn btn-success">Back to List</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

