﻿@model Dulwa.v1.ViewModel.PackageDateViewModel

@{
    ViewData["Title"] = "CreatePackageDate";
}
<!--Modified view-->
<h4>Create Package Date</h4>
<div class="card padding-20">
    Please enter the date for the package
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePackageDate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PackageId" class="form-control" value="@ViewBag.package.Id" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>

