﻿@model Dulwa.v1.Entity.Package

@{
    ViewData["Title"] = "Details";
}
<!--Modified view-->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 card">
                <img src="~/Content/Uploaded/@Html.DisplayFor(model => model.image)" width="100%" />
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <td colspan="2">
                            <h3>Package Details</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Name)</td>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Types)</td>
                        <td>@Html.DisplayFor(model => model.Types)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Difficulty)</td>
                        <td>@Html.DisplayFor(model => model.Difficulty)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Duration)</td>
                        <td>@Html.DisplayFor(model => model.Duration)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Price)</td>
                        <td>@Html.DisplayFor(model => model.Price)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.StartDate)</td>
                        <td>@Html.DisplayFor(model => model.StartDate)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.EndDate)</td>
                        <td>@Html.DisplayFor(model => model.EndDate)</td>
                    </tr>

                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Description)</td>
                        <td>@Html.DisplayFor(model => model.Description)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.lat)</td>
                        <td>@Html.DisplayFor(model => model.lat)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.lon)</td>
                        <td>@Html.DisplayFor(model => model.lon)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.rating)</td>
                        <td>@Html.DisplayFor(model => model.rating)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Dulwainfo)</td>
                        <td>@Html.DisplayFor(model => model.Dulwainfo.Name)</td>
                    </tr>
                     <tr>
                        <td>@Html.DisplayNameFor(model => model.company)</td>
                        <td>@Html.DisplayFor(model => model.company.name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Created_Date)</td>
                        <td>@Html.DisplayFor(model => model.Created_Date)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Updated_Date)</td>
                        <td>@Html.DisplayFor(model => model.Updated_Date)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
                            <a asp-action="Index" class="btn btn-success">Back to List</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

