﻿@model Dulwa.v1.ViewModel.PackageViewModel

@{
    ViewData["Title"] = "Edit";
}
<!--Modified view-->
<h2>Edit Package</h2>
<hr />
<div class="row" ng-controller="MapFullController">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Types" class="control-label"></label>
                <select asp-for="Types" class="form-control">
                    <option value="Economic">Economic</option>
                    <option value="Economic">Economic</option>
                    <option value="Economic">Economic</option>
                    <option value="Economic">Economic</option>
                </select>
                <span asp-validation-for="Types" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty" class="control-label"></label>
                <select asp-for="Difficulty" class="form-control">
                    <option value="1">Easy</option>
                    <option value="2">Medium</option>
                    <option value="1">Hard</option>
                </select>
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input type="number" asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input type="number" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input type="date" asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input type="date" asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lat" class="control-label"></label>
                <input ng-model="mapLat" asp-for="lat" class="form-control" />
                <span asp-validation-for="lat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lon" class="control-label"></label>
                <input ng-model="mapLong" asp-for="lon" class="form-control" />
                <span asp-validation-for="lon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label><br />
                <img src="~/Content/Uploaded/@Model.image" class="userimg img-circle img-thumbnail" id="previewimage" alt="img">
                <br /><br />
                <div class="waves-effect waves-light">
                    <input type="file" class="upload" name="File" onchange="$('#previewimage')[0].src = window.URL.createObjectURL(this.files[0])" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DulwainfoId" class="control-label"></label>
                <select asp-for="DulwainfoId" class="form-control" asp-items="ViewBag.DulwainfoId"></select>
                <span asp-validation-for="DulwainfoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreCategorys" class="control-label"></label>
                <select asp-for="StoreCategorys" class="form-control multiple" asp-items="ViewBag.StoreCategory"></select>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="image"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
    <div ng-click="LoadMapData()" class="days-out text-align-center pd-t-80 pd-t-80 pd-l-40 pd-r-40 col-md-8" id="map-canvas" style="width:100%;height:500px;" ng-init="LoadMap()">
    </div>
</div>
@section scripts{
    <script src="~/AngularServices/Services/mapServices.js"></script>
    <script src="~/AngularServices/Controllers/mapFullController.js"></script>
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <script src="~/lib/select2/js/select2.js"></script>
    <script>
        $(document).ready(function () {
            $('.multiple').select2();
        });
    </script>
}
