﻿@model Dulwa.v1.Entity.PackageDate

@{
    ViewData["Title"] = "Delete";
}
<!--Modified view-->
<div class="panel text-center">
    <h2>Are you sure you want to delete this?</h2>
    <div>
        <h4> @Html.DisplayFor(model => model.Date)</h4>
        <span>
            @Html.DisplayNameFor(model => model.Package) : @Html.DisplayFor(model => model.Package.Name)
        </span>
        <hr />
        <div class="row">
            <div class="form-group">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>

