﻿@model Dulwa.v1.Entity.PackageDate

@{
    ViewData["Title"] = "Edit";
}
<!--Modified view-->
<h2>Edit Package Date</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PackageId" class="control-label"></label>
                <select asp-for="PackageId" class="form-control" asp-items="ViewBag.PackageId"></select>
                <span asp-validation-for="PackageId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
         
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
