﻿@model IEnumerable<Dulwa.v1.Entity.StoryCategory>

@{
    ViewData["Title"] = "Index";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<!--Modified view-->
<div class="table-responsive">
    <table id="myTable" class="table table-hover" style="display:none">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created_Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated_Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated_Date)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a href="" class="Delete" data-id="@item.Id">Delete</a>
                        <input type="hidden" name="__RequestVerificationToken" id="__RequestVerificationToken" value="@GetAntiXsrfRequestToken()" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row" id="address-loading-placeholder">
    <div class="col-md-1 col-xs-3"><div class="loader loader-blue"></div></div>
    <div class="col-md-3 col-xs-9">Loading Data...</div>
</div>
<br /><br />
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus"></i> Create New</a>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#address-loading-placeholder').fadeOut(3000, function () {
                $('#myTable').fadeIn();
            });
            $('#myTable').DataTable({
                "order": [[0, "asc"]]
            });
            $('.Delete').on('click', function () {
                var id = $(this).data("id");
                console.log(id);
                var token = $('#__RequestVerificationToken').val();
                var myData = { id: id };
                var dataWithAntiforgeryToken = $.extend(myData, { '__RequestVerificationToken': token });
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this imaginary file!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: "/admin/storycategory/delete",
                                method: "Post",
                                data: dataWithAntiforgeryToken,
                                success: function (res) {
                                    if (res == 200) {
                                        swal("Your data has been deleted!", {
                                            icon: "success",
                                        }).then((value) => {
                                            location.reload();
                                        });
                                    }
                                    else {
                                        swal("Your data cannot be deleted!", {
                                            icon: "error",
                                        })
                                    }
                                }
                            })

                        }
                    });
            })
        });
    </script>
}