﻿@model IEnumerable<Dulwa.v1.ViewModel.WishListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_dashboardlayout";

}

<div class="body-wrapp destination clearfix">
    <section class="details-content">
        <div class="jr-site-centralize ">
            <div class="flex-box">
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="container bg-white">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                                <h3>My Wish List</h3>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @foreach (var item in Model)
                            {
                                <div class="row">

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <center>
                                                <img src="~/Content/Uploaded/@item.Store.ImageUrl" class="img-responsive" />
                                            </center>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pd-t-10">
                                        <div class="form-group">
                                            <center>
                                                <table class="table table-bordered table-hover">
                                                    <tr>
                                                        <td>Name</td>
                                                        <td>@Html.DisplayFor(modelItem => item.Store.Name)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Rate</td>
                                                        <td>$ @Html.DisplayFor(modelItem => item.Store.price)</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"><a asp-controller="WishList" asp-action="Deletewishlist" asp-route-id="@item.StoreId" class="btn btn-danger btn-block">Remove from wish list</a></td>
                                                    </tr>
                                                </table>
                                            </center>

                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
