﻿
@{
    ViewData["Title"] = "Details";
}
<!--Modified view-->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 card">
                <div class="form-group">
                    <img src="~/Content/Uploaded/05042018-16032018-16032018-package3.png" width="100%" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <table class="table">
                        <tr>
                            <td colspan="2">
                                <h3>Dulwa Info Details</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>test123</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>address123</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>test123</td>
                        </tr>
                        @*<tr>
                <td></td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </td>
            </tr>*@
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <img src="~/images/mustangImg.png" class="img-responsive img-mid-height" style="opacity: 1">
                </div>
                <div class="form-group">
                    <center>
                        <span>
                            <button type="button" class="product-button btn-dark"><span>Detail</span></button>
                        </span>
                    </center>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <img src="~/images/mustangImg.png" class="img-responsive img-mid-height" style="opacity: 1">
                </div>
                <div class="form-group">
                    <center>
                        <span>
                            <button type="button" class="product-button btn-dark"><span>Detail</span></button>
                        </span>
                    </center>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <img src="~/images/mustangImg.png" class="img-responsive img-mid-height" style="opacity: 1">
                </div>
                <div class="form-group">
                    <center>
                        <span>
                            <button type="button" class="product-button btn-dark"><span>Detail</span></button>
                        </span>
                    </center>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <img src="~/images/mustangImg.png" class="img-responsive img-mid-height" style="opacity: 1">
                </div>
                <div class="form-group">
                    <center>
                        <span>
                            <button type="button" class="product-button btn-dark"><span>Detail</span></button>
                        </span>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
