﻿@model Dulwa.v1.ViewModel.DulwaInfoViewModel

@{
    ViewData["Title"] = "Edit";
}
<!--Modified view-->
<h4>Create New Dulwa Info</h4>
<div class="card padding-20">
    Please fill up all the requirement fields
</div>
<hr />
<div class="row" ng-controller="MapFullController">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Types" class="control-label"></label>
                <select asp-for="Types" class="form-control multiple" asp-items="ViewBag.type" multiple="multiple"></select>
            </div>
            <div class="form-group">
                <label asp-for="populars" class="control-label"></label>
                <select asp-for="populars" class="form-control multiple" asp-items="ViewBag.popular" multiple="multiple"></select>
            </div>
            <div class="form-group">
                <label asp-for="seasons" class="control-label"></label>
                <select asp-for="seasons" class="form-control multiple" asp-items="ViewBag.season" multiple="multiple"></select>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label><br />
                <img src="~/Content/Uploaded/@Model.Image" class="userimg img-circle img-thumbnail" id="previewimage" alt="img">
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" class="form-control" onchange="$('#previewimage')[0].src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lat" class="control-label"></label>
                <input ng-model="mapLat" asp-for="Lat" ng-init="mapLat=@Model.Lat" class="form-control" />
                <span asp-validation-for="Lat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lon" class="control-label"></label>
                <input ng-model="mapLong" asp-for="lon" ng-init="mapLong=@Model.lon" class="form-control" />
                <span asp-validation-for="lon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Image" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div ng-click="LoadMapData()" class="days-out text-align-center pd-t-80 pd-t-80 pd-l-40 pd-r-40 col-md-8" id="map-canvas" style="width:100%;height:500px;" ng-init="LoadMap()">
    </div>
</div>
@section scripts{
    <script src="~/AngularServices/Services/mapServices.js"></script>
    <script src="~/AngularServices/Controllers/mapFullController.js"></script>
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <script src="~/lib/select2/js/select2.js"></script>
    <script>
        $(document).ready(function () {
            $('.multiple').select2();
        });
    </script>
}
