﻿@model IEnumerable<Dulwa.v1.ViewModel.DulwaInfoViewModel>

@{
    ViewData["Title"] = "Index";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<!--Modified view-->
<div class="form-group table-responsive">
    <table id="myTable" class="table table-hover" style="display:none">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>*@

                <th>
                    @Html.DisplayNameFor(model => model.Lat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lon)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="~/Content/Uploaded/@Html.DisplayFor(modelItem => item.Image)" target="_blank">
                            <img src="~/Content/Uploaded/@Html.DisplayFor(modelItem => item.Image)" class="admin-table-image" />
                        </a>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    @*<td>
                            <span class="text-no-wrap"> @Html.DisplayFor(modelItem => item.Description)</span>
                        </td>*@

                    <td>
                        @Html.DisplayFor(modelItem => item.Lat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lon)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        <a href="" class="Delete" data-id="@item.Id">Delete</a>
                        <input type="hidden" name="__RequestVerificationToken" id="__RequestVerificationToken" value="@GetAntiXsrfRequestToken()" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row" id="address-loading-placeholder">
    <div class="col-md-1 col-xs-3"><div class="loader loader-blue"></div></div>
    <div class="col-md-3 col-xs-9">Loading Data...</div>
</div>
<br /><br />
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary" asp-action="Create" asp-controller="DulwaInfo"><i class="fa fa-plus"></i> Add New</a>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#address-loading-placeholder').fadeOut(3000, function () {
                $('#myTable').fadeIn();
            });
            $('#myTable').DataTable({
                "order": [[0, "asc"]]
            });           
            $('.Delete').on('click', function () {
                console.log("this is test");
                var id = $(this).data("id");
                var token = $('#__RequestVerificationToken').val();
                var myData = { id: id };
                var dataWithAntiforgeryToken = $.extend(myData, { '__RequestVerificationToken': token });
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this imaginary file!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: "/admin/dulwainfo/delete",
                                method: "Post",
                                data: dataWithAntiforgeryToken,
                                success: function (res) {
                                    if (res == 200) {
                                        swal("Your data has been deleted!", {
                                            icon: "success",
                                        }).then((value) => {
                                            location.reload();
                                        });
                                    }
                                    else {
                                        swal("Your data cannot be deleted!", {
                                            icon: "error",
                                        })
                                    }
                                }
                            })

                        }
                    });
            });
        });
    </script>
}
