﻿@model IEnumerable<Dulwa.v1.ViewModel.ContestViewModel>
@{
    ViewData["Title"] = "Index";
}



<div class="body-wrapp destination clearfix">

    <!--Header-->
    <header class="absolute-header">
        <div class="jr-site-centralize flex-box">
            <div class="col-md-6">
                <a href="" class="logo-holder"><img src="~/images/logoWht.png" /></a>
            </div>
            <div class="col-md-6 text-align-right status-loggedin">
                <span class="user-icon"><img src="src/img/usericon.png" /></span>
                <span class="trigger"></span>
            </div>
        </div>
    </header>
    <!--Ends-->
    <!--Top Banner-->
    <section class="d-banner gallery-banner banner-package clearfix flex-box" style="background-image: url('../../images/galleryImg.png')">
        <div class="package-title ">
            <div class="caption stories-banner-text text-align-center pd-l-40 pd-r-40">
                <h1>
                    <span>Best of the best</span><br>
                    <span class="small">Find very best form the best</span>
                </h1>
                <div class="search-row flex-box">
                    @if (User.Identity.IsAuthenticated)
                    {
                <a href="#" class="custom-btn primary-btn" style="max-width: 155px; background-color: #BBBABD; color: #454343" data-target="#contestModel" data-toggle="modal">Enter Contest</a>

                    }
                    else
                    {
                <a asp-controller="Account" asp-action="Login" class="custom-btn primary-btn" style="max-width: 155px; background-color: #BBBABD; color: #454343">Login</a>

                }

                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Glimps-->
    <section class="glimps-gal gallery-details clearfix">
        <div class="gal-wrap flex-box">
            @foreach (var contest in Model)
            {
                <div class="col-md-4">
                    <div class="item">
                        <img id="myImg" src="~/Content/Uploaded/@contest.ImageUrl" alt="caption" />
                        <div id="contest-content">
                            <div class="file-type file-type-contest">
                                <i class="ti-share"></i>
                            </div>

                        </div>
                    </div>
                    <div class="row contest-row">
                        <div class="col-md-2 ">
                            <img src="~/images/usericon.png" class="contest-avatar-img" />
                        </div>
                        <div class="col-md-8">
                            <h6 class="contest-avatar-h6">@contest.AutherName</h6>
                            <span class="contest-avatar-span">@contest.Created_Date.ToString("dd MMM, yyyy")</span>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-heart-o contest-avatar-fa" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

              }

            @*<div class="col-md-4">
                <div class="item">
                    <img id="myImg" src="~/images/galImg1.png" alt="caption" />
                    <div id="contest-content">
                        <div class="file-type file-type-contest">
                            <i class="ti-share"></i>
                        </div>

                    </div>
                </div>
                <div class="row contest-row">
                    <div class="col-md-2 ">
                        <img src="~/images/usericon.png" class="contest-avatar-img" />
                    </div>
                    <div class="col-md-8">
                        <h6 class="contest-avatar-h6">Author Name</h6>
                        <span class="contest-avatar-span">20 Jan 2018</span>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-heart-o contest-avatar-fa" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <img id="myImg" src="~/images/galImg2.png" />
                    <div id="contest-content">
                        <div class="file-type file-type-contest">
                            <i class="ti-share"></i>
                        </div>
                    </div>
                </div>
                <div class="row contest-row">
                    <div class="col-md-2 ">
                        <img src="~/images/usericon.png" class="contest-avatar-img">
                    </div>
                    <div class="col-md-8">
                        <h6 class="contest-avatar-h6">Author Name</h6>
                        <span class="contest-avatar-span">20 Jan 2018</span>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-heart-o contest-avatar-fa" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="item">
                    <img id="myImg" src="~/images/galImg3.png" />
                    <div id="contest-content">
                        <div class="file-type file-type-contest">
                            <i class="ti-share"></i>
                        </div>
                    </div>
                </div>
                <div class="row contest-row">
                    <div class="col-md-2 ">
                        <img src="~/images/usericon.png" class="contest-avatar-img">
                    </div>
                    <div class="col-md-8">
                        <h6 class="contest-avatar-h6">Author Name</h6>
                        <span class="contest-avatar-span">20 Jan 2018</span>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-heart-o contest-avatar-fa" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item">
                    <img id="myImg" src="~/images/galImg4.png" />
                    <div id="contest-content">
                        <div class="file-type file-type-contest">
                            <i class="ti-share"></i>
                        </div>
                    </div>
                </div>
                <div class="row contest-row">
                    <div class="col-md-2 ">
                        <img src="~/images/usericon.png" class="contest-avatar-img">
                    </div>
                    <div class="col-md-8">
                        <h6 class="contest-avatar-h6">Author Name</h6>
                        <span class="contest-avatar-span">20 Jan 2018</span>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-heart-o contest-avatar-fa" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item">
                    <img id="myImg" src="~/images/galImg5.png" />
                    <div id="contest-content">
                        <div class="file-type file-type-contest">
                            <i class="ti-share"></i>
                        </div>
                    </div>
                </div>
                <div class="row contest-row">
                    <div class="col-md-2 ">
                        <img src="~/images/usericon.png" class="contest-avatar-img">
                    </div>
                    <div class="col-md-8">
                        <h6 class="contest-avatar-h6">Author Name</h6>
                        <span class="contest-avatar-span">20 Jan 2018</span>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-heart-o contest-avatar-fa" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <img id="myImg" src="~/images/galImg6.png" />
                    <div id="contest-content">
                        <div class="file-type file-type-contest">
                            <i class="ti-share"></i>
                        </div>
                    </div>
                </div>
                <div class="row contest-row">
                    <div class="col-md-2 ">
                        <img src="~/images/usericon.png" class="contest-avatar-img">
                    </div>
                    <div class="col-md-8">
                        <h6 class="contest-avatar-h6">Author Name</h6>
                        <span class="contest-avatar-span">20 Jan 2018</span>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-heart-o contest-avatar-fa" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <img id="myImg" src="~/images/galImg7.png" />
                    <div id="contest-content">
                        <div class="file-type file-type-contest">
                            <i class="ti-share"></i>
                        </div>
                    </div>
                </div>
                <div class="row contest-row">
                    <div class="col-md-2 ">
                        <img src="~/images/usericon.png" class="contest-avatar-img">
                    </div>
                    <div class="col-md-8">
                        <h6 class="contest-avatar-h6">Author Name</h6>
                        <span class="contest-avatar-span">20 Jan 2018</span>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-heart-o contest-avatar-fa" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <img id="myImg" src="~/images/galImg1.png" />
                    <div id="contest-content">
                        <div class="file-type file-type-contest">
                            <i class="ti-share"></i>
                        </div>
                    </div>
                </div>
                <div class="row contest-row">
                    <div class="col-md-2 ">
                        <img src="~/images/usericon.png" class="contest-avatar-img">
                    </div>
                    <div class="col-md-8">
                        <h6 class="contest-avatar-h6">Author Name</h6>
                        <span class="contest-avatar-span">20 Jan 2018</span>
                    </div>
                    <div class="col-md-2">
                        <i class="fa fa-heart-o contest-avatar-fa" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>*@
        <!--  <div class="lazy-load flex-box">
           <a href="#" class="custom-btn dark-grey-btn" style="background-color: #AA4041">Load more</a>
           </div> -->
    </section>
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01" height="400px">
        <div class="contest-row1">
            <div class="row">
                <p style="padding-left: 15px; padding-top: 10px"> #Titme Traker, Mustang, #Happy Time </p>
            </div>
            <div class="row">
                <div class="col-sm-1 ">
                    <img src="~/images/usericon.png" class="contest-avatar-img">
                </div>
                <div class="col-sm-3">
                    <h6 class="contest-avatar-h6">Author Name</h6>
                    <span class="contest-avatar-span">20 Jan 2018</span>
                </div>
                <div class="col-sm-5">
                </div>
                <div class="col-sm-2">
                    <i class="fa fa-heart-o contest-avatar-fa" aria-hidden="true">&nbsp;148</i>
                </div>
                <div class="col-sm-1">
                    <i class="fa fa-share contest-avatar-fa" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="contestModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()">             -->
            <div class="modal-body">
                <button type="button" class="close modal-btn pull-right" data-dismiss="modal" aria-label="Close" style="outline:none !important;"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="modal-content-2" style="color: #1c1c1c">
                    <div class="modal-padding">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <center>
                                        <a asp-action="index" asp-controller="home">
                                            <img class="margin-top-15" src="~/images/logoblack.png" height="60">
                                        </a>
                                    </center>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row" style="color: #1c1c1c; padding-bottom: 20px;">
                            <div class="col-md-12">
                                <div class="form-group text-center">
                                   
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<script>
         // Get the modal
         var modal = document.getElementById('myModal');

         // Get the image and insert it inside the modal - use its "alt" text as a caption
         var img = document.getElementById('myImg');
         var modalImg = document.getElementById("img01");
         var captionText = document.getElementById("caption");
         img.onclick = function(){
             modal.style.display = "block";
             modalImg.src = this.src;
             captionText.innerHTML = this.alt;
         }

         // Get the <span> element that closes the modal
         var span = document.getElementsByClassName("close")[0];

         // When the user clicks on <span> (x), close the modal
         span.onclick = function() {
             modal.style.display = "none";
         }
</script>

