﻿
@{
    ViewData["Title"] = "Index";
    Layout = "_userlayout";
}
<div class="row">
    <div class="col-md-1 col-sm-2 col-xs-2">
        <a href="#menu-toggle" id="menu-toggle"><h5><i id="shwHideIcon" class="fa fa-bars" style="color:#1e222c;"></i></h5></a>
    </div>
    <div class="col-md-11 col-sm-10 col-xs-10">
        <div class="section-title flex-box">
            <h1 class="font-large">My Trip</h1>
        </div>
    </div>
</div>
<section class="dulwa-packages pd-t-60" style="background-color: #fff; color: #1c1c1c; padding-bottom: 30px;">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <img src="~/images/slider/slider1.jpg" class="img-responsive img-mid-height" />
            </div>
        </div>
    </div>
</section>

