﻿
@{
    ViewData["Title"] = "MyTrip";
    Layout = "~/Views/Shared/_userlayout.cshtml";
}
<div ng-app="startapp">
    <div class="row">
        <div class="col-md-1 col-sm-2 col-xs-2">
            <a href="#menu-toggle" id="menu-toggle"><h5><i id="shwHideIcon" class="fa fa-bars" style="color:#1e222c;"></i></h5></a>
        </div>
        <div class="col-md-11 col-sm-10 col-xs-10">
            <div class="section-title flex-box">
                <h1 class="font-large">My Trip</h1>
            </div>
        </div>
    </div>
    <section class="dulwa-packages pd-t-60" style="background-color: #fff; color: #1c1c1c; padding-bottom: 30px;" ng-controller="MapController">
        <div class="row">
            <div class="col-md-12" ng-init="LoadMap();">
                <div class="form-group" id="map-canvas" style="width:1000px;height:500px;image-orientation:inherit;">
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts{ 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsOKYv9jFWsL9ddXa9T7XcPuprTTdmrSU&libraries=geometry"></script>
<script src="~/lib/angular/angular.js"></script>
<script src="~/lib/angular/angular-resource.js"></script>
<script src="~/AngularServices/Services/common.services.js"></script>
<script src="~/AngularServices/MapApp.js"></script>
<script src="~/AngularServices/Services/mapServices.js"></script>
<script src="~/angularservices/controllers/mapcontroller.js"></script>
}