﻿
@{
    ViewData["Title"] = "Package";
    Layout = "~/Views/Shared/_userlayout.cshtml";
}
<div class="row">
    <div class="col-md-1 col-sm-2 col-xs-2">
        <a href="#menu-toggle" id="menu-toggle"><h5><i id="shwHideIcon" class="fa fa-bars" style="color:#1e222c;"></i></h5></a>
    </div>
    <div class="col-md-6 col-sm-5 col-xs-5">
        <div class="section-title flex-box">
            <h1 class="font-large">Package</h1>
        </div>
        
    </div>
    <div class="col-md-5 col-sm-5 col-xs-5">
        <a style="cursor:pointer;" class="pull-right" data-target="#myPackageModal" data-toggle="modal">Create Package</a>
    </div>
</div>
<section class="dulwa-packages pd-t-60" style="background-color: #fff; color: #1c1c1c; padding-bottom: 30px;">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <img src="~/images/milestonebg.jpg" class="img-responsive img-mid-height" style="opacity: 1">
            </div>
            <div class="form-group">
                <center>
                    <h6>Mile Stone</h6>
                    <span>description</span><br>
                    <span>
                        <button type="button" class="product-button btn-dark"><span>Detail</span></button>
                    </span>
                </center>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <img src="~/images/milestonebg.jpg" class="img-responsive img-mid-height" style="opacity: 1">
            </div>
            <div class="form-group">
                <center>
                    <h6>Mile Stone</h6>
                    <span>description</span><br>
                    <span>
                        <button type="button" class="product-button btn-dark"><span>Detail</span></button>
                    </span>
                </center>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <img src="~/images/milestonebg.jpg" class="img-responsive img-mid-height" style="opacity: 1">
            </div>
            <div class="form-group">
                <center>
                    <h6>Mile Stone</h6>
                    <span>description</span><br>
                    <span>
                        <button type="button" class="product-button btn-dark"><span>Detail</span></button>
                    </span>
                </center>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <img src="~/images/milestonebg.jpg" class="img-responsive img-mid-height" style="opacity: 1">
            </div>
            <div class="form-group">
                <center>
                    <h6>Mile Stone</h6>
                    <span>description</span><br>
                    <span>
                        <button type="button" class="product-button btn-dark"><span>Detail</span></button>
                    </span>
                </center>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="myPackageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content-lg">
            <div class="modal-body">
                <button type="button" class="close modal-btn pull-right" data-dismiss="modal" aria-label="Close" style="outline:none !important;"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="modal-content-2" style="color: #1c1c1c">
                    <div class="pd-t-10 pd-b-10">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body pd-t-10">
                                        <div class="card-material">
                                            <div class="form-group">
                                                <div class="input-container">
                                                    <input type="text" id="Name" name="Name" required="required" />
                                                    <label for="Name">Name</label>
                                                    <div class="bar"></div>
                                                </div>
                                                <div class="input-container">
                                                    <input type="text" id="Description" name="Description" required="required" />
                                                    <label for="Description">Description</label>
                                                    <div class="bar"></div>
                                                </div>
                                                <div class="input-container">
                                                    Cover Image
                                                    <input type="file" id="CoverImage" name="CoverImage" class="form-control" />
                                                </div>
                                                <div class="input-container">
                                                    <button class="btn btn-primary">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 hidden-md-down">
                                <div style="width:100%;background:#808080;height:300px;">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/AngularServices/Services/mapServices.js"></script>
    <script src="~/AngularServices/Controllers/mapFullController.js"></script>
}
