﻿@model IEnumerable<Dulwa.v1.ViewModel.StoryViewModel>
@{
    ViewData["Title"] = "Story";
    Layout = "~/Views/Shared/_userlayout.cshtml";
}
<div class="row">
    <div class="col-md-1 col-sm-2 col-xs-2">
        <a href="#menu-toggle" id="menu-toggle"><h5><i id="shwHideIcon" class="fa fa-bars" style="color:#1e222c;"></i></h5></a>
    </div>
    <div class="col-md-11 col-sm-10 col-xs-10">
        <div class="section-title flex-box">
            <h1 class="font-large">Story</h1>
        </div>
    </div>
</div>
<section class="dulwa-packages pd-t-60" style="background-color: #fff; color: #1c1c1c; padding-bottom: 30px;">
    <div class="row">
        <div class="col-md-12">

            @foreach (var story in Model)
            {
                <div class="form-group">
                    <div class="story-img">
                        <img src="~/Content/Uploaded/@story.ImageUrl" style="object-fit:cover !important;width:100%;" class="img-responsive" />
                    </div>
                    <h4>@story.Author</h4>
                    <p>
                        @Html.Raw(story.Description)
                        <br /><a asp-action="StoryDetail" asp-controller="Story" asp-route-Id="@story.Id">Read more</a>
                    </p>
                    <hr />
                </div>
            }
            @*
                <div class="form-group">
                    <div class="story-img">
                        <img src="~/images/slider/slide2_bg.jpg" class="img-responsive img-mid-height" />
                    </div>
                    <h4>Author</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        <br /><a href="#">Read more</a>
                    </p>
                    <hr />
                </div>

                <div class="form-group">
                    <div class="story-img">
                        <img src="~/images/slider/slide3_bg.jpg" class="img-responsive img-mid-height" />
                    </div>
                    <h4>Author</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        <br /><a href="#">Read more</a>
                    </p>
                    <hr />
                </div>*@
        </div>
    </div>
</section>
