﻿@model DulwaInfoViewModel
@{
    ViewData["Title"] = "Destination";
    ViewData["Destination"] = "You are at " + Model.Name;
}
<!--Ends-->
<div class="body-wrapp destination clearfix" ng-controller="mapoutlineController" ng-init="LoadMap(@Model.Lat,@Model.lon)">
    <section class="d-banner banner-package clearfix flex-box" style="background-image: url('../../Content/Uploaded/@Model.Image')">
        <div class="col-md-6 d-banner-left-info">
            <div class="nearest-desti d-i-b">
                <span class="explore-near-desti"><i class="ti-location-pin"></i> Nearest Attraction</span>
                <span class="near-desti-img" style="visibility:hidden;"><a href="#"><img src="~/images/galImg4.png" /></a> </span>
                <div class="nearest-desti-list" ng-init="nearAttraction('@Model.Id')">
                    <div class="wrap flex-box" ng-repeat="near in nearattraction">
                        <span class="near-desti-img"><a href="#"><img src="~/Content/Uploaded/{{near.imageUrl}}" /></a> </span>
                        <a class="text-no-wrap" ng-click="LoadNearAttractionOnMap('@Model.Id',near)">{{near.name}}</a> / <b class="text-no-wrap">{{near.expensive}}</b>
                    </div>
                    @*<div class="wrap flex-box">
                            <span class="near-desti-img"><a href="#"><img src="~/Content/Uploaded/13032018-pokhara.jpg" /></a> </span>
                            <a href="#">Pokhara destination</a>
                        </div>*@
                </div>
            </div>
            <div class="d-t">
                <div class="d-t-c-m" ng-init="LoadReview('@Model.Id','DulwaInfo');LoadDulwaInformation()">
                    <h2 class="d-title">@Model.Name</h2>
                    <span class="ratings">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star disable" aria-hidden="true"></i> &nbsp; @Model.Rating
                    </span>
                    <span class="enquiry-btn">
                        <a data-target="#myModalEnquiry" data-toggle="modal" class="custom-btn primary-btn des-button cursor-pointer">Enquiry</a>
                    </span>
                    <span class="review">
                        <span><i class="fa fa-comment-o fa-4x" aria-hidden="true"></i><span class="val">{{ReviewData.length}}</span><a data-target="#myModalReviewList" data-toggle="modal" class="cursor-pointer" aria-hidden="true" style="border:none;background:none; font-size:14px;">Reviews</a></span> <a data-target="#myModalReview" data-toggle="modal" class="writeReview cursor-pointer">Write a Review</a>
                    </span>
                    <div class="toll-free">
                        <span>Toll Free</span>
                        {{dulwainformation.TollFreeNo}}
                    </div>
                </div>
            </div>
        </div>

        <!--Enquiry Popup-->
        <div id="myModalEnquiry" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-css">
                <!-- Modal content-->
                <div class="modal-content" style="z-index:99999;">
                    <div class="modal-body">
                        <button type="button" class="close modal-btn pull-right" data-dismiss="modal" aria-label="Close" style="outline:none !important;"><span aria-hidden="true">&times;</span></button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <center>
                                        <a asp-action="index" asp-controller="home">
                                            <img class="margin-top-15" src="~/images/logoblack.png" height="60">
                                        </a>
                                    </center>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="commnet-box" style="padding:0px 30px;text-align:center;">
                                            <h1>Make an enquiry about @Model.Name</h1>
                                            <div class="card-material">
                                                <div class="form-group">
                                                    <div class="input-container" style="margin:0px !important;">
                                                        <input type="text" id="Name" name="Name" required="required" />
                                                        <label for="Name">Your Name</label>
                                                        <div class="bar"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-container" style="margin:0px !important;">
                                                        <input type="text" id="Email" name="Email" required="required" />
                                                        <label for="Email">Email address</label>
                                                        <div class="bar"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-container" style="margin:0px !important;">
                                                        <input type="text" id="Contact" name="Contact" required="required" />
                                                        <label for="Contact">Contact Number</label>
                                                        <div class="bar"></div>
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <div class="input-container" style="margin:0px !important;">
                                                        <textarea id="enquery" placeholder="Write an enquiry" name="Message" class="materialize-textarea" required="required"></textarea>
                                                        @*<label for="enquery">Write an enquiry:</label>
                                                            <div class="bar"></div>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="enquiry-btn">
                                                <input type="submit" class="btn custom-btn primary-btn cursor-pointer" value="Submit" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Enquiry Popup End-->
        <!--Modal Popup-->
        <div id="myModalReview" class="modal fade" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-dialog-css" role="document">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close modal-btn pull-right" data-dismiss="modal" aria-label="Close" style="outline:none !important;z-index:9999 !important"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <center>
                                        <a asp-action="index" asp-controller="home">
                                            <img class="margin-top-15" src="~/images/logoblack.png" height="60">
                                        </a>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <form ng-submit="submitReviewForm()">
                            <input type="hidden" ng-init="review.DulwainfoId='@Model.Id'" ng-model="review.DulwainfoId" />
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="commnet-box" style="padding:0px 30px;text-align:center;">
                                            <h1>Review @Model.Name</h1>
                                            <div class="card-material">
                                                <div class="form-group">
                                                    <div class="input-container" style="margin:0px !important;">
                                                        <input type="text" id="Name" name="Name" ng-model="review.Name" required="required" />
                                                        <label for="Name">Your Name</label>
                                                        <div class="bar"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-container" style="margin:0px !important;">
                                                        <textarea placeholder="Your Reviews" id="message" class="materialize-textarea" ng-model="review.Message"></textarea>
                                                        @*<label for="message">Your Reviews</label>
                                                            <div class="bar"></div>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="enquiry-btn">
                                                <input type="submit" class="custom-btn primary-btn cursor-pointer" value="Send" />
                                            </span>
                                            <br />
                                            <i class="fa fa-refresh fa-spin" style="font-size:24px;margin-top:20px;" ng-show="message"></i>
                                        </div>


                                    </div>
                                </div>

                                <br /><br />
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!--Enquiry Popup-->
        <div id="myModalReviewList" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-css">
                <!-- Modal content-->
                <div class="modal-content" style="z-index:99999;">
                    <div class="modal-body">
                        <button type="button" class="close modal-btn pull-right" data-dismiss="modal" aria-label="Close" style="outline:none !important;"><span aria-hidden="true">&times;</span></button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <center>
                                        <a asp-action="index" asp-controller="home">
                                            <img class="margin-top-15" src="~/images/logoblack.png" height="60">
                                        </a>
                                        <br />
                                        <div class="section-title">
                                            <h1 class="font-large">Review List</h1>
                                            <hr />
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="review in ReviewData">
                            <div class="row">
                                <div class="col-md-2" ng-if="review.userProfile">
                                    <img src="~/Content/Uploaded/{{review.userProfile}}" style="width:50px; height:50px;" class="img-circle" />
                                </div>
                                <div class="col-md-2" ng-if="!review.userProfile">
                                    <img src="~/images/user_placeholder.png" style="width:50px; height:50px;" class="img-circle" />
                                </div>
                                <div class="col-md-10">
                                    <b>{{review.name}}</b>
                                    <br /> {{review.message}}
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Enquiry Popup End-->

        <div id="reviewsuccess" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-css">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close modal-btn pull-right" data-dismiss="modal" aria-label="Close" style="outline:none !important;"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <center>
                                        <a asp-action="index" asp-controller="home">
                                            <img class="margin-top-15" src="~/images/logoblack.png" height="60">
                                        </a>
                                    </center>
                                </div>
                                <div class="form-group">
                                    <h2>Thank You For Your Review</h2>
                                    <h4>You Look</h4>
                                    <h2 ng-show="sad"><i class='fa fa-frown-o'></i></h2>
                                    <h2 ng-show="medium"><i class='fa fa-meh-o'></i></h2>
                                    <h2 ng-show="happy"><i class='fa fa-smile-o'></i></h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-banner-left-info hidden-sm-down">
            <div class="d-t">
                <div class="d-t-c-m">
                    <div class="d-map-wrap" id="map-canvas" style="height:300px;width:600px;" ng-init="Route('@Model.Id','route')">
                    </div>
                </div>
            </div>
            <div class="bottom-info flex-box" ng-init="Weather(@Model.Lat,@Model.lon)">
                <span class="general-info">
                    <span class="weather"><i><img src="~/images/weather.png"></i>{{((Weatherdata.temperature)-32)*5/9 | number: 2}} C</span>
                    <span class="mid-space"> | </span>
                    <span class="time"><i class="ti-time"></i>18:00 NST </span>
                    <span class="mid-space"> | </span>
                    <span class="time" ng-show="routeview" ng-click="Route('@Model.Id','route')"><i class="ti-time"></i>Route </span>
                    <span class="time" ng-show="placeview" ng-click="Route('@Model.Id','polygon')"><i class="ti-time"></i>Place </span>
                </span>
                <span class="zoom"><a href="#" class="ti-fullscreen"></a></span>
            </div>
        </div>
    </section>
    <!--packages-->
    <section class="dulwa-packages">
        <div class="w3-bar w3-black pd-l-30 pd-r-30" id="dulwa-tab">
            <div class="row">
                <div class="col-md-2 col-lg-3"></div>
                <div class="col-md-8 text-center">
                    <button class="w3-bar-item w3-button" onclick="openTab('Description','btn-Description')" id="btn-Description">Description</button>
                    <button class="w3-bar-item w3-button" onclick="openTab('Packages','btn-Packages')" id="btn-Packages" ng-click="finished()">Packages</button>
                    <button class="w3-bar-item w3-button" onclick="openTab('Cuisines','btn-Cuisines')" id="btn-Cuisines" ng-click="finished()">Cuisines</button>
                    <button class="w3-bar-item w3-button" onclick="openTab('Tradition','btn-Tradition')" id="btn-Tradition" ng-click="finished()">Tradition & Culture</button>
                    <button class="w3-bar-item w3-button" onclick="openTab('Events','btn-Events')" id="btn-Events" ng-click="finished()">Events</button>
                    <button class="w3-bar-item w3-button" onclick="openTab('ThingsToDo','btn-ThingsTodo')" id="btn-ThingsTodo" ng-click="finished()">Things to do</button>
                </div>
            </div>
        </div>

        <div id="Description" class="w3-container city">
            <div class="jr-site-centralize">
                <div class="section-title flex-box">
                    <h1>Description <span></span></h1>
                </div>
                <div class="packages-items">
                    <p>@Html.Raw(Model.Description)</p>
                </div>

            </div>
        </div>
        <div id="Packages" class="w3-container city" style="display:none">
            <div class="jr-site-centralize">
                <div class="section-title flex-box">
                    <h1>Packages <span></span></h1>
                </div>
                <div class="packages-items">
                    <data-owl-carousel class="owl-carousel" data-options="owlOptionsTestimonials">
                        <div owl-carousel-item="" ng-repeat="item in fbAlbumImages" class="item">
                            <img ng-src="{{item.source}}" alt="image" width="250">
                        </div>
                    </data-owl-carousel>
                    <div class="owl-carousel owl-theme" ng-init="package('@Model.Id')">
                        <div class="item" ng-repeat="pack in package">
                            <img src="~/Content/Uploaded/ImageResize/Small-{{pack.image}}">
                            <div class="info">
                                <span class="title">{{pack.name}}</span>
                                <span class="type">{{pack.types}}</span>
                                <span class="time"> <i class="ti-time"></i>{{pack.duration}} Days {{(pack.duration)-1}} Nights</span>
                                <a href="/Package/Detail?Id={{pack.id}}&DulwaId=@Model.Id">Package Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="Cuisines" class="w3-container city" style="display:none">
            <div class="jr-site-centralize">
                <div class="section-title flex-box">
                    <h1>Cuisines <span></span></h1>
                </div>
                <div class="packages-items">

                    <data-owl-carousel class="owl-carousel" data-options="owlOptionsTestimonials">
                        <div owl-carousel-item="" ng-repeat="item in fbAlbumImages" class="item">
                            <img ng-src="{{item.source}}" alt="image" width="250">
                        </div>
                    </data-owl-carousel>
                    <div class="owl-carousel owl-theme" ng-init="cuisine('@Model.Id')">
                        <div class="item" ng-repeat="cuisine in cuisinedata">
                            <img src="~/Content/Uploaded/ImageResize/Small-{{cuisine.image}}">

                            <div class="info">
                                <span class="title">{{cuisine.name}}</span>                                
                                <span class="time"> <i class="ti-time"></i><i ng-repeat="data in cuisine.communitys">{{data}}</i></span>
                                <a href="#" data-target="#cuisineModal" data-toggle="modal" ng-click="cuisinemodal(cuisine)">Find Restaurants</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Cuisine Modal popup-->
        <div id="cuisineModal" class="modal fade" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{cuisinemodadata.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="item">
                                    <img src="~/Content/Uploaded/ImageResize/Small-{{cuisinemodadata.image}}" />
                                </div>
                            </div>
                            <div class="col-md-7">                                
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            Nepali Data : {{traditionculturemodaldata.nepaliDate}}
                            Communities : {{traditionculturemodaldata.community}}
                        </div>
                        <hr />
                        <div class="row">
                            {{traditionculturemodaldata.purpose}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Tradition Modal popup-->

        <div id="Tradition" class="w3-container city" style="display:none">
            <div class="jr-site-centralize">
                <div class="section-title flex-box">
                    <h1>Trading & Culture <span></span></h1>
                </div>
                <div class="packages-items">

                    <data-owl-carousel class="owl-carousel" data-options="owlOptionsTestimonials">
                        <div owl-carousel-item="" ng-repeat="item in fbAlbumImages" class="item">
                            <img ng-src="{{item.source}}" alt="image" width="250">
                        </div>
                    </data-owl-carousel>
                    <div class="owl-carousel owl-theme" ng-init="traditionculture('@Model.Id')">
                        <div class="item" ng-repeat="tradition in traditionculturedata">
                            <img src="~/Content/Uploaded/ImageResize/Small-{{tradition.image}}">
                            <div class="info">
                                <span class="title">{{tradition.name}}</span>
                                <span class="time"> <i class="ti-time"></i><i ng-repeat="data in tradition.communitys">{{data}}</i></span>
                                <a data-target="#traditionModal" data-toggle="modal" href="#" ng-click="traditionculturemodal(tradition)">Tradition Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Tradition Modal popup-->
        <div id="traditionModal" class="modal fade" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{traditionculturemodaldata.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="item">
                                    <img src="~/Content/Uploaded/ImageResize/Small-{{traditionculturemodaldata.image}}" />
                                </div>
                            </div>
                            <div class="col-md-7">
                                {{traditionculturemodaldata.description}}
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            Nepali Data : {{traditionculturemodaldata.nepaliDate}}
                            Communities : {{traditionculturemodaldata.community}}
                        </div>
                        <hr /> 
                        <div class="row">
                            {{traditionculturemodaldata.purpose}}
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <!--End Tradition Modal popup-->
        <div id="Events" class="w3-container city" style="display:none">
            <div class="jr-site-centralize">
                <div class="section-title flex-box">
                    <h1>Events <span></span></h1>
                </div>
                <div class="packages-items">

                    <data-owl-carousel class="owl-carousel" data-options="owlOptionsTestimonials">
                        <div owl-carousel-item="" ng-repeat="item in fbAlbumImages" class="item">
                            <img ng-src="{{item.source}}" alt="image" width="250">
                        </div>
                    </data-owl-carousel>
                    <div class="owl-carousel owl-theme" ng-init="event('@Model.Id')">
                        <div class="item" ng-repeat="event in eventdata">
                            <img src="~/Content/Uploaded/ImageResize/Small-{{event.image}}">

                            <div class="info">
                                <span class="title">{{event.name}}</span>
                                <span class="type">{{event.types}}</span>
                                <span class="time"> <i class="ti-time"></i>{{event.Duration}}</span>
                                <a href="/Package/Detail/{{event.id}}">Event Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="ThingsToDo" class="w3-container city" style="display:none">
            <!--Things to do-->

            <div class="jr-site-centralize">
                <div class="section-title flex-box">
                    <h1>Things to do</h1>
                </div>
                @if (ViewBag.curriculum != null)
                {
                    <div class="packages-items">
                        <div class="row owl-theme">

                            @foreach (var curri in ViewBag.curriculum)
                            {
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="item" style="margin-bottom:20px !important;">
                                        <img src="~/Content/Uploaded/@curri.ImageUrl">
                                        <div class="info">
                                            <span class="title">@curri.Name</span>
                                            <a target="_blank" href="@curri.redirectLink">Read more..</a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                }
                @*<h2>
                    Things To Do
                </h2>
                <a href="#" class="custom-btn primary-btn">Enter Contest</a>*@
            </div>

            <!--Ends-->
        </div>



    </section>
    <!--Ends-->
    <!--Stories-->
    <section class="dulwa-stories pd-t-100 pd-b-100 pd-l-40 pd-r-40">
        <div class="jr-site-centralize">
            <div class="row">
                <div class="col-md-3 pd-t-100">
                    <h2>
                        <span>Dulwa</span>
                        Stories
                    </h2>
                    <p>
                        Some handpicked stories from @Model.Name
                    </p>
                    <a asp-action="list" asp-controller="Story" asp-route-id="@Model.slug" class="dark-grey-btn">Read more</a>
                </div>

                @foreach (var story in Model.DulwaStory.Select((value, index) => new { Value = value, Index = index }))
                {
                    if (story.Index == 0)
                    {
                        <div class="col-md-4 ">

                            <div class="item big">
                                <img src="~/Content/Uploaded/@story.Value.ImageUrl" />
                                <div class="info">
                                    <span class="category">@story.Value.StoryCategory.Name</span>
                                    <a asp-action="StoryDetail" asp-controller="story" asp-route-id="@story.Value.slug" class="title">
                                        @story.Value.Name
                                    </a>
                                    <span class="authors">
                                        <span><i class="ti-user"></i>@story.Value.Author</span>
                                        <span><i class="ti-calendar"></i>@story.Value.Date.ToString("dd MMM, yyyy")</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="col-md-5">
                    <div class="row">
                        @foreach (var story in Model.DulwaStory.Select((value, index) => new { Value = value, Index = index }))
                        {
                            if (story.Index > 0 && story.Index < 3)
                            {
                                <div class="col-md-6">
                                    <div class="item">
                                        <img src="~/Content/Uploaded/@story.Value.ImageUrl" />
                                        <div class="info">
                                            <span class="category">@story.Value.StoryCategory.Name</span>
                                            <a asp-action="StoryDetail" asp-controller="Story" asp-route-id="@story.Value.slug" class="title">
                                                @story.Value.Name
                                            </a>
                                            <span class="authors">
                                                <span><i class="ti-user"></i>@story.Value.Author</span>
                                                <span><i class="ti-calendar"></i>@story.Value.Date.ToString("dd MMM, yyyy")</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        @foreach (var story in Model.DulwaStory.Select((value, index) => new { Value = value, Index = index }))
                        {
                            if (story.Index > 2)
                            {
                                <div class="col-md-12">
                                    <div class="item">
                                        <img src="~/Content/Uploaded/@story.Value.ImageUrl" />
                                        <div class="info">
                                            <span class="category">@story.Value.StoryCategory.Name</span>
                                            <a asp-action="StoryDetail" asp-controller="Story" asp-route-id="@story.Value.slug" class="title">
                                                @story.Value.Name
                                            </a>
                                            <span class="authors">
                                                <span><i class="ti-user"></i>@story.Value.Author</span>
                                                <span><i class="ti-calendar"></i>@story.Value.Date.ToString("dd MMM, yyyy")</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--Ends-->
    <!-- Gallery Glimps-->
    <section class="glimps-gal clearfix">
        <div class="section-title">
            <div class="row">
                <div class="col-md-6 form-group">
                    <h1>Some of Glimps <span>From the gallery</span></h1>
                </div>
                <div class="col-md-6 form-group">
                    <div class="btn-wrap pull-right"><a asp-action="Index" asp-controller="Gallery" class="custom-btn dark-grey-btn">View all Albums</a></div>
                </div>
            </div>
        </div>
        <div class="gal-wrap">
            <div class="row">
                @if (Model.Gallery != null)
                {
                    @foreach (var gallery in Model.Gallery.GalleryImage.Select((value, index) => new { Value = value, Index = index }))
                    {
                        if (gallery.Index == 0)
                        {

                            <div class="col-md-5 col-sm-12 col-xs-12 main-vid">
                                <div class="item isvideo">
                                    <img src="~/Content/Uploaded/@gallery.Value.ImageUrl" style="width:100%;" />
                                    <div class="play-btn">
                                        <i class="ti-control-play"></i>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            break;
                        }

                    }
                    <div class="col-md-7">
                        <div class="row flex-box">
                            @foreach (var gallery in Model.Gallery.GalleryImage.Select((value, index) => new { Value = value, Index = index }))
                            {
                                if (gallery.Index > 0 && gallery.Index < 7)
                                {
                                    <div class="col-md-4">
                                        <div class="item">
                                            <a href="#"><img src="~/Content/Uploaded/@gallery.Value.ImageUrl" /> </a>
                                        </div>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!--Submit-->
    @if (ViewBag.Contest != null)
    {
        <section class="contest-info pd-t-60 pd-b-60 text-align-center">
            <div class="jr-site-centralize large-wrap">
                <h2>
                    @ViewBag.Contest.Title
                </h2>
                <a asp-action="Index" asp-controller="Contest" asp-route-Id="@ViewBag.Contest.Id" class="custom-btn primary-btn">Enter Contest</a>
            </div>
        </section>
    }
    <!--Ends-->


</div>

@section Scripts{
    <script src="~/AngularServices/Services/mapServices.js"></script>
    <script src="~/AngularServices/Controllers/mapoutlineController.js"></script>
    <script>



    </script>

    <script>
        $(document).ready(function () {
            //$('#' + buttonID).on('click', function (e) {
            //    $(this).find('.w3-button').removeClass("active");
            //});

            $('#enquery').on('keydown', function (e) {
                var that = $(this);
                if (that.scrollTop()) {
                    $(this).width(function (i, h) {
                        return h + 20;
                    });
                }
            });
        });

        function openTab(TabName, buttonID) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }

            document.getElementById(TabName).style.display = "block";
            $('.w3-black button.active').removeClass('active');

            $('#' + buttonID).addClass('active');
            //$('#dulwa-tab button').each(function () {
            //    if (this.href == url) {
            //        $(this).parent().addClass('w3-bar-item w3-button active');
            //    }
            //});


        }
    </script>


}