﻿@model Dulwa.v1.ViewModel.PackageViewModel
@{
    ViewData["Title"] = "Detail";
}

<div class="body-wrapp destination clearfix" ng-controller="mapoutlineController" ng-init="LoadMap(@Model.lat,@Model.lon)">

    <!--Top Banner-->
    <section class="d-banner banner-package clearfix flex-box" style="background-image: url('../../Content/Uploaded/@Model.image')">
        <div class="package-title ">

            <div class="caption flex-box pd-l-40 pd-r-40">
                <div class="title">
                    <h2 class="title">@Model.Name</h2>
                    <span class="ratings">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star disable" aria-hidden="true"></i>
                        <span>@Model.rating</span>

                    </span>
                    <p class="mode-easy">@Model.Types</p>
                </div>
                <div class="other-info general-info">
                    <span class="weather"><i><img src="~/images/weather.png"></i>23 C</span>
                    <span class="mid-space"> | </span>
                    <span class="time"><i class="ti-time"></i>18:00 NST </span>
                </div>

            </div>

        </div>
    </section>

    <!--package short info -->
    <section class="package-short-info pd-l-40 pd-r-40">
        <div class="flex-box align-flex-item-center" ng-init="LoadReview('@Model.Id','Package')">
            <span class="review">
                <span><i class="fa fa-comment-o" aria-hidden="true"></i><span class="val">{{ReviewData.length}}</span> Reviews</span> <a data-target="#myModalReview" data-toggle="modal" href="#">Write a Review</a>
            </span>
            <span class="mode-easy"><img src="~/images/easyIcon.png">&nbsp;<span>@Model.Types</span> </span>
            <span class="time"> <i class="ti-time"></i> &nbsp; @Model.Duration Days </span>
            <span class="package-price">Rs @Model.Price</span>
            <a href="#" class="custom-btn primary-btn">Book Now</a>
        </div>
    </section>
    <!--Ends-->
    <!--Details contente-->
    <div id="myModalReview" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="z-index:99999;">
                <div class="modal-body">
                    <button type="button" class="close modal-btn pull-right" data-dismiss="modal" aria-label="Close" style="outline:none !important;"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <center>
                                    <a asp-action="index" asp-controller="home">
                                        <img class="margin-top-15" src="~/images/logoblack.png" height="60">
                                    </a>
                                    <br />

                                    <div class="section-title">
                                        <h1 class="font-large">Write your review here</h1>
                                    </div>

                                </center>
                            </div>
                        </div>
                    </div>

                </div>
                <form ng-submit="submitReviewForm()">
                    <input type="hidden" ng-init="review.PackageId='@Model.Id'" ng-model="review.PackageId" />
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-material">
                                    <div class="form-group">
                                        <div class="input-container">
                                            <input type="text" id="Name" name="Name" ng-model="review.Name" required="required" />
                                            <label for="Name">Your Name</label>
                                            <div class="bar"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-container">
                                            <input name="Message" id="Message" type="text" ng-model="review.Message" required="required" />
                                            @*<input type="password" id="Password" name="Password" required="required" />*@
                                            <label for="Message">Write description here</label>
                                            <div class="bar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <input type="submit" class="btn custom-btn primary-btn" value="Send" />
                                </div>
                            </div>
                        </div>
                        <br /><br />
                    </div>

                </form>
            </div>
        </div>
    </div>
    <section class="details-content">
        <div class="jr-site-centralize ">
            <div class="flex-box">
                <div class="col-md-8 content-wrap pd-l-0 pd-r-0">

                    <div class="flex-box stretch">

                        <div class="pd-t-80 pd-b-80 pd-l-40 pd-r-40">
                            <h2>@Model.Name</h2>
                            @Html.Raw(Model.Description)
                        </div>

                        <!--Itenerary-->
                        <div class="days-out text-align-center pd-t-80 pd-t-80 pd-l-40 pd-r-40" id="map-canvas" ng-init="PackageRoute('@Model.Id')">

                        </div>
                        <!--Ends-->
                        <!--Stuff Shopping-->
                        <div class="stuff-shopping pd-t-80 pd-b-80" ng-init="StuffData(@Model.StoreCategory)">
                            <h1>Stuff you might Need</h1>
                            <div class="owl-carousel owl-two owl-theme">
                                <div class="item" ng-repeat="stuff in stuffdata">
                                    <div class="img-holder">
                                        <img src="~/Content/Uploaded/{{stuff.imageUrl}}">
                                    </div>
                                    <div class="info">
                                        <a href="/Store/ProductDetail/{{stuff.id}}" class="title">{{stuff.name}}</a>
                                        <span class="type">Rs. {{stuff.price}}</span>
                                    </div>
                                </div>                                

                            </div>
                        </div>

                    </div>

                </div>


                <div class="col-md-4 sidebar pd-t-80 pd-b-80 pd-l-40 pd-r-40">
                    <div class="side-bar-wrap" ng-init="CalendarData()">
                        <div class="calendar">
                            <h2>Trip Schedule</h2>
                            <div id="calendar"></div>
                        </div>

                        <div class="dulwa-stories">
                            <h2>Featured <span>Stories</span></h2>
                            <div class="item">
              -                  <img src="~/images/storyImg2.png" />
                                <div class="info">
                                    <span class="category">Tradition</span>
                                    <a href="#" class="title">
                                        Tradition on
                                        The top
                                    </a>

                                    <span class="authors">
                                        <span><i class="ti-user"></i>Author</span>
                                        <span><i class="ti-calendar"></i>18 Dec, 2017</span>
                                    </span>

                                </div>
                            </div>
                            <div class="item">
                                <img src="~/images/storyImg4.png" />
                                <div class="info">
                                    <span class="category">Tradition</span>
                                    <a href="#" class="title">
                                        Tradition on
                                        The top
                                    </a>

                                    <span class="authors">
                                        <span><i class="ti-user"></i>Author</span>
                                        <span><i class="ti-calendar"></i>18 Dec, 2017</span>
                                    </span>

                                </div>
                            </div>
                        </div>

                        <div class="enquiry">
                            <h2>Enquiry</h2>
                            <form>
                                <div class="form-field">
                                    <input type="text" placeholder="full name">
                                </div>
                                <div class="form-field">
                                    <input type="text" placeholder="Email Address">
                                </div>
                                <div class="form-field">
                                    <input type="text" placeholder="Contact No.">
                                </div>
                                <div class="form-field">
                                    <textarea placeholder="Message"></textarea>
                                </div>
                                <div class="form-field">
                                    <button type="submit" class="custom-btn light-grey-btn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <!--packages-->
    <section class="dulwa-packages pd-t-60">
        <div class="jr-site-centralize">
            <div class="section-title flex-box pd-l-40 pd-r-40">
                <h1>Pakcages <span>From the gallery</span></h1>
            </div>

            <div class="packages-items">
                <data-owl-carousel class="owl-carousel" data-options="owlOptionsTestimonials">
                    <div owl-carousel-item="" ng-repeat="item in fbAlbumImages" class="item">
                        <img ng-src="{{item.source}}" alt="image" width="250">
                    </div>
                </data-owl-carousel>
                <div class="owl-carousel owl-theme" ng-init="package('@ViewBag.DulwaId')">
                    <div class="item" ng-repeat="pack in package" ng-init="$last && finished()">
                        <img src="~/Content/Uploaded/ImageResize/Small-{{pack.image}}">
                        <div class="info">
                            <span class="title">{{pack.name}}</span>
                            <span class="type">{{pack.types}}</span>
                            <span class="time"> <i class="ti-time"></i>{{pack.Duration}}</span>
                            <a href="/Package/Detail/{{pack.id}}">Package Details</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--Ends-->



</div>

@section Scripts{
    <link href="~/lib/vendors/calendar/fullcalendar.css" rel="stylesheet" />
    <script src="~/lib/vendors/calendar/moment.min.js"></script>
    <script src="~/lib/vendors/calendar/fullcalendar.js"></script> 
    <script src="~/AngularServices/Services/mapServices.js"></script>
    <script src="~/AngularServices/Controllers/mapoutlineController.js"></script>

   
}
