﻿@model IEnumerable<Dulwa.v1.ViewModel.PackageViewModel>

@{
    ViewData["Title"] = "Index";
}

<!--Package-->
<div class="body-wrapp destination clearfix">
    <section class="d-banner banner-package clearfix flex-box" style="background-image: url('../../images/111.jpg')">
        <div class="package-title ">
            <div class="caption stories-banner-text text-align-center pd-l-40 pd-r-40">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h1>
                                <span>Packages</span>

                            </h1>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" style="padding:9px;" placeholder="Eg: Pokhara Portrait">
                                    <a href="#" class="custom-btn primary-btn">Browse</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!--packages-->
    <section class="dulwa-packages pd-t-60">
        <div class="jr-site-centralize">
           
            <div class="packages-items">
                <div class="row owl-theme">
                    @foreach (var package in Model.Select((value, index) => new { Value = value, Index = index }))
                    {
                    @*<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="item" style="margin-bottom:20px !important;">
                            <img src="~/Content/Uploaded/0233583_630x355.jpg">
                            <div class="info">
                                <span class="title">Package Title</span>
                                <span class="type">Economy</span>
                                <span class="time"> <i class="ti-time"></i>5 Days 4 Nights</span>
                                <a href="#">Package Details</a>
                            </div>
                        </div>
                    </div>*@
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="item" style="margin-bottom:20px !important;">
                            <img src="~/Content/Uploaded/@package.Value.image">
                            <div class="info">
                                <span class="title">@package.Value.Description</span>
                                <span class="type">@package.Value.Types</span>
                                <span class="time"> <i class="ti-time"></i>@package.Value.Duration</span>
                                <a href="/Package/Detail/@package.Value.Id">Package Details</a>
                            </div>
                        </div>
                    </div>
                    }
                </div>


            </div>
        </div>
    </section>
   



</div>

@section Scripts{
    <script src="~/AngularServices/Services/mapServices.js"></script>
    <script src="~/AngularServices/Controllers/mapoutlineController.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        });

    </script>
}