
@import "partial/normalize.css";
@import "partial/main.css";
/*Icon font*/
@import "pe-icon/Pe-icon-7-stroke.css";
@import "t-icon/themify-icons.css";
/* Font awesome */
@import "fa/css/font-awesome.min.css";

/* bootstrap*/
@import "bootstrap/bootstrap.css";
@import "bootstrap/bootstrap-grid.css";
@import "bootstrap/bootstrap-reboot.css";
@import "bootstrap/animate.css";

/*Flex Slider*/
@import "partial/flexslider.css";

/*Owl carousel*/
@import "owl/owl.carousel.min.css";

/*AOS Effect*/
@import "aos/aos.css";

/*Filter work portfolio*/
@import "filterportfolio.css";

/*Skill bar */
@import "skillbar/style.css";

/*Calendar*/
@import "calendar/style.css";

/* main */
@import "partial/custom.css";

@import "SidebarMenu.css";
@import "CheckBox.css";
@import "Materialcss/style.css";

.text-no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}