﻿@model Dulwa.v1.ViewModel.CartViewModel

@{
    Layout = "_dashboardlayout";

}
<div class="body-wrapp destination clearfix">
    <section class="details-content">
        <div class="jr-site-centralize ">
            <div class="flex-box">
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="container bg-white">
                            <div class="row">
                                <div class="col-md-12">
                                        <h2>Cart List</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    @foreach (var item in Model.CartItem)
        {
                                    <div class="material-content">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <figure>
                                                        <img src="~/Content/Uploaded/@item.Store.ImageUrl" class="img-responsive" />
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <table class="table table-bordered table-hover">
                                                        <tr>
                                                            <td>Name</td>
                                                            <td>@Html.DisplayFor(modelItem => item.Store.Name)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Quantity</td>
                                                            <td> @Html.DisplayFor(modelItem => item.Quantity)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Rate</td>
                                                            <td>$ @Html.DisplayFor(modelItem => item.Store.price)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Amount</td>
                                                            <td>
                                                                @{ var test = item.Quantity * item.Store.price;}
                                                                $ @test
                                                            </td>
                                                        </tr>
                                                    </table>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            
}
                                </div><!--end list column-->

                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12 pd-t-10" style="border-left:1px solid #f7f7f7;">
                                            <div class="form-group">
                                                <h3>Your Order Summary</h3>
                                            </div>
                                            <div class="form-group">
                                                Total Items: 1<br />
                                                Sub Total: $0.00<br />
                                                Total: $0.00
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    If you want to order the items of your cart list. Please proceed further by clicking on checkout button.
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <a class="btn btn-primary">Check Out</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Image
                                                            </th>

                                                            <th>
                                                                Quantity
                                                            </th>

                                                            <th>
                                                                Rate
                                                            </th>
                                                            <th>
                                                                Total
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.CartItem)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/Content/Uploaded/@item.Store.ImageUrl" height="80" width="100" />
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Store.price)
                                        </td>
                                        <td>
                                            @{ var test = item.Quantity * item.Store.price;}
                                            $ @test
                                        </td>
                                    </tr>
        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
