﻿
@{
    ViewData["Title"] = "CategoryList";
    Layout = "_dashboardlayout";
}


<style type="text/css">
    .nav-link {
        color: #fff !important;
        padding-top: 10px;
    }

    .dropdown-item {
        color: #292b2c !important;
    }

   
</style>


<div class="body-wrapp destination clearfix">
    <!--Header-->
    <!--  <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #1e222c; color: #fff">
         <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>
         <a class="navbar-brand" href="#" style="padding-left: 100px"><img src="src/img/logoWht.png" /></a>
         <div class="collapse navbar-collapse " id="navbarNavAltMarkup" style="color: #fff; padding-right: 100px;">
             <div class="navbar-nav ml-auto">
                 <a class="nav-item nav-link active" href="#">Category &nbsp;<i class="fa fa-bars" aria-hidden="true"></i></a>
                 <a class="nav-item nav-link" href="#">&nbsp;&nbsp;<i class="fa fa-gift" aria-hidden="true"></i></a>
                 <a class="nav-item nav-link" href="#">&nbsp;&nbsp;<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                 <li class="nav-item dropdown">
                     <a class=" dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         &nbsp;&nbsp;<img src="src/img/usericon.png" style="border-radius: 30px" height="40px" />
                     </a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item" href="#">Action</a>
                         <a class="dropdown-item" href="#">Another action</a>
                         <a class="dropdown-item" href="#">Something</a>
                     </div>
                 </li>
             </div>
         </div>
     </nav> -->


    <section class="details-content">
        <div class="container" style="padding: 20px;">
            <h4>Jacket</h4>
            <div class="row">
                <div class="col-md-9">
                    There are many variations of passages of Lorem Ipsum available,There are many variations of passages of Lorem Ipsum available,There are many variations of passages of Lorem Ipsum available,
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" style="padding: 20px;">
                    <div class="category-div product">
                        <center>
                            <figure>
                                <img src="~/images/gloves.jpg">
                            </figure>
                            <h6 class="category-heading">Gloves</h6>
                            <span class="category-sub-head">description</span>

                            <p class="category-price">$40</p><br>
                            <p class="category-button-span">
                                <i class="fa fa-gift category-icon" aria-hidden="true"> </i> &nbsp;&nbsp;
                                <button type="button" class="btn category-button">GET IT NOW</button>&nbsp;&nbsp;
                                <i class="fa fa-shopping-cart category-icon" aria-hidden="true"></i>
                            </p>
                        </center>
                    </div>
                </div>
                <div class="col-md-3" style="padding: 20px;">
                    <div class="category-div product">
                        <center>
                            <figure>
                                <img src="~/images/gloves.jpg">
                            </figure>
                            <h6 class="category-heading">Gloves</h6>
                            <span class="category-sub-head">description</span>

                            <p class="category-price">$40</p><br>
                            <p class="category-button-span">
                                <i class="fa fa-gift category-icon" aria-hidden="true"> </i> &nbsp;&nbsp;
                                <button type="button" class="btn category-button">GET IT NOW</button>&nbsp;&nbsp;
                                <i class="fa fa-shopping-cart category-icon" aria-hidden="true"></i>
                            </p>
                        </center>
                    </div>
                </div>
                <div class="col-md-3" style="padding: 20px;">
                    <div class="category-div product">
                        <center>
                            <figure>
                                <img src="~/images/gloves.jpg">
                            </figure>
                            <h6 class="category-heading">Gloves</h6>
                            <span class="category-sub-head">description</span>

                            <p class="category-price">$40</p><br>
                            <p class="category-button-span">
                                <i class="fa fa-gift category-icon" aria-hidden="true"> </i> &nbsp;&nbsp;
                                <button type="button" class="btn category-button">GET IT NOW</button>&nbsp;&nbsp;
                                <i class="fa fa-shopping-cart category-icon" aria-hidden="true"></i>
                            </p>
                        </center>
                    </div>
                </div>
                <div class="col-md-3" style="padding: 20px;">
                    <div class="category-div product">
                        <center>
                            <figure>
                                <img src="~/images/gloves.jpg">
                            </figure>
                            <h6 class="category-heading">Gloves</h6>
                            <span class="category-sub-head">description</span>

                            <p class="category-price">$40</p><br>
                            <p class="category-button-span">
                                <i class="fa fa-gift category-icon" aria-hidden="true"> </i> &nbsp;&nbsp;
                                <button type="button" class="btn category-button">GET IT NOW</button>&nbsp;&nbsp;
                                <i class="fa fa-shopping-cart category-icon" aria-hidden="true"></i>
                            </p>
                        </center>
                    </div>
                </div><div class="col-md-3" style="padding: 20px;">
    <div class="category-div product">
        <center>
            <figure>
                <img src="~/images/gloves.jpg">
            </figure>
            <h6 class="category-heading">Gloves</h6>
            <span class="category-sub-head">description</span>

            <p class="category-price">$40</p><br>
            <p class="category-button-span">
                <i class="fa fa-gift category-icon" aria-hidden="true"> </i> &nbsp;&nbsp;
                <button type="button" class="btn category-button">GET IT NOW</button>&nbsp;&nbsp;
                <i class="fa fa-shopping-cart category-icon" aria-hidden="true"></i>
            </p>
        </center>
    </div>
</div><div class="col-md-3" style="padding: 20px;">
    <div class="category-div product">
        <center>
            <figure>
                <img src="~/images/gloves.jpg">
            </figure>
            <h6 class="category-heading">Gloves</h6>
            <span class="category-sub-head">description</span>

            <p class="category-price">$40</p><br>
            <p class="category-button-span">
                <i class="fa fa-gift category-icon" aria-hidden="true"> </i> &nbsp;&nbsp;
                <button type="button" class="btn category-button">GET IT NOW</button>&nbsp;&nbsp;
                <i class="fa fa-shopping-cart category-icon" aria-hidden="true"></i>
            </p>
        </center>
    </div>
</div><div class="col-md-3" style="padding: 20px;">
    <div class="category-div product">
        <center>
            <figure>
                <img src="~/images/gloves.jpg">
            </figure>
            <h6 class="category-heading">Gloves</h6>
            <span class="category-sub-head">description</span>

            <p class="category-price">$40</p><br>
            <p class="category-button-span">
                <i class="fa fa-gift category-icon" aria-hidden="true"> </i> &nbsp;&nbsp;
                <button type="button" class="btn category-button">GET IT NOW</button>&nbsp;&nbsp;
                <i class="fa fa-shopping-cart category-icon" aria-hidden="true"></i>
            </p>
        </center>
    </div>
</div><div class="col-md-3" style="padding: 20px;">
    <div class="category-div product">
        <center>
            <figure>
                <img src="~/images/gloves.jpg">
            </figure>
            <h6 class="category-heading">Gloves</h6>
            <span class="category-sub-head">description</span>

            <p class="category-price">$40</p><br>
            <p class="category-button-span">
                <i class="fa fa-gift category-icon" aria-hidden="true"> </i> &nbsp;&nbsp;
                <button type="button" class="btn category-button">GET IT NOW</button>&nbsp;&nbsp;
                <i class="fa fa-shopping-cart category-icon" aria-hidden="true"></i>
            </p>
        </center>
    </div>
</div>
            </div>
        </div>
    </section>
</div>

