﻿@model IEnumerable<Dulwa.v1.ViewModel.StoreCategoryViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "_dashboardlayout";
}
<style type="text/css">
    .nav-link {
        color: #fff !important;
        padding-top: 10px;
    }

    .dropdown-item {
        color: #292b2c !important;
    }

    .card {
        border: 0px;
    }
        .card figure img {
            min-height: 270px;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            cursor: pointer;
        }

        .card figure:hover img {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }

    figure {
        overflow: hidden;
    }
    .card-img-overlay {
        top: 60%;
    }

    .img-full-width {
        display: block;
        width: 100%;
        object-fit: cover;
    }    

    .level-block {
        background: #1c1c1c26;
        display: block;
        padding: 10px 20px;
    }
</style>

<div class="body-wrapp destination clearfix" ng-controller="StoreController">
    <!--Header-->

    <section>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active img-cover">
                    <img class="img-full-width" src="http://daxushequ.com/data/out/102/img60216253.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <div style="background-color: #fff; margin: 30px 20%; padding: 20px ">
                            <h3 style="color: #1c1c1c">SPECIAL OFFER FOR BACKPACKERS</h3>
                            <button type="button" class="btn category-button-slider">Dark</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item img-cover">
                    <img class="img-full-width" src="http://daxushequ.com/data/out/102/img60216253.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <div style="background-color: #fff; margin: 30px 20%; padding: 20px ">
                            <h3 style="color: #1c1c1c">SPECIAL OFFER FOR BACKPACKERS</h3>
                            <button type="button" class="btn category-button-slider">Dark</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item img-cover">
                    <img class="img-fluid img-full-width" src="http://daxushequ.com/data/out/102/img60216253.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <div style="background-color: #fff; margin: 30px 20%; padding: 20px ">
                            <h3 style="color: #1c1c1c">SPECIAL OFFER FOR BACKPACKERS</h3>
                            <button type="button" class="btn category-button-slider">Dark</button>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <section style="background-color: #fff; padding:20px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    @foreach (var category in Model.Select((value, index) => new { Value = value, Index = index }))
                    {
                        if (category.Index == 2)
                        {
                            break;
                        }
                        <div class="card row" style="padding: 5px;" ng-click="categorydata('@category.Value.Id','@category.Value.Name')">
                            <center>
                                <figure><img class="img-fluid" src="~/Content/Uploaded/@category.Value.ImageUrl"></figure>
                            </center>
                            <div class="card-img-overlay">
                                <div class="level-block">
                                    <h6 style="color:#fff;">@category.Value.Name</h6>
                                    <svg width="100" height="10">
                                        <rect width="100" height="10" style="fill:rgb(255,255,255);stroke-width:3;border:1px solid #000000;" />
                                        Sorry, your browser does not support inline SVG.
                                    </svg>
                                </div>
                            </div>
                        </div>

                    }


                </div>
                <div class="col-md-4">
                    @foreach (var category in Model.Select((value, index) => new { Value = value, Index = index }))
                    {
                        if (category.Index == 2)
                        {
                            <div class="card row" style="padding: 5px" ng-click="categorydata('@category.Value.Id','@category.Value.Name')">
                                <center>
                                    <figure><img class="img-fluid" src="~/Content/Uploaded/@category.Value.ImageUrl"></figure>
                                </center>
                                <div class="card-img-overlay">
                                    <div class="level-block">
                                        <h6 style="color: #fff">@category.Value.Name</h6>
                                        <svg width="100" height="10">
                                            <rect width="100" height="10" style="fill:rgb(255,255,255);stroke-width:3;border:1px solid #000000;" />
                                            Sorry, your browser does not support inline SVG.
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            break;
                        }
                    }

                </div>
                <div class="col-md-4">
                    @foreach (var category in Model.Select((value, index) => new { Value = value, Index = index }))
                    {
                        if (category.Index == 0 || category.Index == 1 || category.Index == 2)
                        {
                            continue;
                        }
                        if (category.Index == 5)
                        {
                            break;
                        }
                        <div class="card row" style="padding: 5px;" ng-click="categorydata('@category.Value.Id','@category.Value.Name')">
                            <center>
                                <figure><img class="img-fluid" src="~/Content/Uploaded/@category.Value.ImageUrl"></figure>
                            </center>
                            <div class="card-img-overlay">
                                <div class="level-block">
                                    <h6 style="color: #fff">@category.Value.Name</h6>
                                    <svg width="100" height="10">
                                        <rect width="100" height="10" style="fill:rgb(255,255,255);stroke-width:3;" />
                                        Sorry, your browser does not support inline SVG.
                                    </svg>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>

    </section>

    <section class="details-content">
        <div class="container" style="padding:20px 0px;">
            <hr />
            <h3>{{Name}}</h3>
            <a asp-action="CategoryDetail" asp-controller="Store" asp-route-id="{{Id}}" class="btn btn-default">View All</a>
            <div class="row">
                <div class="col-md-3" ng-repeat="cat in categorydatalist">
                    <div class="category-div card">
                        <center>
                            <figure>
                                <img ng-init="image=cat.imageUrl!=null?'content/uploaded/'+cat.imageUrl:'content/uploaded/Codeit.jpg'" ng-src="{{image}}" class="img-responsive">
                            </figure>
                            <h6 class="category-heading">{{cat.name}}</h6>
                            <span class="category-sub-head">{{cat.description}}</span>

                            <p class="category-price">${{cat.price}}</p><br>
                                                                        <p class="category-button-span">
                                                                            <a ng-click="wishlistadd(cat.id)" title="Add to wish list" class="cursor-pointer"><i class="fa fa-heart category-icon" aria-hidden="true"> </i></a> &nbsp;&nbsp;
                                                                            <a href="store/ProductDetail/{{cat.id}}" class="btn category-button">GET IT NOW</a>&nbsp;&nbsp;
                                                                            <a ng-click="addtocart(cat.id,1)" title="Add to cart" class="cursor-pointer"><i class="fa fa-shopping-cart category-icon" aria-hidden="true"></i> </a>
                                                                        </p>
                        </center>
                    </div>
                </div>


            </div>
        </div>
    </section>
</div>
@section Scripts{
    <script src="~/AngularServices/Controllers/StoreController.js"></script>
   
}