﻿@model Dulwa.v1.ViewModel.StoreViewModel
@{
    Layout = "_dashboardlayout";

}
<div class="body-wrapp destination clearfix" ng-controller="StoreController">   
    <section class="details-content">
        <div class="container" style="padding: 20px;">            
            @*<div class="row">
                <div class="col-md-9">
                    <h4>Product Details</h4>
                </div>
            </div>*@
            <div class="row">
                <div class="preview col-md-6">
                    <div class="tab-content">
                        @foreach (var image in Model.StoreDetail.imageUrl.Select((value, index) => new { Value = value, Index = index }))
                        {
                            if (image.Index == 0)
                            {
                    <div class="tab-pane active" id="@image.Index" role="tabpanel">

                        <img class="img-fluid" src="~/Content/Uploaded/@image.Value" />
                    </div>
                            }
                            else
                            {

                    <div class="tab-pane" id="@image.Index" role="tabpanel">

                        <img class="img-fluid" src="~/Content/Uploaded/@image.Value" />
                    </div>
                            }

                        }

                        @*<div class="tab-pane" id="tab2" role="tabpanel"><img class="img-fluid" src="http://placekitten.com/150/90" /> </div>
        <div class="tab-pane" id="tab3" role="tabpanel"><img class="img-fluid" src="http://placekitten.com/150/90" /> </div>*@
                    </div>
                    <ul class="nav nav-tabs" role="tablist">
                        @foreach (var image in Model.StoreDetail.imageUrl.Select((value, index) => new { Value = value, Index = index }))
                        {
                            if (image.Index == 0)
                            { <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#@image.Index" role="tab" style="color: #1c1c1c!important"><img src="~/Content/Uploaded/@image.Value"  height="50"></a>
                            </li>}
                            else
                            {

                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#@image.Index" role="tab" style="color: #1c1c1c!important"><img src="~/Content/Uploaded/@image.Value" height="50"></a>
                    </li>
                            }
                        }

                    </ul>




                    @*<div class="tab-content">
                        <div class="tab-pane active" id="tab1" role="tabpanel">
                            <img class="img-fluid" src="http://placekitten.com/150/90" />
                        </div>
                        <div class="tab-pane" id="tab2" role="tabpanel"><img class="img-fluid" src="http://placekitten.com/150/90" /> </div>
                        <div class="tab-pane" id="tab3" role="tabpanel"><img class="img-fluid" src="http://placekitten.com/150/90" /> </div>
                    </div>
                    <ul class="nav nav-tabs" role="tablist">
                        @foreach (var image in Model.StoreDetail.imageUrl)
        {

                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" style="color: #1c1c1c!important"><img src="~/Content/Uploaded/@image" height="50"></a>
                </li>
}

                    </ul>*@
                </div>
                <div class="col-md-6">
                    <h4>Product name: @Model.Name</h4>
                    <h5>Description: @Model.Description</h5>
                    <h6>Gloves in black</h6>
                    <p>@Model.StoreDetail.description</p>
                    <br>
                    <span>Availability:</span> &nbsp;&nbsp;<span><b>Available</b></span><br>
                    <span>Product ID:</span> &nbsp;&nbsp;<span><b>#0884</b></span><br><br>
                    <span><b>$@Model.price</b></span>
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Quality</h6>
                            <div class="center-button">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                    <input type="text" name="quant" ng-model="quantity" class="form-control input-number" value="1">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h6>Size</h6>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Medium
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    @foreach (var size in Model.StoreDetail.size)
                    {

                        <li><a href="#">@size</a></li>

    }

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h6>Color</h6>
                            @foreach (var color in Model.StoreDetail.color)
            {

                <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>

}
                        </div>
                    </div><br /><br />
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">

                                <a ng-click="addtocart('@Model.Id',quantity)" class="btn btn-success cursor-pointer"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <section class="dulwa-packages pd-t-60" style="background-color: #fff; color: #1c1c1c; padding-bottom: 30px;">
        <div class="container">
            <div class="jr-site-centralize">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title flex-box">
                            <h1>Related Item <span class="sub-head" style="color: #111111">From the Store</span></h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="packages-items">
                            <div class="owl-carousel owl-theme">
                                <div class="item" style="height: auto;">
                                    <div class="category-div product" style="margin: 20px; background-color: #fff; color: #1c1c1c;padding-bottom: 30px;">
                                        <center>
                                            <figure>
                                                <img src="~/images/gloves.jpg" style="opacity: 1">
                                            </figure>
                                            <h6>Gloves</h6>
                                            <span>description</span><br>
                                            <span>$40</span><br>
                                            <span>
                                                <i class="fa fa-gift" aria-hidden="true"> </i> &nbsp;&nbsp;
                                                <button type="button" class="btn btn-dark">Dark</button>&nbsp;&nbsp;
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            </span>
                                        </center>
                                    </div>
                                </div>
                                <div class="item" style="height: auto;">
                                    <div class="category-div product" style="margin: 20px; background-color: #fff; color: #1c1c1c;padding-bottom: 30px;">
                                        <center>
                                            <figure>
                                                <img src="~/images/gloves.jpg" style="opacity: 1">
                                            </figure>
                                            <h6>Gloves</h6>
                                            <span>description</span><br>
                                            <span>$40</span><br>
                                            <span>
                                                <i class="fa fa-gift" aria-hidden="true"> </i> &nbsp;&nbsp;
                                                <button type="button" class="btn btn-dark">Dark</button>&nbsp;&nbsp;
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            </span>
                                        </center>
                                    </div>
                                </div>
                                <div class="item" style="height: auto;">
                                    <div class="category-div product" style="margin: 20px; background-color: #fff; color: #1c1c1c;padding-bottom: 30px;">
                                        <center>
                                            <figure>
                                                <img src="~/images/gloves.jpg" style="opacity: 1">
                                            </figure>
                                            <h6>Gloves</h6>
                                            <span>description</span><br>
                                            <span>$40</span><br>
                                            <span>
                                                <i class="fa fa-gift" aria-hidden="true"> </i> &nbsp;&nbsp;
                                                <button type="button" class="btn btn-dark">Dark</button>&nbsp;&nbsp;
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            </span>
                                        </center>
                                    </div>
                                </div>
                                <div class="item" style="height: auto;">
                                    <div class="category-div product" style="margin: 20px; background-color: #fff; color: #1c1c1c;padding-bottom: 30px;">
                                        <center>
                                            <figure>
                                                <img src="~/Content/Uploaded/07032018-23022018-16022018-jacket.jpg" style="opacity: 1">
                                            </figure>
                                            <h6>Gloves</h6>
                                            <span>description</span><br>
                                            <span>$40</span><br>
                                            <span>
                                                <i class="fa fa-gift" aria-hidden="true"> </i> &nbsp;&nbsp;
                                                <button type="button" class="btn btn-dark">Dark</button>&nbsp;&nbsp;
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            </span>
                                        </center>
                                    </div>
                                </div>
                                <div class="item" style="height: auto;">
                                    <div class="category-div product" style="margin: 20px; background-color: #fff; color: #1c1c1c;padding-bottom: 30px;">
                                        <center>
                                            <figure>
                                                <img src="~/images/gloves.jpg" style="opacity: 1">
                                            </figure>
                                            <h6>Gloves</h6>
                                            <span>description</span><br>
                                            <span>$40</span><br>
                                            <span>
                                                <i class="fa fa-gift" aria-hidden="true"> </i> &nbsp;&nbsp;
                                                <button type="button" class="btn btn-dark">Dark</button>&nbsp;&nbsp;
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            </span>
                                        </center>
                                    </div>
                                </div>
                                <div class="item" style="height: auto;">
                                    <div class="category-div product" style="margin: 20px; background-color: #fff; color: #1c1c1c;padding-bottom: 30px;">
                                        <center>
                                            <figure>
                                                <img src="~/images/gloves.jpg" style="opacity: 1">
                                            </figure>
                                            <h6>Gloves</h6>
                                            <span>description</span><br>
                                            <span>$40</span><br>
                                            <span>
                                                <i class="fa fa-gift" aria-hidden="true"> </i> &nbsp;&nbsp;
                                                <button type="button" class="btn btn-dark">Dark</button>&nbsp;&nbsp;
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            </span>
                                        </center>
                                    </div>
                                </div>
                                <div class="item" style="height: auto;">
                                    <div class="category-div product" style="margin: 20px; background-color: #fff; color: #1c1c1c;padding-bottom: 30px;">
                                        <center>
                                            <figure>
                                                <img src="~/images/gloves.jpg" style="opacity: 1">
                                            </figure>
                                            <h6>Gloves</h6>
                                            <span>description</span><br>
                                            <span>$40</span><br>
                                            <span>
                                                <i class="fa fa-gift" aria-hidden="true"> </i> &nbsp;&nbsp;
                                                <button type="button" class="btn btn-dark">Dark</button>&nbsp;&nbsp;
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            </span>
                                        </center>
                                    </div>
                                </div>
                                <div class="item" style="height: auto;">
                                    <div class="category-div product" style="margin: 20px; background-color: #fff; color: #1c1c1c;padding-bottom: 30px;">
                                        <center>
                                            <figure>
                                                <img src="~/images/gloves.jpg" style="opacity: 1">
                                            </figure>
                                            <h6>Gloves</h6>
                                            <span>description</span><br>
                                            <span>$40</span><br>
                                            <span>
                                                <i class="fa fa-gift" aria-hidden="true"> </i> &nbsp;&nbsp;
                                                <button type="button" class="btn btn-dark">Dark</button>&nbsp;&nbsp;
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            </span>
                                        </center>
                                    </div>
                                </div>
                                <div class="item" style="height: auto;">
                                    <div class="category-div product" style="margin: 20px; background-color: #fff; color: #1c1c1c;padding-bottom: 30px;">
                                        <center>
                                            <figure>
                                                <img src="~/images/gloves.jpg" style="opacity: 1">
                                            </figure>
                                            <h6>Gloves</h6>
                                            <span>description</span><br>
                                            <span>$40</span><br>
                                            <span>
                                                <i class="fa fa-gift" aria-hidden="true"> </i> &nbsp;&nbsp;
                                                <button type="button" class="btn btn-dark">Dark</button>&nbsp;&nbsp;
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            </span>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</div>

@section Scripts{ 
<script src="~/AngularServices/Services/mapServices.js"></script>
<script src="~/AngularServices/Controllers/StoreController.js"></script>
}