﻿@{
    ViewData["Title"] = "Index";
    Layout = "_dashboardlayout";
}

<link href="~/lib/light-gallery/dist/css/lightgallery.css" rel="stylesheet" />

<style>
    .demo {
        list-style: none outside none;
        padding-left: 0;
    }

        .demo li {
            display: block;
            float: left;
            height: 100px;
            margin-bottom: 6px;
            margin-right: 6px;
            width: 100px;
        }

        .demo img {
            max-width: 100%;
            height: auto;
        }
    .gallery-img {
        width: 100%;
        height: 300px;
        background-attachment: fixed;
        background-size: cover;
    }
    
    .gallery-a {
        text-decoration: none;
        color: #dedbdb;
    }
        .gallery-a:hover {
            color: #ffffff;
        }
        .width-full{
            width:100%;
        }
</style>

<div class="body-wrapp destination clearfix" ng-controller="GalleryController">
    <!--Ends-->
    <!--Top Banner-->
    <section class="d-banner gallery-banner banner-package clearfix flex-box" style="background-image: url('../../images/galleryImg.png')">
        <div class="package-title ">
            <div class="caption stories-banner-text text-align-center pd-l-40 pd-r-40">
                <h1>
                    <span>Dulwa Gallery</span><br>
                    <span class="small">Browse Pictures from Dulwa  Bucket</span>
                </h1>

                <div class="search-row flex-box">
                    <input type="text" placeholder="Eg: Pokhara Portrait">
                    <div class="select-wrap">
                        <select class="form-control" asp-items="ViewBag.DulwainfoId"></select>
                    </div>
                    <a href="#" class="custom-btn primary-btn">Browse</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Glimps-->
    <section class="glimps-gal gallery-details clearfix">
        <div class="section-title flex-box">
            <h1>Our Media gallery</h1>
            <div class="filter-btns">
                <span ng-click="GallerySpecific('all')">All</span>
                <span ng-click="GallerySpecific('image')">Images</span>
                <span ng-click="GallerySpecific('video')">Videos</span>
            </div>
        </div>


        @*<div id="gallerylist">

                <a ng-repeat="gallery in gallerylist" data-ng-href="/Content/Uploaded/galImg1.png">

                    <img src="~/Content/Uploaded/galImg1.png" />

                </a>

                <a href="~/Content/Uploaded/galImg1.png">

                        <img src="~/Content/Uploaded/galImg1.png" />

                    </a>

                    <a href="~/Content/Uploaded/galImg1.png">

                        <img src="~/Content/Uploaded/galImg1.png" />

                    </a>

            </div>*@
        @*<a href="~/Content/Uploaded/galImg1.png">

                    <img src="~/Content/Uploaded/galImg1.png" />

            </a>

            <a href="~/Content/Uploaded/galImg1.png">

                    <img src="~/Content/Uploaded/galImg1.png" />

            </a>*@


        <div class="gal-wrap flex-box">
            @*<a href="http://unitegallery.net" ng-repeat="gallery in gallerylist">
                           <img alt="{{gallery.id}}"
                                src='/Content/Uploaded/{{gallery.imageUrl}}'
                                data-image="/Content/Uploaded/{{gallery.imageUrl}}"
                                >
                </a>*@


            <div class="row width-full" id="gallerylist">
                
                    <a class="col-md-3 gallery-a" href="{{gallerylink}}" ng-repeat="gallery in gallerylist" id="galleryItem{{$index}}" 
                       ng-init="gallerylink=gallery.imageUrl!=null?'/content/uploaded/'+gallery.imageUrl:gallery.videoUrl;fileTye=gallery.imageUrl!=null?'ti-image':'ti-control-play';Image=gallery.imageUrl!=null?'/content/uploaded/'+gallery.imageUrl:'//img.youtube.com/vi/'+gallery.videoUrl.split('v=')[1].split('&')[0]+'/0.jpg'" data-sub-html="<h4>{{gallery.title}}</h4><p>{{gallery.description}}</p>">
                        <span class="item">
                            <img class="item gallery-img" src="{{Image}}" />
                            <div class="file-type" >
                                <i class="{{fileTye}}"></i>
                            </div>
                        </span>
                    </a>
                

            @*<a href="~/Content/Uploaded/111.jpg"><img src="~/Content/Uploaded/111.jpg" /></a>*@
            @*<div class="col-md-3" ng-repeat="gallery in gallerylist" id="galleryItem{{$index}}">
                <div class="item" ng-if="gallery.imageUrl != null?true:false">
                    <a href="https://www.youtube.com/watch?v=meBbDqAXago">
                        <img src="~/Content/Uploaded/menu-pasta.png" />
                    </a>
                    <a href="{{galleryLink}}"><img src="{{galleryLink}}" /></a>
                    <div class="file-type">
                        <i class="ti-image"></i>
                    </div>
                </div>
                @*<div class="item" ng-if="gallery.videoUrl != null?true:false">
                    <a href="https://www.youtube.com/watch?v=meBbDqAXago">
                        <img src="~/Content/Uploaded/153784617.jpg" />
                    </a>
                    <div class="file-type">
                        <i class="ti-control-play"></i>
                    </div>
                </div>*@
            </div>
        </div>


        <div class="lazy-load flex-box" ng-show="button">
            <a ng-click="loadmore()" class="custom-btn dark-grey-btn">Load more</a>
        </div>
    </section>
</div>

@section Scripts{

    <script src="~/AngularServices/Services/mapServices.js"></script>
    <script src="~/AngularServices/Controllers/GalleryController.js"></script>

    <script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
    <script src="~/lib/light-gallery/dist/js/lightgallery-all.js"></script>
    <script src="~/lib/light-gallery/dist/js/jquery.mousewheel.min.js"></script>
    @*<script>
            $(document).ready(function () {
                $('#gallerylist').lightGallery();
            });
        </script>*@
}
