//card desings

// Icons title text====================================
.card-design{

  padding: 0 30px;
  position: relative;


  .underline{
    width: 0;
    display: inline-block;
    height: 4px;
    background-color: black(0.4);
    margin-top: 40px;
    @include transition(0.4s);
  }


  .icon-holder{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    //background-color: black(0.06);
    text-align: center;
    line-height: 100px;
    display: inline-block;

    i{
      font-size: 54px;
      @include transition(0.4s);
    }


  }

  h3{
    font-size: $h6;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  p{
    font-size: 14px;
    line-height: 130%;
  }

  a{
    font-size: 14px;
    line-height: 160%;
    @include transition(0.4s);
    display: block;

  }

}
