//Features

.jr-site-features{
  background: black(0.08);

  .feature-list-wrap{

  }

  h4{
    &.section-title-tiny{
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
      color:$secondary-color;
      margin-bottom: 5px;
      letter-spacing: 4px;
    }
  }

  h2{
    &.section-title{
      font-size: 68px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }

  p{
    margin-bottom: 0;
  }

  .simple-box{
    background-color: darken($dark-grey-color,2%);

    &:nth-child(2){
      background-color: $dark-grey-color;
    }
    &.light-theme{
      background-color: $light-grey-color;
    }
  }

  .card-design{
    margin-bottom: 40px;
    padding: 0;

    &:last-child{
      margin-bottom: 0;
    }

    .icon-holder{
      height: 54px;
      max-width: 84px;
      line-height: 0;
      text-align: left;
      i{
        font-size: 34px;
      }
    }
    h3{
      text-transform: none;
      margin-bottom: 10px;
    }
  }

  .dark-theme{
    .icon-holder{
      i{
        color:white(0.5);
      }
    }
  }

}