//Header Component
header{
  color:white;

  ol, ul, dl{margin-bottom: 0;}

  .logo{}

  nav{
    ul{
      li{
        @include transition(0.4s);
        padding: 0 20px;
        border-radius: 2px;
        a{
          display: block;
          line-height: 44px;
          font-weight: 500;
          text-transform: uppercase;
          font-size: 14px;
          color:white;
          @include transition(0.4s);
        }

        &:hover,
        &.active-page{
          background-color: $primary-color;
          a{
            text-decoration: none;
            color: white;
          }
        }

      }
    }
  }

  .text-align-right{
      li{
        margin-left:15px;
      }
  }

  .text-align-left{
      li{
        margin-right:15px;
      }
  }

  .text-align-center{
      li{
        margin:0 8px;
      }
  }

  //Absolute Header
  &.absolute{
    position: absolute;
    top:34px;
    left:0;
    width: 100%;
    background-color: transparent;
    z-index: 9;
  }
}


