//milestone

.jr-site-milestone{
  background: {
    size:cover;
    position: center;
    attachment: fixed;
    image:url("../../img/milestonebg.jpg");
  }

  .milestone-counter{
    i{
      font-size: 54px;
    }
      .stat-count{
        font-size: 50px;
        font-weight: 700;
        display: block;
        margin-top: 10px;
      }

    .milestone-details{
        font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 4px;
    }

    @media all and (max-width: 767px){
      margin-bottom: 45px;
    }
  }

}
.dark-theme{
  .milestone-details{
    color:white(0.3);
  }
}
