//Portfolio
.jr-site-portfolio{

  h2{
    font-weight: 200;
    margin-bottom: 30px;
  }

  p{
    color:black(0.5);
  }

  .toolbar{
    button{
      cursor: pointer;
      background-color: transparent;
      font-size: 12px;
      font-weight: 600;
      @include transition(0.4s);
      color:black(0.4);
      border-radius: 0;
      &:hover{
        color: $primary-color;
      }
      &.active-work{
        color:$primary-color;
        border-bottom:solid 2px $primary-color;
      }
    }
    margin-bottom: 40px;
  }

}
