//services
.jr-site-services{
   h2{
    font-size: $h2;;
    font-weight: 200;
    margin-bottom: 30px;
  }
  p{
    color: black(0.5);
    margin-bottom: 60px;
  }

  .card-design{
    @media all and (max-width: 767px){
      margin-bottom: 40px;
    }


    &:hover{
      .icon-holder{
        i{
          color: $primary-color;
        }
      }
      a{
        color:black(0.8);
        text-decoration: none;
      }
      .underline{
        width: 80px;
      }
    }


  }

  &.dark-theme{
    i{
      color:white(0.8);
    }
    a{
      color:white(0.6);
    }
    .card-design{
      &:hover{
        a{
          color: white;
        }
      }
    }
  }

  &.light-theme{
    i{
      color:black(0.5);
    }
    a{
      color:black(0.5);
    }

    .card-design{
      &:hover{
        a{
          color: black(0.8);
        }
      }
    }
  }
}

