//styles
.sidebar{
  h2{
    color:white(0.5);
  }
  .dulwa-stories{
    background-color: transparent;
    h2{
      color:white(0.5);
    }
    .item{
      margin-bottom: 40px;
    }
  }
  .enquiry{
    input[type="text"],
    textarea{
      height: 52px;
      line-height: 52px;
      padding: 0 10px;
      font-size: 14px;
      color:white(0.4);
      font-weight: 500;
      background-color: white(0.06);
      width: 100%;
      border:none;
    }
    .form-field{
      margin-bottom: 20px;
      width: 100%;
    }
    textarea{
      height: 120px;
      line-height: 20px;
      padding: 10px;
    }
    button{
      border: none;
      cursor: pointer;
    }
  }
}

