//Component Introduction site

.jr-site-intro{

  h1{
    font-size: 70px;
  }
  h4{
    letter-spacing: 6px;
    color:white(0.4);
  }

  .custom-btn{
    margin-top:20px;
  }

  &.light-theme{
    background-color: $light-grey-color;
    color:black(0.6);
  }

  &.dark-theme{
    background-color: $dark-grey-color;
    color:white(0.6);
  }
}