//Styles

.jr-site-skillbar{
  overflow-x: hidden;

  background-color: $primary-color;

  .video-holder{
    position: relative;
    height: 100%;
    min-height: 500px;
    align-items: center;
    text-align: center;

    background: {
      size:cover;
      repeat: no-repeat;
      position: center;
    }

    &:before{
      content: '';
      height: 100%;
      width: 100%;
      background: black(0.6);
      position: absolute;
      top:0;
      left:0;
      z-index: 6;
    }
  }

  .skills{
    max-width: 580px;
    h2{
      font-weight: 100;
    }
  }

  .context{
    padding: 0;
    .control-holder{
      position: relative;
      z-index: 9;
      display: block;
      width: 100%;
      text-align: center;
      a{
        font-size: 54px;
        &:hover{
          text-decoration: none;
        }
      }
    }

  }

  .dark-theme{

  }

  .light-theme{


  }

}