//Styles
.left-cont-wrapp{
    width: 100%;
    max-width: 900px;
    padding: 80px 44px 80px 0;
}

.category-wrap{
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: solid 1px black(0.2);
    .title{
        align-items: center;
        margin-bottom: 40px;
        h3{
            margin-bottom: 0;
            font-size: 28px;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                left:0;
                bottom: -10px;
                height: 4px;
                width: 40px;
                background-color: $primary-color;
            }
        }
        button{
            margin-left:auto;
            border:none;
            cursor: pointer;

        }
    }
}

.common-posts{
    .item{
        margin-bottom: 30px;
        width: 100%;
        img{
            width: 100%;
            height: 175px;
            object-fit: cover;
            margin-bottom: 15px;
        }

        &.big{
            img{
                height: 424px;
            }
            a.title{
                font-size: 24px;
                font-weight: 600;
            }
        }

        .category{
            display: block;
            color:black(0.6);
            font-weight: 600;
            margin-bottom: 10px;
            font-size: 10px;
            text-transform: uppercase;
            letter-spacing: 4px;
        }

        .authors{
            font-size: 12px;
            display: block;
            margin-bottom: 5px;
            color:black(0.8);
            span{
                margin-right: 15px;
                i{
                    margin-right: 8px;
                }
            }
        }

        a.title{
            @include transition(0.3s);
            color:black(0.4);
            font-size: 14px;
            font-weight: 700;
            &:hover{
                color:black(0.8);
            }
        }
    }
}

.create-story{
    padding: 0 0 40px 0;
}


.popular-packages-side{
    .item{
        margin-bottom: 40px;
        img{
            height: 104px;
            width: 104px;
            object-fit: cover;
            max-width: 104px;
            flex:1;
            -webkit-flex:1;
        }

        .info{
            flex:2;
            -webkit-flex:2;
            padding-left:30px;

            .title{
                color:white(0.6);
                margin-bottom: 8px;
                display: block;
                @include transition(0.4s);
                &:hover{
                    color: $primary-color;
                }
            }
            .type{
                font-size: 11px;
                display: block;
                color:white(0.2);
                margin-bottom: 8px;
            }

            .time{
                font-size: 14px;
                color:white(0.4);
                i{margin-right: 8px;}
            }
        }
    }
}

.side-bar-gallery{
    .flex-box{
        flex-wrap: wrap;
        .item{
            padding: 0 10px;
            flex:0 0 33.33%;
            -webkit-flex:0 0 33.33%;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                @include transition(0.4s);
                opacity: 0.4;
            }

            &.isvideo{
                flex:0 0 100%;
                -webkit-flex:0 0 100%;
                margin-bottom: 15px;
                position: relative;
                height: 180px;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                .play-btn{
                    position: absolute;
                    font-size: 30px;
                    cursor: pointer;
                    line-height: 40px;
                    text-align: center;
                    height: 40px;
                    width: 40px;
                    top:calc(50% - 5px);
                    top:-webkit-calc(50% - 5px);
                    left:calc(50% - 24px);
                    left:-webkit-calc(50% - 24px);
                }
            }

            &:hover{
                img{
                    opacity: 0.9;
                }
            }
        }
    }
    
}

.stories-banner-text{
    h1{
        width: 100%;
        font-size: 68px;
        font-weight: 400;
        span{
            font-weight: 600;
        }
    }
}

.pagination{
    li{
        margin-right: 5px;
    }
    a{
        display: block;
        height: 45px;
        width: 45px;
        text-align: center;
        line-height: 48px;
        color: black(0.8);
        background-color:black(0.14);
        @include transition(0.4s);

        &:hover,
        &.active{
            background-color: black(0.6);
            color:white;
        }
    }
}

.cat-details-list{
    .title{
        h2{
            font-weight: 100;
            font-size: 60px;
            letter-spacing: -1px;
        }
    }

    .item{
        img{
            height: 340px;
        }

        .info{
            padding: 20px 30px;
        }
    }
}