//Styles
.stuff-shopping{
  margin-top: auto;
  background-color: black(0.08);
  position: relative;
  h1{
    font-weight: 100;
    margin-bottom: 80px;
    padding-left: 40px;
  }

  .img-holder{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin-bottom: 15px;
    overflow: hidden;
    display: inline-block;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .owl-carousel{
    text-align: center;
    .item{
      .title{
        font-weight: 200;
        color:black(0.8);
        display: block;
        font-size: 20px;
      }
      .type{
        display: block;
        color: #3478e8;
        margin-top: 5px;
      }

      a.details{
        font-size: 11px;
        color: black(0.8);
        display: block;
        text-transform: uppercase;
        @include transition(0.4s);
        margin-top: 5px;
        &:hover{
          color:$primary-color;
        }
      }
    }

    .owl-nav{
      position: absolute;
      top:-114px;
      right:40px;
      .ti-angle-left,
      .ti-angle-right{
        display: inline-block;
        cursor: pointer;
        margin-left: 20px;
      }
    }
  }

}