
#hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 5
}

@media all and (min-width:1430px) {
    #hamburger {
        display: none
    }
}

@media all and (max-width:760px) {
    #hamburger {
        background: #4bb5ef;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        opacity: .95;
        width: 100%;
        top: 0!important;
        left: 0!important
    }
    #hamburger .hamburger {
        margin-left: 10px
    }
}

#page,
body>.submenu {
    font-family: 'Open Sans', Arial, sans-serif
}

#page {
    /*background: url() calc(50% + 730px) -1160px no-repeat #4bb5ef;*/
    box-shadow: none;
    width: 100%;
    min-width: 320px;
    padding: 100px 0 160px 0;
    position: relative
}

html.mm-opened #page {
    overflow: hidden
}

body.header #page {
    background-position: calc(50% + 730px) -750px
}

body.p404,
body.p404 #page {
    background: #e34545
}

@media all and (min-width:1430px) {
    body:not(.p404) #page {
        width: 70%;
        margin-left: 30%
    }
}




.phone {
    padding: 132px 0;
    margin: 0 -100px;
    position: relative;
    z-index: 1
}

.phone:after,
.phone:before {
    content: '';
    background: url() center top no-repeat transparent;
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    z-index: -1
}

.phone:before {
    top: 0
}

.phone:after {
    background-position: center bottom;
    bottom: 0
}

.phone.red:after,
.phone.red:before {
    background-image: url()
}

.phone.green:after,
.phone.green:before {
    background-image: url()
}

.phone div {
    border-radius: 5px;
    overflow: hidden;
    background: #111;
    border: none;
    display: block;
    width: 280px;
    height: 450px;
    margin: 0 auto;
    position: relative
}

.phone iframe,
.tablet iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.tablet img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: auto
}

.phone+pre,
.tablet+pre {
    margin-top: 0
}

.stacked-phones {
    overflow: hidden;
    height: 550px;
    position: relative
}

.stacked-phones:after,
.tablets.rotatable:after {
    content: '';
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    display: block;
    height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 2
}

.stacked-phones .phone {
    width: 380px;
    margin-left: -190px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1
}

.stacked-phones .phone.green,
.stacked-phones .phone.red {
    z-index: 0;
    margin-top: 30px
}

.stacked-phones .phone:first-child {
    left: 23%
}

.stacked-phones .phone:last-child {
    left: 77%
}

.tablets>div {
    margin-bottom: 40px
}

.tablet {
    height: 510px;
    padding: 38px 72px;
    margin: 40px -20px 20px -20px;
    position: relative;
    z-index: 1;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: none .6s ease;
    transition: none .6s ease;
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, -webkit-transform;
    transition-property: transform, margin;
    transition-property: transform, margin, -webkit-transform
}

.tablet:after,
.tablet:before {
    content: '';
    background: url() left top no-repeat transparent;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0
}

.tablet:before {
    width: 30%;
    left: 0
}

.tablet:after {
    background-position: right top;
    width: 70%;
    right: 0
}

.tablet div {
    overflow: hidden;
    background: #111;
    border: none;
    display: block;
    width: 100%;
    height: 492px;
    position: relative;
    z-index: 1
}

.tablet div.img {
    overflow-y: auto
}

.tablet iframe {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: none .6s ease .6s;
    transition: none .6s ease .6s;
    -webkit-transition-property: width, height, top, left, -webkit-transform;
    transition-property: width, height, top, left, -webkit-transform;
    transition-property: transform, width, height, top, left;
    transition-property: transform, width, height, top, left, -webkit-transform
}

.tablets.rotatable {
    margin: -200px;
    margin-bottom: 0;
    padding-top: 200px;
    position: relative;
    overflow: hidden
}

.tablets.rotatable .tablet {
    width: 695px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -140px
}

.tablets.portrait .tablet {
    margin-top: 160px;
    margin-bottom: -260px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.tablets.portrait .tablet iframe {
    width: 490px;
    height: 690px;
    left: 100px;
    top: -100px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg)
}





body.home #page {
    background-image: none
}

body.home #page:before {
    background: url() calc(50% + 200px) -190px no-repeat #4bb5ef;
    content: '';
    display: block;
    height: 1150px;
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 2s ease, top 1s ease;
    transition: opacity 2s ease, top 1s ease
}

body.docready.home #page:before {
    top: 0;
    opacity: 1
}







@media all and (max-width:550px) {
    
    .row.phones .phone {
        margin-left: -100px;
        margin-right: -100px
    }
    .stacked-phones .phone:first-child,
    .stacked-phones .phone:last-child {
        display: none
    }
    #home-intro h1 {
        letter-spacing: -5px;
        font-size: 110px;
        line-height: 110px;
        margin-top: -40px
    }
    #features .wrapper .customize p,
    #features .wrapper .customize p:nth-child(even) {
        padding: 20px 0;
        margin: 0;
        min-height: 20px
    }
    #features .wrapper .customize p img {
        display: none
    }
}

@media all and (max-width:380px) {
    .phone {
        height: auto;
        padding: 20px 0
    }
    .phone:after,
    .phone:before {
        background: 0 0;
        content: none;
        display: none
    }
    .phone div {
        border: 10px solid #111
    }
    #features .stacked-phones {
        height: 360px
    }
}